{% extends "landing_base.html" %}
{% load staticfiles i18n bootstrap_tags %}
{% block title %}
    Enter Invitation
{% endblock %}
{% block content %}
    <section id="newshome">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="invitation-content">
                            <h1 class="newshome-header">{% trans "Get access to ekata beta" %}</h1>
                            {% if request.user.profile.invitation_verified %}
                                <p>
                                    You've already verified your invitation
                                </p>
                                <a style="color:#fff;" href="{% url 'dashboard:index' %}">Click here to go to dashboard</a>
                            {% else %}
                            <form action="{% url 'invitationsystem:addinvitation' %}" method="POST" class="form-horizontal">
                                {% csrf_token %}
                                {{ form|as_bootstrap }}
                                <button type="submit" name="button" class="btn btn-primary">{% trans "Submit" %}</button>
                            </form>
                            <a style="color: #fff; margin-top:20px;" href="{% url 'invitationsystem:index' %}">Click here to get an invitation id</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
