{% extends "landing_base.html" %}
{% load staticfiles i18n bootstrap_tags recaptcha2 %}
{% block title %}
    Get Invitation
{% endblock %}
{% block extrastyles %}
    {% recaptcha_init %}
{% endblock %}
{% block content %}
    <section id="newshome">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="invitation-content">
                            <h1 class="newshome-header">{% trans "Get your invite access key to the ekata beta" %}</h1>
                            <form id="getinviteform" action="{% url 'invitationsystem:index' %}" method="POST">
                                {% csrf_token %}
                                {{ form|as_bootstrap }}
                                <button type="submit" name="button" class="btn btn-primary">{% trans "Submit" %}</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
