<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title></title>
<style type="text/css">a:hover { text-decoration: none !important; }
	.header h1 {color: #fff !important; font: normal 33px Georgia, serif; margin: 0; padding: 0; line-height: 33px;}
	.header p {color: #dfa575; font: normal 11px Georgia, serif; margin: 0; padding: 0; line-height: 11px; letter-spacing: 2px}
	.content h2 {color:#8598a3 !important; font-weight: normal; margin: 0; padding: 0; font-style: italic; line-height: 30px; font-size: 30px;font-family: Georgia, serif; }
	.content p {color:#767676; font-weight: normal; margin: 0; padding: 0; line-height: 20px; font-size: 12px;font-family: Georgia, serif;}
	.content a {color: #d18648; text-decoration: none;}
	.footer p {padding: 0; font-size: 11px; color:#fff; margin: 0; font-family: Georgia, serif;}
	.footer a {color: #f7a766; text-decoration: none;}
</style>
<table align="center" border="0" cellpadding="0" cellspacing="0" width="100%">
	<tbody>
		<tr>
			<td align="center" style="margin: 0; padding: 0; background:#bccdd9 url('images/bg_email.png');padding: 35px 0">
			<table align="center" border="0" cellpadding="0" cellspacing="0" class="header" style="font-family: Georgia, serif;" width="650">
				<tbody>
					<tr>
						<td align="center" bgcolor="#698291" height="115">
						<h1 style="color: #fff !important; font: normal 33px Georgia, serif; margin: 0; padding: 0; line-height: 33px;"><singleline label="Title">Ekata Social</singleline></h1>

						<p style="color: #dfa575; font: normal 11px Georgia, serif; margin: 0; padding: 0; line-height: 11px;"><singleline label="Title">Socially Responsible</singleline></p>
						</td>
					</tr>
					<tr>
						<td height="5" style="font-size: 1px; height: 5px; line-height: 1px;">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<!-- header-->

			<table align="center" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="font-family: Georgia, serif; background: #fff;" width="650">
				<tbody>
					<tr>
						<td bgcolor="#ffffff" style="font-size: 0px;" width="14">&nbsp;</td>
						<td align="left" bgcolor="#ffffff" class="content" style="font-family: Georgia, serif; background: #fff; padding: 0 0 10px;" valign="top" width="620"><repeater> </repeater>
						<table border="0" cellpadding="0" cellspacing="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0;" width="620">
							<tbody>
								<tr>
									<td align="center" style="padding: 25px 0 5px; border-bottom: 2px solid #d2b49b;font-family: Georgia, serif; " valign="top"><img alt="" src="https://beta.ekata.social/media/ckeditor/2016/11/01/ekata-logo.png" style="width: 64px; height: 64px;" /></td>
								</tr>
								<tr>
									<td style="padding: 0; margin: 0" valign="top">
									<table border="0" cellpadding="0" cellspacing="0" style="color: #717171; font: normal 11px Georgia, serif; margin: 0; padding: 0;" width="620">
										<tbody>
											<tr>
												<td align="left" style="padding: 25px 0 0;">
												<h2 style="color:#8598a3 !important; font-weight: normal; margin: 0; padding: 0; font-style: italic; line-height: 30px; font-size: 30px;font-family: Georgia, serif; "><singleline label="Title">Your Invite Key: {{ invitation_id }}</singleline></h2>
												</td>
											</tr>
											<tr>
												<td style="padding: 15px 0 15px; border-bottom: 1px solid #d2b49b;" valign="top">&nbsp;
												<p>Instructions to join:</p>

												<p>1. Register <a href="{{ registration_url }}">here</a> </p>

												<p>2.&nbsp;When site asks for invitation key, after successful registration, use your one time access key.</p>

												<p>3. Any issues contact <a href="mailto:support@ekata.social?subject=Invitation%20Issue&amp;body=I'm having difficulty getting setup, please help.">support</a></p>
												</td>
											</tr>
										</tbody>
									</table>
									</td>
								</tr>
							</tbody>
						</table>
						</td>
						<td bgcolor="#ffffff" style="font-size: 0px; font-family: Georgia, serif; background: #fff;" width="16">&nbsp;</td>
					</tr>
				</tbody>
			</table>
			<!-- body -->

			<table align="center" bgcolor="#698291" border="0" cellpadding="0" cellspacing="0" class="footer" style="font-family: Georgia, serif; line-height: 10px;" width="650">
			</table>
			<!-- footer--></td>
		</tr>
	</tbody>
</table>
