{% extends "landing_base.html" %}
{% load staticfiles i18n %}
{% block title %}
    Get Invitation
{% endblock %}
{% block content %}
    <section id="newshome">
        <div class="overlay">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <div id="invitation-content">
                            <h1 class="newshome-header">{% trans "Get your invite access key to the ekata beta" %}</h1>
                            <p>
                                {% trans "Your request is sent!! You will get an invitation email soon with a link and invite key." %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
