@import 'react-mde-all.css'

:local(.container)
  padding 20px 30px
  margin-bottom 50px
  .boxes-in-right
    margin-top 40px
    margin-left 20px
    width 300px

:local(.notifications),
:local(.groupcard)
  shadow()
  margin-bottom 10px
  background-color #fff
  border-radius 3px
  transition box-shadow 0.3s ease-in-out
  &:hover
    $shadow_2()

:local(.notifications)
  margin-bottom 0


:local(.postsection)
   min-height fit-content
  .post-group
      margin 5px
      .date-area
          color #9B9B9B
          font-weight 600
          margin-bottom 10px
      .ui-post-group-card
          background-color #fff
          shadow()
          .post
              position relative
              margin 10px 20px
              &:before
                  display block
                  content ''
                  absolute left -7px top 12px
                  height 12px
                  width 12px
                  border-radius 50%
              &:after
                  display block
                  content ''
                  absolute left -2px top 24px bottom -22px
                  width 2px
                  background-color #E9E9E9
              &:last-child
                  &:after
                      display none
              &:nth-child(even)
                  &:before
                      background-color #50E3C2
              &:nth-child(odd)
                  &:before
                      background-color #F39C12
              .header
                  padding 0 20px
                  color #9B9B9B
              .header
                  margin-bottom 5px
                  display flex
                  align-items center
                  .avatar
                      width 30px
                      height 30px
                      border-radius 50%
                      background-color #9B9B9B
                  .info
                      margin-left 5px
                      font-size 12px
                      line-height 1.5
                      display flex
                      flex-direction column
                      .username
                          font-weight bold
                  .status
                      padding 0 10px
                      background-color color_green500
                      border-radius 3px
                      color #fff
                  .actions
                      margin-left 10px
                      i
                          cursor pointer
                      .dropdown-menu
                          top 0
                          left auto
                          right 0
                       &:hover
                           .dropdown-menu
                                 display block
              .content
                  padding 10px 30px
                  color #9B9B9B
                  h1, h2, h3, p
                      margin 10px 0
                      color #9B9B9B
                  h1
                      font-size 25px
                      &:first-of-type
                          position relative
                          text-align center
                          &:after
                              content ''
                              absolute left 45%
                              margin-top 5px
                              width 120px
                              height 2px
                              background-color #9b9b9b
                              display block
                  h2
                      font-size 20px
                  h3
                      font-size 18px
                  img
                      display block
                      max-width 100%
                      max-height 200px
              .footer
                  display flex
                  align-items center
                  margin-top 5px
                  padding 0 20px
                  color #9B9B9B
                  .social-buttons
                      font-size 18px
                      i
                          margin 0 5px
                  .comment-count
                      p
                          margin 0
  .ui-post-editor
       fixed right 385px bottom 65px
      .editor-area
          width 700px
          background-color #fff
          display none
          border-radius 3px
          &.visible
              display block
              animation fadeIn 0.3s
          $shadow_2()
          .mde-header
              height 70px
              padding 5px
              background-color rgba(#00bcd4, 0.85)
              border-radius 3px 3px 0 0
              .mde-header-group
                  margin-top 30px
                  .mde-header-item
                      button
                          color #fff
                          margin 0 10px
                  .mde-dropdown-header-item
                      button
                          color #878787
      .mde-text
          textarea
              height 200px
              resize none
              border-radius 0
              border none
              box-shadow none
              &:focus
                  box-shadow none
                  outline none
      .mde-preview
          .mde-preview-content
              height 200px
              overflow auto
              border none
      .action-buttons
          height 50px
          padding 5px
          background-color rgba(#00bcd4, 0.85)
          text-align right
          .preview-btn,
          .post-btn
              font-size 20px
              border none
              background-color transparent
              color #fff
              &:focus
                  outline none
          .preview-btn
              margin-right 5px
      .add-post-btn
          margin-top 10px
          float right
          background-color color_blue400
          color #fff
          border none
          width 50px
          height 50px
          border-radius 50%
          line-height 1
          $shadow_1()
          transition box-shadow 0.3s ease-in-out
          &.editor-visible
            background-color color_red400
          &:focus
            outline none
          &:hover
            $shadow_2()


:local(.groupcard)
  color #4a4a4a
  overflow hidden
  display flex
  flex-direction column
  &:hover
    .group-header-image
      transform scale(1.2)

  .card-inner
    flex 1
    position relative
  .card-header
    height 100px
    position relative
    border-width 0 0 1px
    padding 10px 20px
    color #fff
    overflow hidden
    .group-header-image
      absolute top left
      width 100%
      height 100%
      background-size 100% 100px
      background-repeat no-repeat
      opacity 0.3
      transition transform 0.5s
    .group-info
      position absolute
    .name
      font-size 20px
      font-weight font_light
    .category
      font-size 14px
      font-weight font_bold
      white-space pre-line
    &::before
      background-color color_cyan500
      opacity 0.85
      content ''
      display block
      height 100%
      width 100%
      absolute top right
  .card-circle-image
    width 92px
    height 92px
    background-color #e2e2e2
    background-position center
    background-repeat no-repeat
    position absolute
    left 50%
    margin-left -46px
    top 50px
    border-radius 50%
    border 2px #fff solid
    text-align center

  .card-body
    text-align center
    padding-top 46px
    h6
      font-size 16px
      font-weight font_bold
      margin-bottom 0
    p
      margin-top 0
      font-size 14px
      padding 0 20px
      overflow hidden

  .group-type-art
    .card-header
      &::before
        background-color color_blue500
  .group-type-activist
    .card-header
      &::before
        background-color color_amber500
  .group-type-political
    .card-header
      &::before
        background-color color_green500
  .group-type-news
    .card-header
      &::before
        background-color color_teal500
  .group-type-business
    .card-header
      &::before
        background-color color_blueGrey500
  .group-type-government
    .card-header
      &::before
        background-color color_brown500
  .group-type-blog
    .card-header
      &::before
        background-color color_orange500
  .group-type-nonprofit
    .card-header
      &::before
        background-color color_deepPurple500
