[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
amqp = "*"
anyjson = "*"
asgi-redis = "*"
asgiref = "*"
astroid = "*"
autobahn = "*"
"autopep8" = "*"
Babel = "*"
"backports.functools_lru_cache" = "*"
"backports.shutil_get_terminal_size" = "*"
"backports.ssl-match-hostname" = "*"
"beautifulsoup4" = "*"
billiard = "*"
bleach = "*"
celery = "*"
certifi = "*"
channels = "*"
chaussette = "*"
circus = "*"
circus-web = "*"
configparser = "*"
"contextlib2" = "*"
coreapi = "*"
coreschema = "*"
coverage = "*"
daphne = "*"
decorator = "*"
Django = "*"
django-allauth = "*"
django-appconf = "*"
django-bootstrap-pagination = "*"
django-ckeditor = "*"
django-compressor = "*"
django-countries = "*"
django-dbbackup = "*"
django-easy-timezones = "*"
django-el-pagination = "*"
django-filebrowser = "*"
django-filter = "*"
django-flat-responsive = "*"
django-forms-bootstrap = "*"
django-grappelli = "*"
django-guardian = "*"
django-markdown = "*"
django-markdown-deux = "*"
django-markdownx = "*"
django-object-actions = "*"
django-phonenumber-field = "*"
"django-recaptcha2" = "*"
django-redis-cache = "*"
django-reset-migrations = "*"
django-simple-history = "*"
django-tinymce = "*"
django-user-accounts = "*"
django-versatileimagefield = "*"
django-webpack-loader = "*"
django-websocket-redis = "*"
djangorestframework = "*"
"enum34" = "*"
"flake8" = "*"
flower = "*"
futures = "*"
"geoip2" = "*"
gevent = "*"
greenlet = "*"
"html5lib" = "*"
"httplib2" = "*"
iowait = "*"
ipaddress = "*"
ipython = "*"
ipython_genutils = "*"
"iso3166" = "*"
isort = "*"
itypes = "*"
"Jinja2" = "*"
jsonfield = "*"
kombu = "*"
lazy-object-proxy = "*"
Mako = "*"
Markdown = "*"
"markdown2" = "*"
MarkupSafe = "*"
maxminddb = "*"
mccabe = "*"
msgpack-python = "*"
oauthlib = "*"
"pathlib2" = "*"
"pep8" = "*"
pexpect = "*"
phonenumberslite = "*"
pickleshare = "*"
piexif = "*"
Pillow = "*"
prompt_toolkit = "*"
psutil = "*"
"psycopg2" = "*"
ptyprocess = "*"
pycodestyle = "*"
pyflakes = "*"
pygeoip = "*"
Pygments = "*"
PyJWT = "*"
pylint = "*"
python-bitcoinrpc = "*"
python_http_client = "*"
python-openid = "*"
pytz = "*"
pyzmq = "*"
raven = "*"
rcssmin = "*"
redis = "*"
requests = "*"
requests-oauthlib = "*"
rjsmin = "*"
sendgrid = "*"
sendgrid-django = "*"
simplegeneric = "*"
simplejson = "*"
singledispatch = "*"
six = "*"
smtpapi = "*"
stripe = "*"
tomako = "*"
"tornadio2" = "*"
tornado = "*"
traitlets = "*"
tweepy = "*"
twilio = "*"
Twisted = "*"
txaio = "*"
unicodecsv = "*"
uritemplate = "*"
wcwidth = "*"
wrapt = "*"
"zope.interface" = "*"

[dev-packages]

[requires]
python_version = "2.7"
