{% load i18n %}
<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <i class="fa fa-bell-o"></i>
    <span class="label bg-red" id="notindicator"></span>
</a>
{% if notifications %}
<ul class="dropdown-menu">
    <li class="notification-control">
        <a href="javascript:void(0)">
            <i class="fa fa-eye text-red"></i> Mark all as read
        </a>
    </li>
    <li>
        <ul class="menu">
    {% for notification in notifications %}
        {% ifequal notification.notification_type 1 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="{% url 'usertimeline:index' %}#{{notification.timeline_id}}">
                    <i class="fa fa-exchange text-blue"></i> {{ notification.sender }} {% trans "sent" %} {{ notification.amount }} {% trans "units" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 2 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="{% url 'usertimeline:index' %}#{{notification.timeline_id}}">
                    <i class="fa fa-exchange text-blue"></i> {{ notification.sender }} {% trans "requested" %} {{ notification.amount }} {% trans "units" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 3 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="{% url 'usertimeline:index' %}#{{notification.timeline_id}}">
                    <i class="fa fa-arrow-down text-orange"></i> {{ notification.amount|floatformat:8 }} {% trans "units released" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 4 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="{% url 'usertimeline:index' %}#{{notification.timeline_id}}">
                    <i class="fa fa-thumbs-o-up text-green"></i> {{ notification.sender }} {% trans "verfied as real user" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 5 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="{% url 'usertimeline:index' %}#{{notification.timeline_id}}">
                    <i class="fa fa-thumbs-o-down text-red"></i> {{ notification.sender }} {% trans "unverfied you" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 6 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="{% url 'usertimeline:index' %}#{{notification.timeline_id}}">
                    <i class="fa fa-user-plus text-green"></i> {{ notification.sender }} {% trans "sent a connection request" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 7 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="#">
                    <i class="fa fa-user-plus text-red"></i> {{ notification.sender }} {% trans "canceled connection request" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 8 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="#">
                    <i class="fa fa-user-plus text-green"></i> {{ notification.sender }} {% trans "accepted connection request" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 9 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="#">
                    <i class="fa fa-user-plus text-red"></i> {{ notification.sender }} {% trans "rejected connection request" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 10 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="#">
                    <i class="fa fa-user-plus text-red"></i> {{ notification.sender }} {% trans "disconnected you" %}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 11 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="/type/group/{{ notification.group_id }}/">
                    <i class="fa fa-user-plus text-red"></i> {{ notification.sender }} {% trans "invited you to group" %} {{ notification.group_name }}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 12 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="/type/group/joinrequests/{{ notification.group_id }}/">
                    <i class="fa fa-user-plus text-green"></i> {{ notification.sender }} {% trans "sent a join request to group" %} {{ notification.group_name }}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 13 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="{% url 'usertimeline:index' %}#{{notification.timeline_id}}">
                    {% ifequal notification.sysupdate_type '1' %}
                        <i class="fa fa-warning text-yellow"></i>
                    {% endifequal %}
                    {% ifequal notification.sysupdate_type '2' %}
                        <i class="fa fa-info-circle text-blue"></i>
                    {% endifequal %}
                    {% ifequal notification.sysupdate_type '3' %}
                        <i class="fa fa-ban text-red"></i>
                    {% endifequal %}
                    {{ notification.sysupdate_timestamp|date:"d/m/Y h:i a" }}
                    - {{ notification.sysupdate_message }}
                </a>
            </li>
        {% endifequal %}
        {% ifequal notification.notification_type 14 %}
            <li class="notification" data-id="{{ notification.id }}">
                <a href="{% url 'usertimeline:index' %}#{{notification.timeline_id}}">
                    <i class="fa fa-arrow-down text-orange"></i> {{ notification.amount }} {% trans "GRT distributed to your account" %}
                </a>
            </li>
        {% endifequal %}
    {% endfor %}
        </ul>
    </li>
</ul>
{% else %}
    <ul class="dropdown-menu">
        <li class="nonotification">
            <div class="nonotification-icon">
                <i class="fa fa-thumbs-up text-green"></i>
            </div>
            <div class="nonotification-text">
                {% trans "All caught up!!" %}
            </div>
        </li>
    </ul>
{% endif %}
