{% extends "landing_base.html" %}
{% load staticfiles i18n compress humanize %}
{% block title %}
	{% trans "Fund Ekata" %}
{% endblock %}
{% block extrastyles %}
    <link rel="stylesheet" href="{% static "dist/css/AdminLTE.css" %}?v=8.5.2">
    <style media="screen">
        .content {
            min-height: inherit;
            padding: 50px;
            margin-right: auto;
            margin-left: auto;
            margin-top: 50px;
            padding-left: 50px;
            padding-right: 50px;
			background-color: #F9F9F9;
        }
		@media (max-width: 767px) {
			.content {
    			min-height: inherit;
    			padding: 10px;
    			margin-right: auto;
    			margin-left: auto;
    			margin-top: 75px;
    			padding-left: 10px;
				padding-right: 10px;
			}
		}
        label {
            display: block;
        }
		.popovercontent {
            display: none;
        }
    </style>
{% endblock %}
{% block extrameta %}
		{% if ogtag %}
			<meta property="og:url" content="{{ request.build_absolute_uri }}" />
			<meta property="og:title" content="{{ ogtag.title }}" />
			<meta property="og:description" content="{{ ogtag.description }}" />
			<meta property="og:type" content="{{ ogtag.page_type }}">
			{% if ogtag.image %}
				<meta property="og:image" content="http{% if request.is_secure %}s{% endif %}://{{ request.META.HTTP_HOST }}{{ ogtag.image.url }}" />
			{% else %}
				<meta property="og:image" content="https://ekata.social/static/dist/img/ekata-logo-bk-200.png" />
			{% endif %}
			<meta property="fb:app_id" content="{{ ogtag.app_id }}">
		{% for extrameta in ogtag.extrametatag_set.all %}
			<meta property="{{ extrameta.meta_tag }}" content="{{ extrameta.description }}">
		{% endfor %}
		{% endif %}
{% endblock %}
{% block content %}
<section class="content">
	{% if crowdfund.header_html %}
	<div class="row">
	    <div class="col-md-12">
	        <div class="header-wrapper">
	            {{ crowdfund.header_html|safe }}
	            <div class="header-overlay">
	                {% if crowdfund.active and not end_date_passed %}
	                <button class="fund-btn" data-toggle="modal" data-target="#paymentFormModal">{% trans "FUND" %}</button>
	                <button class="fund-btn" id="sharebtn">{% trans "SHARE" %}</button>
	                {% endif %}
	            </div>
	        </div>
	    </div>
	</div>
	{% endif %}
    <div class="row">
        <div class="col-md-4 no-right-padding">
            <div class="box box-solid" style="min-height: 300px">
				<div class="box-body">
                    {% if crowdfund %}
                    <div class="widget-box">
                        <div class="product_features">
                            {% if crowdfund.productfeature_set.all %}
                                <ul>
                                    {% for feature in crowdfund.productfeature_set.all %}
                                        <li class="feature"><a href="#{{ feature.linked_card }}"><i class="fa fa-{{ feature.fa_icon_name }}" style="color: {{ feature.fa_icon_color }}; margin-right: 5px"></i>{{ feature.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            {% else %}
                                <p>{% trans "No product feature added" %}</p>
                            {% endif %}
                        </div>
                    </div>
                    {% else %}
                    <div class="widget-box" style="text-align: center; margin-top: 25%">
                        <h4>{% trans "No Crowdfund started" %}</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-solid" style="min-height: 300px">
                <div class="box-body">
                    {% if crowdfund %}
                        <div class="widget-box">
                            <h4 class="widget-box-title">{% trans "Introduction" %}</h4>
                            <div class="widget-box-text">
                                {% if crowdfund.introduction %}
                                    <p>
                                        {{ crowdfund.introduction }}
                                    </p>
                                {% else %}
                                    <p>
                                        {% trans "No introduction added" %}
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="widget-box">
                            <h4 class="widget-box-title">{% trans "Stats" %}</h4>
                            <hr class="widget-box-separator">
							<div class="crowdfund-stat-info">
								<div class="progress-wrapper">
                                    <p class="crowdfund-stat" style="float: left">{% trans "Goal" %} <span>${{ crowdfund.goal|intcomma }}</span> <span style="margin: 0 10px" class="hidden-xs">|</span></p>
                                    <p class="crowdfund-stat">{% trans "Pledged" %} <span>{% if crowdfund.raised %}${{ crowdfund.raised|intcomma }}{% else %}$0{% endif %}</span></p>
                                    <div class="progress" style="margin-top: 40px">
                                        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{ percent_raised }}" aria-valuemin="0" aria-valuemax="100" style="width:{{ percent_raised }}%"></div>
                                        <p>{% if crowdfund.raised %}${{ crowdfund.raised|intcomma }}{% else %}$0{% endif %}/${{ crowdfund.goal|intcomma }}</p>
                                    </div>
                                </div>
                                <div class="countdown-wrapper">
                                    <p class="crowdfund-stat">{% trans "Remaining Time" %}</p>
                                    <div class="countdown" id="endcountdown">
                                        <h1 id="day"></h1>
                                        <h1 id="hour"></h1>
                                        <h1 id="minute"></h1>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="widget-box" style="text-align: center">
                            <h4>{% trans "No Crowdfund started" %}</h4>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ crowdfund.cards_html|safe }}
        </div>
    </div>
    {% if crowdfund.active %}
    <div class="modal fade" id="paymentFormModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans "Fund Now" %}</h4>
          </div>
          <div class="modal-body" id="paymentFormBody">
              <form action="{% url 'crowdfunding:accept_payment' %}" method="post" id="payment-form">
                  <div class="alert alert-danger" id="payment-errors"></div>
                  <div class="">
                      <label>
                          <span>{% trans "Card" %}</span>
                          <div id="card-element">

                          </div>
                      </label>
                  </div>
                  <div class="form-group" id="div_id_amount">
                      <label>
                          <span>{% trans "Amount" %}</span>
                          <div class="input-group">
                              <input class="form-control" type="number" name="amount" placeholder="Enter amount or select from dropdown" min="1" required="required" value="{{ default_amount }}" id="id_amount">
                              <div class="input-group-btn">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                    {% for value in crowdfund.predefinedamount_set.all %}
                                        <li><a href="javascript:void(0);" class="pamount" data-value="{{ value.amount }}">$ {{ value.amount }}</a></li>
                                    {% endfor %}
                                </ul>
                              </div><!-- /btn-group -->
                          </div>
                      </label>
                  </div>
                  {% if not request.user.is_authenticated %}
                  <div class="form-group" id="div_id_fullname">
                      <label>
                          <span>{% trans "Full Name" %}</span>
                          <input class="form-control" type="text" name="fullname" id="id_fullname">
                      </label>
                  </div>
                  {% endif %}
                  <div class="form-group" style="margin-bottom: 50px" id="div_id_message">
                      <label>
                          <span>{% trans "Note" %}</span>
                          <input class="form-control" type="text" name="message" id="id_message" value="{{ crowdfund.default_note }}">
                      </label>
                  </div>
                  <div class="boxcontent-submitbtn newbtn" id="submitbtn" style="border-radius: 0">
                      <p>{% trans "Submit" %}</p>
                  </div
              </form>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
	<div class="modal fade" id="videoModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
              <video controls id="video">

              </video>
          </div>
        </div>
      </div>
    </div>
	<div class="popovercontent">
        <a class="btn btn-facebook btn-social-share" href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank"><i class="fa fa-facebook"></i></a>
        <a class="btn btn-google btn-social-share" href="https://plus.google.com/share?url={{ request.build_absolute_uri }}" onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;" target="_blank"><i class="fa fa-google-plus"></i></a>
        <a class="btn btn-twitter btn-social-share" href="https://twitter.com/share?url={{ request.build_absolute_uri }}"  onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
</section>
{% endblock %}
{% block extrascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.11.2/moment.min.js"></script>
<script src="{% static "plugins/slimScroll/jquery.slimscroll.min.js" %}"></script>
<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript" src="{% static "dist/js/jquery.countdown.min.js" %}"></script>
{% compress js %}
<script type="text/javascript">
    {% if crowdfund.end_date %}
    var countdown_time = moment('{{ crowdfund.end_date|date:"Y/m/d" }}').format("YYYY/MM/DD HH:mm");
    $("#endcountdown").countdown(countdown_time, function(event) {
        $("#day").html(event.strftime('%D') + '<span>D</span>');
        $("#hour").html(event.strftime('%H') + '<span>H</span>');
        $("#minute").html(event.strftime('%M') + '<span>M</span>');
    });
    {% endif %}
    $("#payment-errors").hide();
    var stripe = Stripe('{{ STRIPE_PUBLISHABLE_KEY }}');
    var elements = stripe.elements();
    var card = elements.create('card');
    var form = $('#payment-form');
    var payment_success = false;
    function apply_form_field_error(fieldname, error) {
      var input = $("#id_" + fieldname),
          container = $("#div_id_" + fieldname),
          error_msg = $("<span />").addClass("help-inline ajax-error").text(error[0]);
      container.addClass("has-error");
      error_msg.insertAfter(input);
    }
    function clear_form_field_errors(form) {
      $(".ajax-error", $(form)).remove();
      $(".has-error", $(form)).removeClass("has-error");
      $("#payment-errors").hide();
    }
    function django_message(error) {
      $("#payment-errors").html(error);
      $("#payment-errors").show();
    }
    function stripeTokenHandler(token) {
        $("#submitbtn").hide();
        previous_token = form.find("input[name='stripeToken']");
        if (previous_token.length) {
            for(i=0; i<previous_token.length; i++) { previous_token[i].remove(); }
        }
        form.append("<input type='hidden' name='stripeToken' value='" + token.id + "'>");
        $.ajax({
            url: form.attr('action'),
            type: form.attr('method'),
            data: form.serialize(),
            success: function (data) {
                $("#paymentFormBody").html(data);
                payment_success = true;
            },
            error: function (data) {
                $("#submitbtn").show();
                clear_form_field_errors(form);
                var response = $.parseJSON(data.responseText);
                $.each(response, function(index, value) {
                  if (index === "__all__") {
                    django_message(value);
                  } else {
                    apply_form_field_error(index, value);
                  }
                });
            }
        });
    }
    card.mount('#card-element');
    card.addEventListener('change', function(event) {
        clear_form_field_errors(form);
        if (event.error) {
            django_message(event.error.message);
            $("#submitbtn").show();
        }
    });
    $(document).on('click', '#submitbtn', function(){
        $("#submitbtn").hide();
        stripe.createToken(card).then(function(result) {
            clear_form_field_errors(form);
            if (result.error) {
                django_message(result.error.message);
                $("#submitbtn").show();
            } else {
                stripeTokenHandler(result.token);
            }
        });
    });
    $("#paymentFormModal").on('hidden.bs.modal', function () {
        if (payment_success) {
            location.reload();
        }
    });
    $('.pamount').click(function () {
        $("#id_amount").val($(this).data('value'));
    });
    $(".product_features").slimscroll({
        height: '250px',
        size: '3px',
        alwaysVisible: false
    });
	$("#sharebtn").popover({
		html : true,
		content: function() {
		  return $(".popovercontent").html();
		},
		placement: "auto",
		container: 'body',
		trigger: 'focus'
	});
	$(".feature>a").click(function (e) {
		e.preventDefault();
		var id = $(this).attr('href');
		$('html, body').animate({
			scrollTop: $(id).offset().top
		}, 1000);
	});
	var video = document.getElementById('video');
	video.width = 700;
	$(document).on('click', '.play-video', function () {
		var vidurl = $(this).data('video-url');
		var posterurl = $(this).data('cover-url');
		if (vidurl !== '/' + video.src.split('/').slice(3).join('/')) {
			video.src = vidurl;
			video.poster = posterurl;
		}
		$("#videoModal").modal('show');
	});
	$("#videoModal").on('hidden.bs.modal', function () {
		video.pause();
	});
</script>
{% endcompress %}
{% endblock %}
