{% extends "base.html" %}
{% load i18n bootstrap_tags %}
{% block title %}
    {% trans "Contact" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {% trans "Contact" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "contact" %}</a></li>
            </ol>
        </div>
    </section>
{% endblock content_header_new %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="text-center">
                        <h1>{% trans "Get in touch with us" %}</h1>
                        <p>{% trans "if you have any comments or questions, please get in touch. We’d love to hear fom you." %}</p>
                    </div>
                    <div class="col-md-8 col-md-offset-2">
                        <form action="." method="POST">
                            {% csrf_token %}
                            {{ form|as_bootstrap }}
                            <div class="text-center">
                                <button class="btn btn-primary" type="submit">{% trans "Submit" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
