{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Information" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {% trans "About our system" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Information" %}</a></li>
            </ol>
        </div>
    </section>
{% endblock content_header_new %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Information" %}</h3>
                </div>
                <div class="box-body">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum vel consectetur, porro pariatur voluptatem veritatis, dolorem itaque eveniet sunt dignissimos, excepturi maiores accusamus obcaecati, necessitatibus! Dolore magnam ullam, recusandae beatae!</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus architecto voluptate error aliquid? Tenetur veniam esse nam, aliquid facilis recusandae, perferendis ipsam suscipit quos facere vel dolorem assumenda eius quam.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa perferendis modi, velit ex consequuntur sunt reiciendis dolor? Esse quae veniam eius pariatur aliquam deleniti, dignissimos numquam eligendi, placeat quia perspiciatis?</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
