:local(.container)
	background-color #fff
	height subheader_height
	ui-border bottom
	padding 0 20px
	box-shadow 0 2px 4px 0 rgba(#000, 0.12)
	position relative
	//z-index 500

	.title
		font-size 16px
		margin-bottom 0
		font-weight font_bold
	.bread-link
		margin-top -4px
		margin-right 6px

	.issue-form
		padding 10px
