:local(.container)
	width inherit
	height 100px
	border-width 1px
	border-color rgb(221, 221, 221)
	border-bottom-style solid
	border-radius 0
	
	.dropped-files
		margin-top 10px
		height 55px
		overflow hidden
		overflow-y auto
		ul
			padding 0
			list-style none
	
	.remove-file
		float right
		margin-right 10px
		margin-top 5px
		cursor pointer
