b1()
	border 1px rgba(#000, 0.12) solid

:local(.container)
	color inherit
	padding 10px 30px 0 30px
	margin-bottom 60px
	overflow-y auto
	clearfix()

	.ui-group-card
		float left
		margin 10px
		padding 0
		width 300px
		height 350px
		background-color #fff
		color #4a4a4a
		shadow()
		b1()
		border-radius 6px
		overflow hidden
		display flex
		flex-direction column
		clearfix()

		+mobile()
			margin 10px 0
			width 100%
			height 380px

		.bottom-stat
			&:first-child
				border-right 1px #eee solid
			// &:last-child
			// 	border-left 1px #eee solid


		.card-inner
			flex 1
		.card-header
			height 100px
			position relative
			border-bottom 1px rgba(#000, 0.12) solid
			b1()
			border-width 0 0 1px
			padding 10px 20px
			color #fff
			.name
				font-size 20px
				font-weight font_light
			.category
				font-size 14px
				font-weight font_bold
				white-space pre-line
			.unsubscribe
				&:hover
					text-shadow 2px 3px rgba(0,0,0,0.09)
		.card-circle-image
			width 92px
			height 92px
			background-color #e2e2e2
			position absolute
			left 50%
			margin-left -46px
			bottom -46px
			border-radius 50%
			border 2px #fff solid
			text-align center
			img
				border-radius 50%
				margin 4px
			// &:after
			// 	position absolute
			// 	bottom -20px
			// 	right -60px
			// 	font-size 32px
			// 	font-family 'FontAwesome'
			// 	content '\f1eb'
			// 	color #ddd
			// 	transform rotateZ(45deg)
			// &.is-active
			// 	&:after
			// 		color theme_primary

		.card-body
			text-align center
			padding-top 46px
			h6
				font-size 16px
				font-weight font_bold
				margin-bottom 0
			p
				margin-top 0
				font-size 14px
				padding 0 20px
				height 50px
				overflow hidden
		.card-action
			color #fff
			font-size 20px
			text-align center
			padding 6px 0
	.ui-group-card
		&:nth-child(1)
			.card-header
				background-color color_blue500
			.card-action
				background-color color_blue500
		&:nth-child(2n)
			.card-header
				background-color color_amber500
			.card-action
				background-color color_amber500
		&:nth-child(3n)
			.card-header
				background-color color_green500
			.card-action
				background-color color_green500
		&:nth-child(4n)
			.card-header
				background-color color_teal500
			.card-action
				background-color color_teal500
		&:nth-child(5n)
			.card-header
				background-color color_pink500
			.card-action
				background-color color_pink500
	
	.form-group
		position relative
		margin-bottom 30px
		.control-label
			font-size 16px
			position absolute
			top 0
			transition 0.2s ease all
		.form-control
			&:focus
			&.has-value
				& + .control-label
					font-size 14px
					top -22px
		&:last-child
			margin-bottom 15px
		.select-dropdown
			position absolute
			width 100%
			height 100px
			overflow-y scroll
			top -40px
			padding 5px
			list-style none
			background-color #fff
			visibility hidden
			shadow()
			&.is-visible
				visibility visible
			.select-option
				padding 5px
				margin-top 5px
				&.selected
					color #fff
					background-color theme_primary
				&:hover
					cursor pointer
					color #fff
					background-color theme_primary
					$shadow_2()
