:local(.container)
	margin 20px 30px 70px 30px
	.boxes-in-right
		margin-left 20px
		width 400px

	+below(rupture.desktop-cutoff)
		display block
		flex-direction column
		.boxes-in-right
			margin 20px 0 20px 0
			width 100%
		:local(.management)
			height calc(100vh - 110px)
			flex-shrink 0
			flex initial
			margin-top -10px
			position relative
			z-index 200
		:local(.advertisement), :local(.notifications)
			min-height 250px
			width auto
			margin 0 0 20px 0

		:local(.management),
		:local(.advertisement),
		:local(.notifications)
			margin-left -20px
			margin-right -20px

:local(.management),
:local(.advertisement),
:local(.notifications)
	background-color #fff
	// border 1px rgba(#000, 0.1) solid
	shadow()

//:local(.notifications)
	//margin-bottom 20px


:local(.notifications),
:local(.advertisement)
	min-width 300px
	height 300px



:local(.management)
	.header-inner
		width 60%
		margin 10px auto
		text-align center
		> h4
			font-size 20px
			margin 20px auto 24px auto
			font-weight font_bold
			color #9B9B9B

	.members-list
		flex 1
		overflow-y auto


	.ui-member-item
		border 1px #eee solid
		border-width 1px 0 1px 0
		// position relative
		transform-origin center center
		z-index 10
		&:not(:first-child)
			margin-top -1px
		&:hover
			background-color rgba(#000, 0.1)
			z-index 100

		.ui-modal-content
			width 550px
			max-width 90vw

		.in-right
			padding 10px 20px
			justify-content flex-end
		.in-left
			padding 10px 20px
			.ui-avatar
				height 42px !important
				width 42px !important
				font-size 18px
				padding-top 8px
				margin-right 20px
			.ui-avatar,
			.details
				display inline-block

			.name
				font-size 16px
				font-weight font_bold
			.status
				margin-top -4px
				position relative
				margin-left 14px
				color rgba(#000, 0.5)
				&:before
					absolute top 7px left -14px
					background-color rgba(#000, 0.2)
					width 10px
					height 10px
					content ''
					border-radius 50%
				&.is-available:before
					background-color color_green500
				&.is-away:before
					background-color color_orange500

	.group-item
		&:nth-child(1)
			color color_blue500
		&:nth-child(2)
			color color_pink400
		&:nth-child(3)
			color color_green500
		&:nth-child(4)
			color color_lime500
		&:nth-child(5)
			color color_orange500
		&:nth-child(6)
			color color_lightBlue500
		&:nth-child(7)
			color color_deepOrange500
		&:nth-child(8)
			color color_indigo500


	.subscribed-groups
		width auto
		transition all 0.32s $ease-in-out-swift

		.group-item
			font-size 24px
			padding 4px 8px
			animation fadeIn 0.42s

	.subscribe-box
		display flex
		flex-direction column
		align-items center
		overflow hidden
		.box
			width 100%
			justify-content space-between

	.subscribe-box-group
		display flex
		flex-direction column
		align-items center
		flex-shrink 0
		justify-content center
		padding 20px
		width 100px
		cursor pointer
		text-align center

		.group-name
			font-size 14px
		&.is-inactive
			color #ddd
		.material-icons
			display block
			font-size 32px
			transform scale(1)
			transform-origin center bottom
			transition all 0.12s $ease-in-out-sine

		&:hover
			.material-icons
				transform scale(1.32)


:local(.advertisement)
	.ad-image
		overflow hidden
		background-color rgba(#000, 0.12)
		margin 8px
		position relative
		background-repeat no-repeat
		background-size cover
		background-position top left

		&:after, &:before
			position absolute
			left 10px
			bottom 10px
			font-family 'FontAwesome'
			color #DB4D3F
			z-index 8
			content '\f004'
		&:after
			color #fff
			font-size 26px
			bottom 4px
			left 7px
			text-shadow 0 0 8px rgba(#000, 0.32)
		&:before
			font-size 20px
			z-index 9


	.ad-controls
		height 32px
	.ad-title
		text-align center
	.ad-control
		height 32px
		width  32px
		text-align center
		opacity 0.6
		padding 4px 2px
		cursor pointer
		&:hover, &:active
			opacity 1
		&:active
			color theme_primary

:local(.notifications)
	.nc-header
		text-align center
		opacity 0.7
		font-size 16px
		padding 4px 12px
	.nc-list-item
		padding 4px 12px
		border-bottom 1px rgba(#000, 0.07) solid
		position relative
		&:first-child
			border-top 1px rgba(#000, 0.07) solid
		&:hover
			background-color rgba(#000, 0.07)
			z-index 10
		.name
			font-size 16px
			font-weight font_bold
		.subtext
			margin-top -4px
			font-size 12px
	.nf-btn
		border-radius 20px
		margin-left 8px
		background-color rgba(#000, 0.12)
		padding 2px 12px
		color #fff
		cursor pointer
		font-weight font_bold
		transition all 0.32s ease-in-out
		&.btn-accept
			background-color #4E92DF
		&.btn-deny
			background-color #DB4D3F
		&:hover
			box-shadow 0 3px 8px 0 rgba(#000, 0.12)
	.ui-avatar
		height 36px !important
		width 36px !important
		margin-right 12px
