{% extends "base.html" %}
{% load i18n staticfiles compress %}
{% block title %}
    {% trans "Email to sms" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {% trans "Email to SMS" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "email to sms" %}</a></li>
            </ol>
        </div>
    </section>
{% endblock content_header_new %}

{% block extrastyle %}
    <style type="text/css">
        .bootstrap-table {
            margin-top: 30px;
        }
    </style>
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="box box-solid">
            <div class="box-body">
                <div class="col-md-8 col-md-offset-2">
                    <div class="form-wrapper text-center">
                        <h3>{% trans "Help us to find working email to sms providers for your mobile number" %}</h3>
                        <p style="margin-top: 10px; margin-bottom: 10px">
                            {% trans "Please provide your mobile carrier, and number then verify you've received a text or not" %}
                        </p>
                        {% include "emailtosms/verifierform.html" %}
                        <div id="confirmationdiv">
                            <h1>{% trans "Did you get a code on your mobile?" %}</h1>
                            <h5>{% trans "This may take some time..." %}</h5>
                            <button class="btn btn-flat btn-success" id="confirm">{% trans "Yes" %}</button>
                            <button class="btn btn-flat btn-danger" id="deny">{% trans "No" %}</button>
                        </div>
                        {% include "emailtosms/verificationform.html" %}
                        <div id="thankyou">
                            <h1>{% trans "Thank you for helping us verify" %}</h1>
                            <a href="{% url 'emailtosms:index' %}">{% trans "verify another" %}</a>
                        </div>
                    </div>
                    {% if tried_verifying %}
                    <table class="table" id="carriertable">
                        <thead>
                            <tr>
                                <th data-visible="false">Id</th>
                                <th>Carrier</th>
                                <th>Tested</th>
                                <th>Passed</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for t in tried_verifying %}
                               {% for carrier in carriers %}
                                    {% if t.carrier.id == carrier.id %}
                                        <tr>
                                            <td>
                                                {{ carrier.id }}
                                            </td>
                                            <td>
                                                {{ carrier }}
                                            </td>
                                            <td>
                                                <i class="fa fa-check"></i>
                                            </td>
                                            <td>
                                                {% if t.failed %}
                                                    <i class="fa fa-times-circle"></i>
                                                {% else %}
                                                    <i class="fa fa-check"></i>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% else %}
                                    <tr>
                                        <td>
                                            {{ carrier.id }}
                                        </td>
                                        <td>
                                            {{ carrier }}
                                        </td>
                                        <td>

                                        </td>
                                        <td>

                                        </td>
                                    </tr>
                                    {% endif %}
                               {% endfor %}
                           {% endfor %}
                        </tbody>
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block extrascripts %}
    {% compress js %}
    <script>
        $("#confirmationdiv").hide();
        $("#verificationform").hide();
        $("#thankyou").hide();
        $('select').selectpicker({
            'liveSearch': true,
            'liveSearchPlaceholder': 'Type country or carrier',
            'size': 5
        });
        $(document).on('submit', '#verifierform', function(e){
            e.preventDefault();
            var frm = $("#verifierform");
            $("#verifierformsubmit").attr('value', 'Submitting..');
            $.ajax({
                url: '{% url 'emailtosms:add_verifier' %}',
                type: 'POST',
                data: frm.serialize(),
                success: function (data) {
                    $("#verifierform").hide();
                    $("#confirmationdiv").show();
                },
                error: function(data){
                    $("#verifierform").html(data.responseText);
                    $('select').selectpicker({
                        'liveSearch': true,
                    });
                    $("#verifierformsubmit").attr('value', 'Submit');
                }
            });
        });
        $("#confirm").click(function(){
            $("#confirmationdiv").hide();
            $("#verificationform").show();
        });
        $("#deny").click(function(){
            $("#confirmationdiv").hide();
            $("#thankyou").show();
        });
        $(document).on('submit', '#verificationform', function(e){
            e.preventDefault();
            var frm = $("#verificationform");
            $.ajax({
                url: '{% url 'emailtosms:verify_code' %}',
                type: 'POST',
                data: frm.serialize(),
                success: function (data) {
                    $("#verificationform").hide();
                    $("#thankyou").show();
                },
                error: function(data){
                    $("#verificationform").html(data.responseText);
                }
            });
        });
        $("#carriertable").bootstrapTable({
            'pagination': true,
            'pageNumber': 1,
            'pageSize': 10,
            'pageList': [5, 10, 15, 20, 25],
            'search': true,
        });
    </script>
    {% endcompress %}
{% endblock extrascripts %}
