:local(.container)
    position relative
    height 50px
    background-color theme_primary
    margin 10px 0
    padding 5px
    border-radius 3px
    color #fff
    align-items center
    shadow()
    &.is-important
        background-color #d32f2f
    .actions
        cursor pointer
    .time
        absolute bottom 2px right 25px
    .content
        a
            color #fff
