{% extends "base.html" %}
{% load i18n bootstrap_tags %}
{% block title %}
    {{ group.name }} | {% trans "Admin" %} | {% trans "Dashboard" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new no-search-bar">
        <div class="col-md-4">
            <h1>
                {% trans "Dashboard" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
                <li>{% trans "Admin" %}</li>
                <li class="active">{% trans "Dashboard" %}</li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ group.members.all.count }}</h3>
                    <p>{% trans "Members" %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="{% url 'g:members' group.id %}" class="small-box-footer">
                    {% trans "More info" %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>{{ joinrequests }}</h3>
                    <p>{% trans "New Request" %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
                <a href="{% url 'g:joinrequest' group.id %}" class="small-box-footer">
                    {% trans "More info" %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ pendingpost }}</h3>
                    <p>{% trans "Pending posts" %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-edit"></i>
                </div>
                <a href="{% url 'g:memberpostsadmin' group.id %}" class="small-box-footer">
                    {% trans "More info" %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ pendingcomment }}</h3>
                    <p>{% trans "Pending comment" %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-comment"></i>
                </div>
                <a href="{% url 'g:notapprovedcomments' group.id %}" class="small-box-footer">
                    {% trans "More info" %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
