{% extends "base.html" %}
{% load i18n bootstrap_tags guardian_tags %}
{% block title %}
    {{ group.name }} | {% trans "Admin" %} | {% trans "Settings" %}
{% endblock title %}
{% block content_header %}
    <h1>
        {{ group.name }} - {% trans "admin" %} - {% trans "settings" %}<br>
        <small><i class="fa fa-user"></i>
            {% if user and not user.is_anonymous %}
                <a>Hello, {{ user.username }}!</a>
                <br>
            {% endif %}
        </small>
    </h1>
{% endblock content_header %}
{% block content %}
    {% get_obj_perms request.user for group as "group_perms" %}
    {% if 'can_create_notification' in group_perms %}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#createNotificationModal"><i class="fa fa-info-circle"></i> {% trans "Send notification to members" %}</button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row" style="margin-top:10px;">
        <div class="col-md-4">
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-black" style="background: url('{{ group.header_image.url }}'); background-size: 345px 120px; background-repeat:no-repeat">
                    <h3 class="widget-user-username">{{ group.name }}</h3>
                    <h5 class="widget-user-desc">
                        {% ifequal group.group_type '9' %}
                            {{ group.group_type_other }}
                        {% else %}
                            {{ group.get_group_type_display }}
                        {% endifequal %}
                    </h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="{{ group.logo.thumbnail.128x128 }}" alt="Group Logo">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-12 border-right">
                            <div class="description-block">
                                <span class="description-text">{{ group.short_about }}</span>
                            </div>
                        </div>
                    </div>
                    {% if group.long_about %}
                        <div class="row">
                            <div class="col-sm-12 border-right">
                                <div class="description-block">
                                    <h4 class="description-header">{% trans "About Us" %}</h4>
                                    <span class="description-text">{{ group.long_about }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="header-title">{% trans "Edit Group" %}</h3>
                </div>
                <div class="box-body">
                    <form action="{% url 'g:adminsettings' group.id %}" method="POST" role="form" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" class="modal fade" id="createNotificationModal" role="dialog" aria-hidden="true" aria-labelledby="createNotificationModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="createNotificationModalLabel">{% trans "Create Notification" %}</h4>
                </div>
                <div class="modal-body" id="groupmodalbody">
                    {% include "groupsystem/createnotificationform.html" %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" id="createbutton">{% trans "Create" %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.Create Notification Modal -->
{% endblock content %}
{% block extrascripts %}
    <script>
        var val = $("#id_group_type").val();
        if (val === '9') {
            $("#div_id_group_type_other").show();
        }
        else {
            $("#div_id_group_type_other").hide();
        }
        $(document).on('change', '#id_group_type', function(event) {
            event.preventDefault();
            var val = $(this).val();
            if (val === '9') {
                $("#id_group_type_other").val("");
                $("#div_id_group_type_other").show();
            }
            else {
                $("#id_group_type_other").val("");
                $("#div_id_group_type_other").hide();
            }
        });
        $("#id_header_image").fileinput({'showUpload':false,});
        $("#id_logo").fileinput({'showUpload':false,});
        $("#createbutton").click(function(){
            var frm = $("#createnotificationform");
            $.ajax({
                url: frm.attr('action'),
                type: frm.attr('method'),
                data: frm.serialize(),
                success: function(data) {
                    $("#createNotificationModal").modal("hide");
                    $('.top-right').notify({
                        message: { text: '{% trans "Success" %}'},
                        type: 'info',
                    }).show();
                },
                error: function(data) {
                    frm.html(data.responseText);
                }
            });
        });
    </script>
{% endblock extrascripts %}
