{% extends "base.html" %}
{% load i18n bootstrap_tags guardian_tags %}
{% block title %}
    {{ group.name }} | {% trans "Admin" %} | {% trans "News" %}
{% endblock title %}
{% block extrastyle %}
    <style>
        .news-div {
            padding: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block content_header %}
    <h1>
        {{ group.name }} - {% trans "admin" %} - {% trans "news" %}<br>
        <small><i class="fa fa-user"></i>
            {% if user and not user.is_anonymous %}
                <a>Hello, {{ user.username }}!</a>
                <br>
            {% endif %}
        </small>
    </h1>
{% endblock content_header %}
{% block content %}
    <div class="row">
        {% get_obj_perms request.user for group as "group_perms" %}
        {% if 'can_read_news' in group_perms %}
        {% if group.news.all %}
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">{% trans "News" %}</h3>
                    </div>
                    <div class="box-body">
                        {% for news in group.news.all reversed %}
                            <div class="news-div">
                                <div class="pull-right">
                                    {{ news.created_on|date:"M j Y" }}
                                </div>
                                <hr>
                                <div class="news-title">
                                    <a href="javascript:void(0);" onclick="editNews({{ news.id }})">{{ news.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-6">
                <p>{% trans "No news!!" %}</p>
            </div>
        {% endif %}
        {% endif %}
        {% if 'can_create_news' in group_perms or 'can_update_news' in group_perms %}
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title" id="newseditheader">{% trans "Create News" %}</h3>
                </div>
                <div class="box-body" id="newsedit">
                    <form action="{% url 'g:adminnews' group.id %}" method="POST" role="form">
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}
{% block extrascripts %}
    <script>
        function editNews(news_id) {
            $.ajax({
                url: '{% url 'g:editnews' group.id %}?news_id=' + news_id,
                success: function(data) {
                    $("#newseditheader").text('{% trans "Edit news" %}');
                    $("#newsedit").html(data);
                }
            });
        }
        $(document).on('click', '#submitnews', function(event) {
            event.preventDefault();
            var frm = $("#newsform");
            $.ajax({
                url: frm.attr('action'),
                type: frm.attr('method'),
                data: frm.serialize(),
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: '{% trans "Success" %}'},
                        type: 'info',
                    }).show();
                    location.reload();
                },
                error: function(data) {
                    frm.html(data.responseText);
                }
            });
        });
    </script>
{% endblock extrascripts %}
