{% extends "base.html" %}
{% load i18n bootstrap_tags %}
{% block title %}
    {{ group.name }} | {% trans "Admin" %} | {% trans "Dashboard" %}
{% endblock title %}
{% block content_header %}
    <h1>
        {{ group.name }} - {% trans "admin" %} - {% trans "dashboard" %}<br>
        <small><i class="fa fa-user"></i>
            {% if user and not user.is_anonymous %}
                <a>Hello, {{ user.username }}!</a>
                <br>
            {% endif %}
        </small>
    </h1>
{% endblock content_header %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="small-box bg-green">
                <div class="inner">
                    <h3>{{ group.members.all.count }}</h3>
                    <p>{% trans "Members" %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="{% url 'g:members' group.id %}" class="small-box-footer">
                    {% trans "More info" %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-orange">
                <div class="inner">
                    <h3>{{ group.joinrequest.all.count }}</h3>
                    <p>{% trans "New Request" %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus"></i>
                </div>
                <a href="{% url 'g:joinrequest' group.id %}" class="small-box-footer">
                    {% trans "More info" %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-red">
                <div class="inner">
                    <h3>{{ pendingpost }}</h3>
                    <p>{% trans "Pending posts" %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-edit"></i>
                </div>
                <a href="{% url 'g:memberpostsadmin' group.id %}" class="small-box-footer">
                    {% trans "More info" %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="small-box bg-yellow">
                <div class="inner">
                    <h3>{{ pendingcomment }}</h3>
                    <p>{% trans "Pending comment" %}</p>
                </div>
                <div class="icon">
                    <i class="fa fa-comment"></i>
                </div>
                <a href="{% url 'g:notapprovedcomments' group.id %}" class="small-box-footer">
                    {% trans "More info" %} <i class="fa fa-arrow-circle-right"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock content %}
