{% extends "base.html" %}
{% load i18n bootstrap_tags guardian_tags compress %}
{% block title %}
    {{ group.name }} | {% trans "Admin" %} | {% trans "News" %}
{% endblock title %}
{% block extrastyle %}
    <style>
        .news-div {
            padding: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block content_header_new %}
    <section class="content-header-new no-search-bar">
        <div class="col-md-4">
            <h1>
                {% trans "News" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
                <li>{% trans "Admin" %}</li>
                <li class="active">{% trans "News" %}</li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    <div class="row">
        {% get_obj_perms request.user for group as "group_perms" %}
        {% if 'can_read_news' in group_perms %}
        {% if group.news.all %}
            <div class="col-md-6">
                <div class="box box-primary">
                    <div class="box-header">
                        <h3 class="box-title">{% trans "News" %}</h3>
                    </div>
                    <div class="box-body">
                        {% for news in group.news.all reversed %}
                            <div class="news-div">
                                <div class="pull-right">
                                    {{ news.created_on|date:"M j Y" }}
                                </div>
                                <hr>
                                <div class="news-title">
                                    <a href="javascript:void(0);" onclick="editNews({{ news.id }})">{{ news.title }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-6">
                <p>{% trans "No news!!" %}</p>
            </div>
        {% endif %}
        {% endif %}
        {% if 'can_create_news' in group_perms or 'can_update_news' in group_perms %}
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title" id="newseditheader">{% trans "Create News" %}</h3>
                </div>
                <div class="box-body" id="newsedit">
                    <form action="{% url 'g:adminnews' group.id %}" method="POST" role="form">
                        {% csrf_token %}
                        {{ form|as_bootstrap }}
                        <div class="pull-right">
                            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        {% endif %}
    </div>
{% endblock content %}
{% block extrascripts %}
    {% compress js %}
    <script>
        function editNews(news_id) {
            $.ajax({
                url: '{% url 'g:editnews' group.id %}?news_id=' + news_id,
                success: function(data) {
                    $("#newseditheader").text('{% trans "Edit news" %}');
                    $("#newsedit").html(data);
                }
            });
        }
        $(document).on('click', '#submitnews', function(event) {
            event.preventDefault();
            var frm = $("#newsform");
            $.ajax({
                url: frm.attr('action'),
                type: frm.attr('method'),
                data: frm.serialize(),
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: '{% trans "Success" %}'},
                        type: 'info',
                    }).show();
                    location.reload();
                },
                error: function(data) {
                    frm.html(data.responseText);
                }
            });
        });
    </script>
    {% endcompress %}
{% endblock extrascripts %}
