{% extends "base.html" %}
{% load i18n staticfiles bootstrap_tags %}
{% block title %}
    {{ group.name }} | {% trans "Bannedmembers" %} | Admin
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {{ group.name }} - {% trans "admin" %} - {% trans "bannedmembers" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
                <li class="active">{% trans "admin" %}</li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
    </section>
{% endblock content_header_new %}

{% block content %}
    <div class="row" style="margin-top:10px;">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table" id="memberstable" data-unique-id="id">
                        <thead>
                            <tr>
                                <th data-visible="false" data-field="id">Id</th>
                                <th>{% trans "User" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for member in group.banned_members.all %}
                                {% ifequal member request.user %}
                                {% else %}
                                    <tr>
                                        <td>{{ member.id }}</td>
                                        <td>
                                            <a href="{% url 'publicusers:user' member.id %}">{{ member.username }}</a>
                                        </td>
                                        <td>
                                            <button class="btn btn-xs btn-success" onclick="liftBan('{{ member.username }}')">{% trans "Lift Ban" %}</button>
                                        </td>
                                    </tr>
                                {% endifequal %}
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrascripts %}
    <script>
        function liftBan(username) {
            $.ajax({
                url: '{% url 'g:bannedmembers' group.id %}',
                type: 'POST',
                data: {'username': username},
                success: function (data){
                    $("#memberstable").bootstrapTable('removeByUniqueId', data.id);
                }
            });
        }
        $("#memberstable").bootstrapTable({
            'pagination': true,
            'pageNumber': 1,
            'pageSize': 10,
            'pageList': [5, 10, 15, 20, 25],
            'search': true,
        });
    </script>
{% endblock extrascripts %}
