{% extends "base.html" %}
{% load i18n staticfiles %}
{% block title %}
    {{ group.name }} | Admin | Comments
{% endblock title %}
{% block extrastyle %}
    <style>
        .news-div {
            padding: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block content_header_new %}
    <section class="content-header-new no-search-bar">
        <div class="col-md-4">
            <h1>
                {% trans "Comments" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
                <li>{% trans "Admin" %}</li>
                <li class="active">{% trans "Comments" %}</li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    {% if comments %}
                        {% for comment in comments reversed %}
                            <div class="news-div">
                                <div class="pull-right">
                                    <p>{{ comment.commented_on|date:"M j Y" }}</p>
                                </div>
                                <hr>
                                <div class="news-title">
                                    <p>{% trans "Post: " %}<a href="{% url 'g:postdetail' group.id comment.post.id %}">{{ comment.post.title }}</a></p>
                                    <p>{% trans "Commented By: " %}{{ comment.commentor }}</p>
                                    <p>
                                        {% trans "Comment: " %}{{ comment.comment|truncatewords:10 }}&nbsp;&nbsp;
                                        <span>
                                            <a href="{% url 'g:editcomment' group.id comment.id %}">{% trans "edit" %}</a>
                                            {% if not comment.approved %}
                                                <a href="javascript:void(0);" onclick="approveComment({{ comment.id }})">{% trans "approve" %}</a>
                                            {% endif %}
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <hr>
                        {% endfor %}
                    {% else %}
                        <p>{% trans "No comments!!" %}</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrascripts %}
    <script>
        function approveComment(comment_id) {
            $.ajax({
                url: '{% url 'g:approvecomment' group.id %}',
                type: 'POST',
                data: {'comment_id': comment_id},
                success: function(data) {
                    location.reload();
                },
                error: function(data) {
                    $('.top-right').notify({
                        message: { text: data.responseText},
                        type: 'error',
                    }).show();
                }
            });
        }
    </script>
{% endblock extrascripts %}
