{% extends "base.html" %}
{% load i18n bootstrap_tags guardian_tags %}
{% block title %}
    {{ group.name }} | {% trans "Custom roles" %} | {% trans "Admin" %}
{% endblock title %}
{% block extrastyle %}
    <style>
        .roles-div{
            padding: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {% trans "Custom Roles" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
                <li>{% trans "Admin" %}</li>
                <li class="active">{% trans "Custom Roles" %}</li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    {% get_obj_perms request.user for group as "group_perms" %}
    {% if 'can_create_custom_role' in group_perms %}
    <div class="row">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-primary" data-toggle="modal" data-target="#createRoleModal">{% trans "Create custom role" %}</button>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="row" style="margin-top:10px;">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Custom roles" %}</h3>
                </div>
                <div class="box-body">
                    {% if customroles %}
                        {% for customrole in customroles %}
                            <div class="roles-div">
                                <button class="btn btn-primary btn-block" onclick="loadDetail({{ group.id }} ,{{ customrole.id }})">
                                    {{ customrole.custom_role_name }}
                                </button>
                            </div>
                        {% endfor %}
                    {% else %}
                        <h5>{% trans "You don't have any custom roles defined" %}</h5>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Permissions" %}</h3>
                </div>
                <div class="box-body">
                    <div class="text-justify" id="perms">

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div tabindex="-1" class="modal fade" id="createRoleModal" role="dialog" aria-hidden="true" aria-labelledby="createRoleModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="createRoleModalLabel">{% trans "Create Custom Role" %}</h4>
                </div>
                <div class="modal-body" id="rolemodalbody">
                    {% include "groupsystem/customroleform.html" %}
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" id="createbutton">{% trans "Create" %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.Create Role Modal -->
{% endblock content %}
{% block extrascripts %}
    <script>
        function loadDetail(group, role) {
            $.ajax({
                url: '/g/editroleperm/' + group + '/' + role + '/',
                success: function (data) {
                    $("#perms").html(data);
                },
                error: function (data) {
                    $('.top-right').notify({
                        message: { text: '{% trans "You dont have permission to edit role" %}'},
                        type: 'error',
                    }).show();
                }
            });
        }
        $("#createbutton").click(function(){
            var frm = $("#createroleform");
            $.ajax({
                url: frm.attr('action'),
                type: frm.attr('method'),
                data: frm.serialize(),
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                    $("#createRoleModal").modal("hide");
                },
                error: function(data) {
                    frm.html(data.responseText);
                }
            });
        });
        $(document).on('click', '#submitperm', function(event) {
            event.preventDefault();
            var frm = $("#editroleform");
            $.ajax({
                url: frm.attr('action'),
                type: frm.attr('method'),
                data: frm.serialize(),
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                },
                error: function(data) {
                    frm.html(data.responseText);
                }
            });
        });
    </script>
{% endblock extrascripts %}
