{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ group.name }} | {% trans "Default roles" %} | {% trans "Admin" %}
{% endblock title %}
{% block extrastyle %}
    <style>
        .roles-div{
            padding: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block content_header %}
    <h1>
        {% trans "Default roles" %} | {% trans "Admin" %}<br>
        <small><i class="fa fa-user"></i>
            {% if user and not user.is_anonymous %}
                <a>Hello, {{ user.username }}!</a>
                <br>
            {% endif %}
        </small>
    </h1>
{% endblock content_header %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Default roles" %}</h3>
                </div>
                <div class="box-body">
                    {% for defaultrole in defaultroles %}
                        <div class="roles-div">
                            <button class="btn btn-primary btn-block" onclick="loadDetail('{{ defaultrole }}')">
                                {{ defaultrole }}
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Permissions" %}</h3>
                </div>
                <div class="box-body" id="perms">

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrascripts %}
    <script>
        function loadDetail(role) {
            $.ajax({
                url: '{% url 'g:groupdefaultrole' group.id %}?role_details=' + role,
                success: function (data) {
                    $("#perms").html(data);
                }
            });
        }
    </script>
{% endblock extrascripts %}
