{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ group.name }} | {% trans "Default roles" %} | {% trans "Admin" %}
{% endblock title %}
{% block extrastyle %}
    <style>
        .roles-div{
            padding: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {% trans "Default Roles" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
                <li>{% trans "Admin" %}</li>
                <li class="active">{% trans "Default Roles" %}</li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Default roles" %}</h3>
                </div>
                <div class="box-body">
                    {% for defaultrole in defaultroles %}
                        <div class="roles-div">
                            <button class="btn btn-primary btn-block" onclick="loadDetail('{{ defaultrole }}')">
                                {{ defaultrole }}
                            </button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Permissions" %}</h3>
                </div>
                <div class="box-body" id="perms">

                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrascripts %}
    <script>
        function loadDetail(role) {
            $.ajax({
                url: '{% url 'g:groupdefaultrole' group.id %}?role_details=' + role,
                success: function (data) {
                    $("#perms").html(data);
                }
            });
        }
    </script>
{% endblock extrascripts %}
