{% extends "base.html" %}
{% load i18n staticfiles bootstrap_tags %}
{% block title %}
    {{ group.name }} | Posts | Admin
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new no-search-bar">
        <div class="col-md-4">
            <h1>
                {{ group.name }} - {% trans "admin" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
                <li class="active">{% trans "admin" %}</li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <div class="col-md-4">
                        <h5>{% trans "Creator: " %}{{ post.creator }}</h5>
                        {% if post.admin_created %}
                        {% else %}
                            <p>{% trans "Approved: " %}{{ post.approved }}</p>
                            <p>{% trans "Approved By: " %}{{ post.approved_by }}</p>
                        {% endif %}
                        <p>{% trans "Post Created on: " %}{{ post.created_on|date:"M j Y" }}</p>
                    </div>
                    <div class="col-md-8">
                        <form role="form" method="POST" action="{% url 'g:editpost' group.id post.id %}">
                            {% csrf_token %}
                            {{ form|as_bootstrap }}
                            <div class="pull-right">
                                <button type="submit" id="submitnews" class="btn btn-primary">{% trans "Submit" %}</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrascripts %}
    <script>
        $("#id_post").wysihtml5({
            toolbar: {
                "fa": true,
                "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                "emphasis": true, //Italics, bold, etc. Default true
                "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                "html": false, //Button which allows you to edit the generated HTML. Default false
                "link": false, //Button to insert a link. Default true
                "image": false, //Button to insert an image. Default true,
                "color": true, //Button to change color of font
                "blockquote": true, //Blockquote
                "size": 'sm' //default: none, other options are xs, sm, lg
            }
        });
    </script>
{% endblock extrascripts %}
