{% extends "base.html" %}
{% load i18n %}
{% block title %}
    {{ group.name }} | {% trans "Admin" %} | {% trans "Events" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {{ group.name }}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
                <li class="active">{% trans "admin" %}</li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
    </section>
{% endblock content_header_new %}

{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Create Event" %}</h3>
                </div>
                <div class="box-body">
                    {% include "groupsystem/eventform.html" %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">{% trans "Events" %}</h3>
                </div>
                <div class="box-body">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrascripts %}
    <script>
        $('#calendar').fullCalendar({
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },
            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },
            events: [
                {% for event in events %}
                    {
                        id: '{{ event.id }}',
                        title: '{{ event.title }}',
                        start: '{{ event.start|date:"c" }}',
                        end: '{{ event.end|date:"c" }}',
                        backgroundColor: "{{ event.background_color }}",
                        borderColor: "{{ event.border_color }}"
                    },
                {% endfor %}
            ],
            eventClick: function(calEvent, jsEvent, view) {
                $("#id_event_id").val(calEvent.id);
                $("#id_title").val(calEvent.title);
                $("#id_start_date").val(calEvent.start.format('MM/DD/YYYY HH:mm'));
                if (calEvent.end) {
                    $("#id_end_date").val(calEvent.end.format('MM/DD/YYYY HH:mm'));
                }
                $("#id_color").val(calEvent.backgroundColor);
            }
        });
        $(".datepicker").datetimepicker({
            format: 'MM/DD/YYYY HH:mm',
            showClear: true,
        });
        $("#id_color").colorpicker();
        $(document).on('click', '#submitevent', function(event) {
            event.preventDefault();
            var frm = $("#eventform");
            $.ajax({
                url: frm.attr('action'),
                method: frm.attr('method'),
                data: frm.serialize(),
                success: function(data) {
                    $("#calendar").fullCalendar('removeEvents', data.id);
                    $("#calendar").fullCalendar('renderEvent', data, true);
                    $('.top-right').notify({
                        message: { text: "{% trans "Success!!" %}"},
                        type: 'info',
                    }).show();
                    frm[0].reset();
                    $("#id_event_id").val("");
                },
                error: function(data) {
                    frm.html(data.responseText);
                    $(".datepicker").datetimepicker({
                        format: 'MM/DD/YYYY HH:mm',
                        showClear: true,
                    });
                    $("#id_color").colorpicker();
                }
            });
        });
        $(document).on('click', '#clearevent', function(event) {
            event.preventDefault();
            var frm = $("#eventform");
            frm[0].reset();
            $("#id_event_id").val("");
        });
    </script>
{% endblock extrascripts %}
