{% extends "base.html" %}
{% load i18n guardian_tags compress %}
{% block title %}
    {{ group.name }}
{% endblock title %}
{% block extrastyle %}
    <style>
        .news-div {
            padding: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block content_header_new %}
    <section class="content-header-new no-search-bar">
        <div class="col-md-4">
            <h1>
                {{ group.name }}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    {% get_obj_perms request.user for group as "group_perms" %}
    {% if group_notification %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info fade in">
                    <p>{{ group_notification.notification }}</p>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-black" style="background: url('{{ group.header_image.url }}'); background-size: 345px 120px; background-repeat:no-repeat">
                    <h3 class="widget-user-username">{{ group.name }}</h3>
                    <h5 class="widget-user-desc">
                        {% ifequal group.group_type '9' %}
                            {{ group.group_type_other }}
                        {% else %}
                            {{ group.get_group_type_display }}
                        {% endifequal %}
                    </h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="{{ group.logo.thumbnail.128x128 }}" alt="Group Logo">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-12 border-right">
                            <div class="description-block">
                                <span class="description-text">{{ group.short_about }}</span>
                            </div>
                        </div>
                    </div>
                    {% if group.long_about %}
                        <div class="row">
                            <div class="col-sm-12 border-right">
                                <div class="description-block">
                                    <h4 class="description-header">{% trans "About Us" %}</h4>
                                    <span class="description-text">{{ group.long_about }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if request.user in group.members.all %}
                        {% if onlysuperadmin %}
                        {% else %}
                        <div class="row">
                            <div class="col-sm-12 border-right">
                                <button class="btn btn-primary btn-block" id="leavegroup" data-id='{{ joinrequest_sent.id }}'><i class="fa fa-times-circle"></i> {% trans "Leave Group" %}</button>
                            </div>
                        </div>
                        {% endif %}
                    {% else %}
                        {% if joinrequest_sent %}
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <button class="btn btn-primary btn-block" id="cancelrequest" data-id="{{ joinrequest_sent.id }}"><i class="fa fa-times-circle"></i> {% trans "Cancel Request" %}</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <button class="btn btn-primary btn-block" id="joingroup"><i class="fa fa-plus-circle"></i> {% trans "Join Group" %}</button>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <button class="btn btn-primary btn-block" id="joingroup"><i class="fa fa-plus-circle"></i> {% trans "Join Group" %}</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <button class="btn btn-primary btn-block" id="cancelrequest"><i class="fa fa-times-circle"></i> {% trans "Cancel Request" %}</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if request.user in group.subscribers.all %}
                        <div class="row" style="margin-top:10px">
                            <div class="col-sm-12 border-right">
                                <button class="btn btn-primary btn-block" id="unsubscribe"><i class="fa fa-times-circle"></i> {% trans "Unsubscribe" %}</button>
                            </div>
                        </div>
                    {% else %}
                        <div class="row" style="margin-top:10px">
                            <div class="col-sm-12 border-right">
                                <button class="btn btn-primary btn-block" id="subscribegroup"><i class="fa fa-rss-square"></i> {% trans "Subscribe" %}</button>
                            </div>
                        </div>
                    {% endif %}
                    {% if 'can_create_invite' in group_perms %}
                    <div class="row" style="margin-top:10px">
                        <div class="col-sm-12 border-right">
                            <input type="text" id="receivers">
                            <button class="btn btn-primary btn-block" id="inviteuser">{% trans "Invite User" %}</button>
                        </div>
                    </div>
                    {% endif %}
                    {% if 'can_access_admin' in group_perms %}
                    <div class="row" style="margin-top: 10px">
                        <div class="col-sm-12 border-right">
                            <a class="btn btn-primary btn-block" href="{% url 'g:groupdashboard' group.id %}">{% trans "Go to Group Admin" %}</a>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if 'can_read_news' in group_perms %}
            {% if group.news.all %}
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">{% trans "News" %}</h3>
                        </div>
                        <div class="box-body">
                            {% for news in group.news.all reversed %}
                                <div class="news-div">
                                    <div class="pull-right">
                                        {{ news.created_on|date:"M j Y" }}
                                    </div>
                                    <hr>
                                    <div class="news-title">
                                        <a href="javascript:void(0);" onclick="showNews({{ news.id }})">{{ news.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if 'can_read_news' in group_perms %}
    <div tabindex="-1" class="modal fade" id="newsModal" role="dialog" aria-hidden="true" aria-labelledby="newsModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="newsModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <p id="newsModalContent"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal" >{% trans "Close" %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.news Modal -->
    {% endif %}
{% endblock content %}
{% block extrascripts %}
    {% compress js %}
    <script>
        function showNews(news_id) {
            $.ajax({
                url: '/g/' + {{ group.id }} + '/n/' + news_id +  '/',
                success: function(data) {
                    $("#newsModalLabel").text(data.title);
                    $("#newsModalContent").text(data.content);
                    $("#newsModal").modal('show');
                },
                error: function(data) {
                    $("#newsModalLabel").text("Error");
                    $("#newsModalContent").text("Error loading news");
                    $("#newsModal").modal('show');
                }
            });
        }
        {% if joinrequest_sent %}
            $("#joingroup").hide();
        {% else %}
            $("#cancelrequest").hide();
        {% endif %}
        $("#joingroup").click(function(event) {
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'join'},
                success: function(data) {
                    $("#cancelrequest").attr('data-id', data.id);
                    $("#cancelrequest").show();
                    $("#joingroup").hide();
                    $('.top-right').notify({
                        message: { text: data.msg},
                        type: 'info',
                    }).show();
                }
            });
        });
        $("#subscribegroup").click(function(event) {
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'subscribe'},
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                    location.reload();
                }
            });
        });
        $("#cancelrequest").click(function(event) {
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'cancel', 'request_id': $(this).attr('data-id')},
                success: function(data) {
                    $("#joingroup").show();
                    $("#cancelrequest").hide();
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                }
            });
        });
        $("#receivers").tagit({
            autocomplete: {
                source: '{% url 'g:users_autocomplete' group.id %}',
            }
        });
        $("#inviteuser").click(function(){
            if ($("#receivers").val() !== '') {
                $.ajax({
                    url: '{% url 'g:inviteuser' group.id %}',
                    type: 'POST',
                    data: {'receivers': $("#receivers").val()},
                    success: function(data) {
                        $('.top-right').notify({
                            message: { text: data},
                            type: 'info',
                        }).show();
                        $("#receivers").tagit('removeAll');
                    }
                });
            }
        });
        $("#leavegroup").click(function(){
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'leave', 'request_id': $(this).attr('data-id')},
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                    location.reload();
                }
            });
        });
        $("#unsubscribe").click(function(event) {
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'unsubscribe'},
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                    location.reload();
                }
            });
        });
    </script>
    {% endcompress %}
{% endblock extrascripts %}
