{% extends "base.html" %}
{% load i18n guardian_tags %}
{% block title %}
    {{ group.name }}
{% endblock title %}
{% block extrastyle %}
    <style>
        .news-div {
            padding: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block extra_menus %}
    {% include "sidebar_group.html" %}
    {% include "sidebar_group_admin.html" %}
{% endblock extra_menus %}
{% block content_header %}
    <h1>
        {{ group.name }}<br>
        <small><i class="fa fa-user"></i>
            {% if user and not user.is_anonymous %}
                <a>Hello, {{ user.username }}!</a>
                <br>
            {% endif %}
        </small>
    </h1>
{% endblock content_header %}
{% block content %}
    {% get_obj_perms request.user for group as "group_perms" %}
    {% if group_notification %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info fade in">
                    <p>{{ group_notification.notification }}</p>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <div class="box box-widget widget-user">
                <div class="widget-user-header bg-black" style="background: url('{{ group.header_image.url }}'); background-size: 345px 120px; background-repeat:no-repeat">
                    <h3 class="widget-user-username">{{ group.name }}</h3>
                    <h5 class="widget-user-desc">
                        {% ifequal group.group_type '8' %}
                            {{ group.group_type_other }}
                        {% else %}
                            {{ group.get_group_type_display }}
                        {% endifequal %}
                    </h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="{{ group.logo.thumbnail.128x128 }}" alt="Group Logo">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-12 border-right">
                            <div class="description-block">
                                <span class="description-text">{{ group.short_about }}</span>
                            </div>
                        </div>
                    </div>
                    {% if group.long_about %}
                        <div class="row">
                            <div class="col-sm-12 border-right">
                                <div class="description-block">
                                    <h4 class="description-header">{% trans "About Us" %}</h4>
                                    <span class="description-text">{{ group.long_about }}</span>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    {% if request.user in group.members.all %}
                        <div class="row">
                            <div class="col-sm-12 border-right">
                                <button class="btn btn-primary btn-block" id="leavegroup" data-id='{{ joinrequest_sent.id }}'><i class="fa fa-times-circle"></i> {% trans "Leave Group" %}</button>
                            </div>
                        </div>
                    {% else %}
                        {% if joinrequest_sent %}
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <button class="btn btn-primary btn-block" id="cancelrequest" data-id="{{ joinrequest_sent.id }}"><i class="fa fa-times-circle"></i> {% trans "Cancel Request" %}</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <button class="btn btn-primary btn-block" id="joingroup"><i class="fa fa-plus-circle"></i> {% trans "Join Group" %}</button>
                                </div>
                            </div>
                        {% else %}
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <button class="btn btn-primary btn-block" id="joingroup"><i class="fa fa-plus-circle"></i> {% trans "Join Group" %}</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 border-right">
                                    <button class="btn btn-primary btn-block" id="cancelrequest"><i class="fa fa-times-circle"></i> {% trans "Cancel Request" %}</button>
                                </div>
                            </div>
                        {% endif %}
                    {% endif %}
                    {% if request.user in group.subscribers.all %}
                        <div class="row" style="margin-top:10px">
                            <div class="col-sm-12 border-right">
                                <button class="btn btn-primary btn-block" id="unsubscribe"><i class="fa fa-times-circle"></i> {% trans "Unsubscribe" %}</button>
                            </div>
                        </div>
                    {% else %}
                        <div class="row" style="margin-top:10px">
                            <div class="col-sm-12 border-right">
                                <button class="btn btn-primary btn-block" id="subscribegroup"><i class="fa fa-rss-square"></i> {% trans "Subscribe" %}</button>
                            </div>
                        </div>
                    {% endif %}
                    {% if 'can_create_invite' in group_perms %}
                    <div class="row" style="margin-top:10px">
                        <div class="col-sm-12 border-right">
                            <input type="text" class="form-control" id="receiver" placeholder="Enter username to invite....">
                            <button class="btn btn-primary btn-block" id="inviteuser">{% trans "Invite User" %}</button>
                        </div>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% if 'can_read_news' in group_perms %}
            {% if group.news.all %}
                <div class="col-md-8">
                    <div class="box box-primary">
                        <div class="box-header">
                            <h3 class="box-title">{% trans "News" %}</h3>
                        </div>
                        <div class="box-body">
                            {% for news in group.news.all reversed %}
                                <div class="news-div">
                                    <div class="pull-right">
                                        {{ news.created_on|date:"M j Y" }}
                                    </div>
                                    <hr>
                                    <div class="news-title">
                                        <a href="javascript:void(0);" onclick="showNews({{ news.id }})">{{ news.title }}</a>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endif %}
    </div>
    {% if 'can_read_news' in group_perms %}
    <div tabindex="-1" class="modal fade" id="newsModal" role="dialog" aria-hidden="true" aria-labelledby="newsModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                    <h4 class="modal-title" id="newsModalLabel"></h4>
                </div>
                <div class="modal-body">
                    <p id="newsModalContent"></p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" data-dismiss="modal" >{% trans "Close" %}</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.news Modal -->
    {% endif %}
{% endblock content %}
{% block extrascripts %}
    <script>
        $("#navleft").show();
        $("#navright").show();
        var navbar = 0;
        var maxnavbar = 2;
        var navbarcontent_classes = ['.mainnavcontent', '.groupnavcontent', '.groupadminnavcontent'];
        var navbar_names = ["{% trans "MAIN NAVIGATION" %}", "{{ group.name|upper }} NAVIGATION", "{{ group.name|upper }} ADMIN"]
        $.each(navbarcontent_classes ,function(index) {
            if (index !== 0) {
                $(navbarcontent_classes[index]).hide();
            }
        });
        $("#navright").click(function(event) {
            navRight();
        });
        $("#navleft").click(function(event) {
            navLeft();
        });
        $(".header").on('swipeleft', function(event) {
            navLeft();
        });
        $(".header").on('swiperight', function(event) {
            navRight();
        });
        function navRight() {
            var divclass = navbarcontent_classes[navbar];
            $(divclass).hide();
            if (navbar === maxnavbar) {
                var right_divclass = navbarcontent_classes[0];
            }
            else {
                var right_divclass = navbarcontent_classes[navbar + 1];
            }
            if (navbar === maxnavbar) {
                $("#navheader").text(navbar_names[0]);
            }
            else {
                $("#navheader").text(navbar_names[navbar + 1]);
            }
            $(right_divclass).show('slow');
            if (navbar === maxnavbar) {
                navbar = 0;
            }
            else {
                navbar = navbar + 1;
            }
        }
        function navLeft() {
            var divclass = navbarcontent_classes[navbar];
            $(divclass).hide();
            if (navbar === 0) {
                var left_divclass = navbarcontent_classes[maxnavbar];
            }
            else {
                var left_divclass = navbarcontent_classes[navbar - 1];
            }
            if (navbar === 0) {
                $("#navheader").text(navbar_names[maxnavbar]);
            }
            else {
                $("#navheader").text(navbar_names[navbar - 1]);
            }
            $(left_divclass).show('slow');
            if (navbar === 0) {
                navbar = maxnavbar;
            }
            else {
                navbar = navbar - 1;
            }
        }
        function showNews(news_id) {
            $.ajax({
                url: '/g/' + {{ group.id }} + '/n/' + news_id +  '/',
                success: function(data) {
                    $("#newsModalLabel").text(data.title);
                    $("#newsModalContent").text(data.content);
                    $("#newsModal").modal('show');
                },
                error: function(data) {
                    $("#newsModalLabel").text("Error");
                    $("#newsModalContent").text("Error loading news");
                    $("#newsModal").modal('show');
                }
            });
        }
        {% if joinrequest_sent %}
            $("#joingroup").hide();
        {% else %}
            $("#cancelrequest").hide();
        {% endif %}
        $("#joingroup").click(function(event) {
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'join'},
                success: function(data) {
                    $("#cancelrequest").attr('data-id', data.id);
                    $("#cancelrequest").show();
                    $("#joingroup").hide();
                    $('.top-right').notify({
                        message: { text: data.msg},
                        type: 'info',
                    }).show();
                }
            });
        });
        $("#subscribegroup").click(function(event) {
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'subscribe'},
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                    location.reload();
                }
            });
        });
        $("#cancelrequest").click(function(event) {
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'cancel', 'request_id': $(this).attr('data-id')},
                success: function(data) {
                    $("#joingroup").show();
                    $("#cancelrequest").hide();
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                }
            });
        });
        $("#inviteuser").click(function(){
            $.ajax({
                url: '{% url 'g:inviteuser' group.id %}',
                type: 'POST',
                data: {'receiver': $("#receiver").val()},
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                }
            });
        });
        $("#leavegroup").click(function(){
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'leave', 'request_id': $(this).attr('data-id')},
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                    location.reload();
                }
            });
        });
        $("#unsubscribe").click(function(event) {
            $.ajax({
                url: '{% url 'g:groupdetails' group.id %}',
                type: 'POST',
                data: {'type': 'unsubscribe'},
                success: function(data) {
                    $('.top-right').notify({
                        message: { text: data},
                        type: 'info',
                    }).show();
                    location.reload();
                }
            });
        });
    </script>
{% endblock extrascripts %}
