{% extends "base.html" %}
{% load i18n staticfiles bootstrap_tags guardian_tags %}
{% block title %}
    {{ group.name }} | JoinRequests | Admin
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {{ group.name }} - {% trans "admin" %} - {% trans "joinrequests" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Group" %}</a></li>
                <li class="active">{% trans "admin" %}</li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    {% get_obj_perms request.user for group as "group_perms" %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-body">
                    <table class="table" id="joinrequesttable" data-unique-id="id">
                        <thead>
                            <tr>
                                <th data-visible="false" data-field="id">Id</th>
                                <th>{% trans "User" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for joinrequest in joinrequests %}
                               <tr>
                                    <td>{{ joinrequest.id }}</td>
                                    <td>
                                        <a href="{% url 'publicusers:user' joinrequest.user.id %}">{{ joinrequest.user.username }}</a>
                                    </td>
                                    <td>
                                        {% if 'can_approve_joinrequest' in group_perms %}
                                            <button class="btn btn-xs btn-success" onclick="approveRequest({{ joinrequest.id }})">{% trans "Approve" %}</button>
                                        {% endif %}
                                        {% if 'can_deny_joinrequest' in group_perms %}
                                            <button class="btn btn-xs btn-danger" onclick="denyRequest({{ joinrequest.id }})">{% trans "Deny" %}</button>
                                        {% endif %}
                                    </td>
                               </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
{% block extrascripts %}
    <script>
        function approveRequest(request_id) {
            $.ajax({
                url: '{% url 'g:joinrequest' group.id %}',
                type: 'POST',
                data: {'req_type': 'approve', 'request_id': request_id},
                success: function (data){
                    $("#joinrequesttable").bootstrapTable('removeByUniqueId', data.id);
                },
                error: function (data) {
                    $('.top-right').notify({
                        message: { text: data.responseText},
                        type: 'error',
                    }).show();
                }
            });
        }
        function denyRequest(request_id) {
            $.ajax({
                url: '{% url 'g:joinrequest' group.id %}',
                type: 'POST',
                data: {'req_type': 'deny', 'request_id': request_id},
                success: function (data){
                    $("#joinrequesttable").bootstrapTable('removeByUniqueId', data.id);
                },
                error: function (data) {
                    $('.top-right').notify({
                        message: { text: data.responseText},
                        type: 'error',
                    }).show();
                }
            });
        }
        $("#joinrequesttable").bootstrapTable({
            'pagination': true,
            'pageNumber': 1,
            'pageSize': 10,
            'pageList': [5, 10, 15, 20, 25],
            'search': true,
        });
    </script>
{% endblock extrascripts %}
