{% extends "base.html" %}
{% load i18n staticfiles guardian_tags compress %}
{% block title %}
    {{ group.name }} | Posts
{% endblock title %}
{% block content_header %}
    <h1>
        {% trans "Posts" %}<br>
        <small><i class="fa fa-user"></i>
            {% if user and not user.is_anonymous %}
                <a>Hello, {{ user.username }}!</a>
                <br>
            {% endif %}
        </small>
    </h1>
{% endblock content_header %}
{% block content %}
    {% get_obj_perms request.user for group as "group_perms" %}
    {% if memberpost %}
        {% if 'can_create_post' in group_perms %}
        <div class="row">
            <div class="col-md-12">
                <div class="pull-right">
                    <button class="btn btn-primary" data-toggle="modal" data-target="#createPostModal">{% trans "Create Post" %}</button>
                </div>
            </div>
        </div>
        {% endif %}
    {% endif %}
    <div id="postwrapper">
        {% if posts %}
            {% for post in posts reversed %}
                {% if post.approved %}
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="box box-widget">
                            <div class="box-header with-border">
                                <div class="user-block">
                                    {% if memberpost %}
                                        {% if creator.profile.avatar_public %}
                                            {% if creator.profile.avatar %}
                                                <a href="#">
                                                    <img src="{{ creator.profile.avatar.thumbnail.128x128 }}" class="img-circle" alt="User Image">
                                                </a>
                                            {% else %}
                                                <a href="#">
                                                    <img src="{% static "dist/img/placeholder-user.png" %}" class="img-circle" width="128" height="128">
                                                </a>
                                            {% endif %}
                                        {% else %}
                                            <a href="#">
                                                <img src="{% static "dist/img/placeholder-user.png" %}" class="img-circle" width="128" height="128">
                                            </a>
                                        {% endif %}
                                        <span class="username"><a href="{% url 'publicusers:user' post.creator.id %}">{{ post.creator.username }}</a></span>
                                    {% else %}
                                        <img class="img-circle" src="{{ group.logo.thumbnail.128x128 }}" alt="Group Image">
                                        <span class="username"><a href="{% url 'g:groupdetails' group.id %}">{{ group.name }}</a></span>
                                    {% endif %}
                                    <span class="description">{{ post.created_on|date:"M j Y" }}</span>
                                </div>
                                <!-- /.user-block -->
                            </div>
                            <!-- /.box-header -->
                            <div class="box-body">
                                <!-- post text -->
                                <h1>{{ post.title }}</h1>
                                <p>{{ post.post|truncatewords_html:10|safe }}<span><a href="{% url 'g:postdetail' group.id post.id %}">{% trans "more" %}</a></span></p>
                                <!-- Social sharing buttons -->
                                <span class="pull-right text-muted" id="socialstatus">{{ post.likes.count }} likes - {{ post.comments.count }} comments</span>
                            </div>
                            <!-- /.box-body -->
                        </div>
                    </div>
                </div>
                {% endif %}
        {% endfor %}
        {% else %}
        <p>{% trans "No Posts Yet!!" %}</p>
        {% endif %}
    </div>
    {% if memberpost %}
        <div tabindex="-1" class="modal fade" id="createPostModal" role="dialog" aria-hidden="true" aria-labelledby="createPostModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button class="close" aria-hidden="true" type="button" data-dismiss="modal">×</button>
                        <h4 class="modal-title" id="createPostModalLabel">{% trans "Create Post" %}</h4>
                    </div>
                    <div class="modal-body">
                        {% include "groupsystem/creatememberpost.html" %}
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" id="submitpost" type="button">{% trans "Submit" %}</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.Create Post Modal -->
    {% endif %}
{% endblock content %}
{% block extrascripts %}
    {% compress js %}
    <script>
        {% if memberpost %}
            $("#id_post").wysihtml5({
                toolbar: {
                    "fa": true,
                    "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                    "emphasis": true, //Italics, bold, etc. Default true
                    "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                    "html": false, //Button which allows you to edit the generated HTML. Default false
                    "link": false, //Button to insert a link. Default true
                    "image": false, //Button to insert an image. Default true,
                    "color": true, //Button to change color of font
                    "blockquote": true, //Blockquote
                    "size": 'sm' //default: none, other options are xs, sm, lg
                }
            });
            $("#submitpost").click(function(){
                var frm = $("#createpostform");
                $.ajax({
                    url: frm.attr('action'),
                    type: frm.attr('method'),
                    data: frm.serialize(),
                    success: function(data) {
                        $("#createPostModal").modal("hide");
                        if (data.response_type == 'html') {
                            $('#postwrapper').prepend(data.response);
                        }
                        else {
                            $('.top-right').notify({
                                message: { text: data},
                                type: 'info',
                            }).show();
                        }
                    },
                    error: function(data) {
                        frm.html(data.responseText);
                        $("#id_post").wysihtml5({
                            toolbar: {
                                "fa": true,
                                "font-styles": true, //Font styling, e.g. h1, h2, etc. Default true
                                "emphasis": true, //Italics, bold, etc. Default true
                                "lists": true, //(Un)ordered lists, e.g. Bullets, Numbers. Default true
                                "html": false, //Button which allows you to edit the generated HTML. Default false
                                "link": false, //Button to insert a link. Default true
                                "image": false, //Button to insert an image. Default true,
                                "color": true, //Button to change color of font
                                "blockquote": true, //Blockquote
                                "size": 'sm' //default: none, other options are xs, sm, lg
                            }
                        });
                    }
                });
            });
        {% endif %}
    </script>
    {% endcompress %}
{% endblock extrascripts %}
