{% load i18n staticfiles %}
{% if post.approved %}
<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <div class="box box-widget">
            <div class="box-header with-border">
                <div class="user-block">
                    {% if creator.profile.avatar_public %}
                        {% if creator.profile.avatar %}
                            <a href="#">
                                <img src="{{ creator.profile.avatar.thumbnail.128x128 }}" class="img-circle" alt="User Image">
                            </a>
                        {% else %}
                            <a href="#">
                                <img src="{% static "dist/img/placeholder-user.png" %}" class="img-circle" width="128" height="128">
                            </a>
                        {% endif %}
                    {% else %}
                        <a href="#">
                            <img src="{% static "dist/img/placeholder-user.png" %}" class="img-circle" width="128" height="128">
                        </a>
                    {% endif %}
                    <span class="username"><a href="{% url 'publicusers:user' post.creator.id %}">{{ post.creator.username }}</a></span>
                    <span class="description">{{ post.created_on|date:"M j Y" }}</span>
                </div>
                <!-- /.user-block -->
            </div>
            <!-- /.box-header -->
            <div class="box-body">
                <!-- post text -->
                <h1>{{ post.title }}</h1>
                <p>{{ post.post|truncatewords_html:10|safe }}<span><a href="{% url 'g:postdetail' group.id post.id %}">{% trans "more" %}</a></span></p>
                <!-- Social sharing buttons -->
                <span class="pull-right text-muted" id="socialstatus">{{ post.likes.count }} likes - {{ post.comments.count }} comments</span>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>
{% endif %}
