{% extends "base.html" %}
{% load i18n staticfiles bootstrap_tags compress %}
{% block title %}
    {% trans "EmailTemplates | eBlast" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {% trans "Email Templates" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "eBlast" %}</a></li>
                <li class="active">{% trans "emailtemplates" %}</li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-solid">
                <div class="box-body listcontent-wrapper">
                    <div class="listcontent-list">
                        <div class="listcontent-header text-center">
                            <h4>{% trans "Template Lists" %}</h4>
                        </div>
                        <div class="listcontent-body lists">
                            {% include "eblast/emailtemplateslist.html" %}
                        </div>
                        {% if emailtemplates %}
                        <div class="listcontent-addnewbtn newbtn" id="addnewtemplate">
                            <p>
                                {% trans "Create Template" %}
                            </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-solid">
                <div class="box-body listcontent-contentwrapper">
                    <div class="listcontent-content">
                        {% if emailtemplates %}
                            {% for emailtemplate in emailtemplates %}
                                {% if forloop.counter == 1 %}
                                    {% include "eblast/emailtemplate.html" %}
                                {% endif %}
                            {% endfor %}
                        {% else %}
                            {% include "eblast/emailtemplateform.html" %}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    <script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
    {% compress js %}
    <script type="text/javascript">
        function reloadCKEditor() {
            $('textarea[data-type=ckeditortype]').each(function(){
                if($(this).data('processed') == "0" && $(this).attr('id').indexOf('__prefix__') == -1){
                    $(this).data('processed',"1");
                    $($(this).data('external-plugin-resources')).each(function(){
                        CKEDITOR.plugins.addExternal(this[0], this[1], this[2]);
                    });
                    CKEDITOR.replace($(this).attr('id'), $(this).data('config'));
                }
            });
        }
        function loadEmailTemplate(id) {
            $('.listcontent-content').load('{% url 'eblast:emailtemplates' %}?emailtemplate=' + id, function(){
                $('.emailTemplate').removeClass('selected');
                $('.emailTemplate[data-id=' + id + ']').addClass('selected');
                $('#id_html_file').fileinput({
                    showUpload: false
                });
                reloadCKEditor();
            });
        }
        {% if emailgroups %}
            var listheight = 500 - ($('.newbtn').outerHeight() + $('.newbtn').innerHeight());
        {% else %}
            var listheight = 500;
        {% endif %}
        $('#id_html_file').fileinput({
            showUpload: false
        });
        $(".lists").slimscroll({
            height: listheight + 'px'
        });
        var objectName = $(".objectName").html();
        CKEDITOR.disableAutoInline = true;
        $(document).on('click', '#newemailtemplateformbtn', function(){
            var form = $("#newemailtemplateform");
            var data = new FormData(form[0]);
            $.ajax({
                url: $(form).attr('action'),
                type: $(form).attr('method'),
                data: data,
                contentType: false,
                processData: false,
                success: function(data){
                    {% if emailtemplates %}
                        loadEmailTemplate(data.id);
                        $('.lists>ul').append(data.html);
                        $('.emailTemplate').removeClass('selected');
                        $('.emailTemplate[data-id=' + data.id + ']').addClass('selected');
                    {% else %}
                        location.reload();
                    {% endif %}
                },
                error: function(data){
                    $('.listcontent-content').html(data.responseText);
                    $('#id_html_file').fileinput({
                        showUpload: false
                    });
                    reloadCKEditor();
                }
            });
        });
        $("#addnewtemplate").click(function(){
            $('.listcontent-content').load('{% url 'eblast:add_emailtemplate' %}', function(){
                $('#id_html_file').fileinput({
                    showUpload: false
                });
                reloadCKEditor();
            });
        });
        $(document).on('click', '.emailTemplate', function(){
            var id = $(this).attr('data-id');
            var self = $(this);
            loadEmailTemplate(id);
        });
        $(document).on('click', '.deleteemailtemplate', function(){
            var emailtemplate_id = $(this).attr('data-id');
            swal({
                title: "You are about to delete this email template.",
                text: "Do you want to delete this?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "Yes, delete it!",
                closeOnConfirm: false
            },
            function(){
                $.ajax({
                    url: '{% url 'eblast:delete_emailtemplate' %}',
                    type: 'POST',
                    data: {'id': emailtemplate_id},
                    success: function(data){
                        swal({
                            title: "Deleted!",
                            text: "Template has been deleted.",
                            type: "success"
                        }, function () {
                            location.reload();
                            }
                        );
                    }
                });
            });
            return false;
        });
        $(document).on('click', '#editemailtemplateformbtn', function(){
            for(var instanceName in CKEDITOR.instances) {
                CKEDITOR.instances[instanceName].updateElement();
            }
            var form = $("#editemailtemplateform");
            var data = new FormData(form[0]);
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: data,
                contentType: false,
                processData: false,
                success: function(data){
                    loadEmailTemplate(data);
                },
                error: function(data){
                    $('.addgroupmember').html(data.responseText);
                    $('#id_html_file').fileinput({
                        showUpload: false
                    });
                    reloadCKEditor();
                }
            });
        });
        $(document).on('blur', '.objectName', function() {
            if (objectName!=$(this).html()){
                var id = $(this).data('id');
                var name = $(this).text();
                $.ajax({
                    url: '{% url 'eblast:change_template_name' %}',
                    data: {'id': id, 'name': name},
                    type: 'POST',
                    success: function () {
                        $('.emailTemplate[data-id=' + id + ']').text(name);
                    }
                });
            }
        });
        $("#liveSearch").keyup(function(){
            var _this = $(this);
            $.ajax({
                url: '{% url 'eblast:filter_template' %}',
                data: {'query': _this.val()},
                success: function (data) {
                    $('.lists').html(data);
                    $(".lists").slimscroll({
                        height: listheight + 'px'
                    });
                }
            });
        });
    </script>
    {% endcompress %}
{% endblock %}
