{% extends "base.html" %}
{% load i18n staticfiles compress %}
{% block title %}
    {% trans "Members" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new">
        <div class="col-md-4">
            <h1>
                {% trans "Members" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Dashboard" %}</a></li>
                <li class="active">{% trans "Members" %}</li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by username..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button class="btn btn-content-header" data-toggle="filter-sidebar"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
    </section>
{% endblock content_header_new %}
{% block content %}
<div class="row">
    <div class="col-md-12" id="searchresults">
        {% include page_template %}
    </div>
</div>
{% endblock content %}
{% block filter_sidebar_options %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="btn-filter btn-filter-left{% if 'online' in filters_enabled %} btn-filter-selected{% endif %}" data-filter-name='online' data-selected='true'>{% trans "Online" %}</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="btn-filter{% if 'offline' in filters_enabled %} btn-filter-selected{% endif %}" data-filter-name='offline' data-selected='true'>{% trans "Offline" %}</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="btn-filter btn-filter-left{% if 'staff' in filters_enabled %} btn-filter-selected{% endif %}" data-filter-name='staff' data-selected='true'>{% trans "Staff" %}</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="btn-filter{% if 'member' in filters_enabled %} btn-filter-selected{% endif %}" data-filter-name='member' data-selected='true'>{% trans "Member" %}</button>
    </div>
</div>
{% endblock %}
{% block extrascripts %}
    <script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
    {% compress js %}
    <script type="text/javascript">
    var filters_enabled =
    [{% for filter_enabled in filters_enabled %}
        '{{ filter_enabled }}',
    {% endfor %}];
    function isFilterChanged(){
        return filters_enabled.length !== 4;
    }
    function applyFilters() {
        if (filters_enabled.length) {
            var filters = filters_enabled;
            $.ajax({
                url: '{% url 'publicusers:index' %}',
                data: {'filters_enabled': filters},
                success: function (data) {
                    $('#searchresults').html(data);
                    var o = $.AdminLTE.options.filterSidebarOptions;
                    var sidebar = $(o.selector);
                    $.AdminLTE.filterSidebar.close(sidebar, o.slide);
                }
            });
        }
    };
    function isOnlineFilterEnabled() {
        var index = filters_enabled.indexOf('online');
        if (index > -1) {
            return true;
        }
        return false;
    }
    (function getOnlineUsers(){
        $.ajax({
            url: '{% url 'publicusers:getonlineusers' %}',
            success: function(data){
                if (isFilterChanged() && isOnlineFilterEnabled()) {
                    var notVisibleMembers = [];
                    $.each(data, function(k, v){
                        if(data[k] === 'online') {
                            if (!($(".member[data-id=" + k + "]").length)) {
                                notVisibleMembers.push(k);
                            }
                        }
                        else {
                            if ($(".member[data-id=" + k + "]").length) {
                                $(".member[data-id=" + k + "]").remove();
                            }
                        }
                    });
                    if (notVisibleMembers.length) {
                        $.ajax({
                            url: '{% url 'publicusers:get_missing_users' %}',
                            data: {'users': notVisibleMembers},
                            success: function(data) {
                                $(".member-wrapper").append(data);
                            }
                        });
                    }
                }
                else {
                    $('.member').each(function(){
                        var _this = $(this);
                        var user_id = _this.data('id');
                        $.each(data, function(k, v){
                            if (k == user_id) {
                                if (data[k] === 'online') {
                                    _this.addClass('member-online');
                                }
                                else {
                                    _this.removeClass('member-online');
                                }
                            }
                        })
                    });
                }
            },
            complete: function() {
                setTimeout(getOnlineUsers, 15000);
            }
        });
    })();
    $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 20
    });
    $('.btn-filter').click(function(){
        var _this = $(this);
        if (_this.data('selected')) {
            var index = filters_enabled.indexOf(_this.data('filter-name'));

            if (index > -1) {
                filters_enabled.splice(index, 1);
            }
            _this.data('selected', false);
            _this.removeClass('btn-filter-selected');
        }
        else {
            filters_enabled.push(_this.data('filter-name'));
            _this.data('selected', true);
            _this.addClass('btn-filter-selected');
        }
    });
    $('#applyFilters').click(function() {
        var o = $.AdminLTE.options.filterSidebarOptions;
        var sidebar = $(o.selector);
        $.AdminLTE.filterSidebar.close(sidebar, o.slide);
        applyFilters();
    });
    $("#liveSearch").keyup(function(){
        var _this = $(this);
        if (filters_enabled.length) {
            var data = {'filters_enabled': filters_enabled, 'q': _this.val()};
        }
        else {
            var data = {'q': _this.val()};
        }
        $.ajax({
            url: '{% url 'publicusers:index' %}',
            data: data,
            success: function (data) {
                $('#searchresults').html(data);
            }
        });
    });
    var mouse_is_inside = false;
    $(".filterbtn, .filter-sidebar, .filter-sidebar-bg").hover(function(){
        mouse_is_inside=true;
    }, function(){
        mouse_is_inside=false;
    });
    $(document).click(function () {
        var o = $.AdminLTE.options.filterSidebarOptions;
        var sidebar = $(o.selector);
        if (($('body').hasClass('filter-sidebar-open') || sidebar.hasClass('filter-sidebar-open')) && ! mouse_is_inside) {
            $.AdminLTE.filterSidebar.close(sidebar, o.slide);
            applyFilters();
        }
    });
    $(".btn-content-header").click(function(){
        var o = $.AdminLTE.options.filterSidebarOptions;
        var sidebar = $(o.selector);
        if (($('body').hasClass('filter-sidebar-open') || sidebar.hasClass('filter-sidebar-open'))) {
            applyFilters();
        }
    });
    $(document).on('mouseenter', '.member-username', function() {
        if ($(this)[0].scrollWidth > $(this).innerWidth()) {
            $(this).addClass('marquee');
        }
    });
    $(document).on('mouseleave', '.member-username', function() {
        if ($(this).hasClass('marquee')) {
            $(this).removeClass('marquee');
        }
    });
    $(document).on('click', '.init-chat', function(e){
        e.preventDefault();
        $.ajax({
            url: $(this).data('url'),
            type: 'POST',
            success: function(data) {
                $("#msgbox").remove();
                $(".content").append(data);
                $(".direct-chat-messages").slimscroll({
                    height: '350px',
                    size: '3px',
                    alwaysVisible: false,
                    start: 'bottom'
                });
            }
        });
    });
    </script>
    {% endcompress %}
{% endblock extrascripts %}
