{% extends "base.html" %}
{% load i18n staticfiles %}
{% block title %}
    {% trans "Members" %}
{% endblock title %}
{% block extrastyle %}
<style>
    .content-header {
        padding: 0;
    }
    .content-wrapper {
        background-color: #f9f9f9;
    }
</style>
{% endblock extrastyle %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {% trans "Members" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Dashboard" %}</a></li>
                <li class="active">{% trans "Members" %}</li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by username..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button class="btn btn-content-header" data-toggle="filter-sidebar"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
    </section>
{% endblock content_header_new %}
{% block content %}
<div class="row">
    <div class="col-md-12" id="searchresults">
        {% include page_template %}
    </div>
</div>
{% endblock content %}
{% block filter_sidebar_options %}
<div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="btn-filter btn-filter-left btn-filter-selected" data-filter-name='online' data-selected='true'>{% trans "Online" %}</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="btn-filter btn-filter-selected" data-filter-name='offline' data-selected='true'>{% trans "Offline" %}</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="btn-filter btn-filter-left btn-filter-selected" data-filter-name='staff' data-selected='true'>{% trans "Staff" %}</button>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <button class="btn-filter btn-filter-selected" data-filter-name='member' data-selected='true'>{% trans "Member" %}</button>
    </div>
</div>
{% endblock %}
{% block extrascripts %}
    <script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
    <script type="text/javascript">
    var filters_enabled = ['online', 'offline', 'staff', 'member'];
    var isFilterChanged = false;
    function applyFilters() {
        if (filters_enabled.length && isFilterChanged) {
            var filters = filters_enabled;
            $.ajax({
                url: '{% url 'publicusers:index' %}',
                data: {'filters_enabled': filters},
                success: function (data) {
                    $('#searchresults').html(data);
                    var o = $.AdminLTE.options.filterSidebarOptions;
                    var sidebar = $(o.selector);
                    $.AdminLTE.filterSidebar.close(sidebar, o.slide);
                }
            });
        }
    };
    function isOnlineFilterEnabled() {
        var index = filters_enabled.indexOf('online');
        if (index > -1) {
            return true;
        }
        return false;
    }
    (function getOnlineUsers(){
        $.ajax({
            url: '{% url 'publicusers:getonlineusers' %}',
            success: function(data){
                if (isFilterChanged && isOnlineFilterEnabled()) {
                    var notVisibleMembers = [];
                    $.each(data, function(k, v){
                        if(data[k] === 'online') {
                            if (!($(".member[data-id=" + k + "]").length)) {
                                notVisibleMembers.push(k);
                            }
                        }
                        else {
                            if ($(".member[data-id=" + k + "]").length) {
                                $(".member[data-id=" + k + "]").remove();
                            }
                        }
                    });
                    if (notVisibleMembers.length) {
                        $.ajax({
                            url: '{% url 'publicusers:get_missing_users' %}',
                            data: {'users': notVisibleMembers},
                            success: function(data) {
                                $(".member-wrapper").append(data);
                            }
                        });
                    }
                }
                else {
                    $('.userstatus').each(function(){
                        var user_id = $(this).data('user-id');
                        var userstatus = $(this);
                        $.each(data, function(k, v){
                            if (k == user_id) {
                                if (data[k] === 'online') {
                                    $(userstatus).empty();
                                    $(userstatus).removeAttr('data-toggle');
                                    $(userstatus).removeAttr('title');
                                    $(userstatus).append('<i class="fa fa-circle text-success onlinestatus"></i>');
                                }
                                else {
                                    if (data[k]) {
                                        var lastseen = moment(data[k]).format('MMMM Do YYYY, hh:mm a')
                                        $(userstatus).empty();
                                        $(userstatus).append('<i class="fa fa-circle onlinestatus"></i>');
                                        $(userstatus).attr('data-toggle', 'tooltip');
                                        $(userstatus).attr('title', '{% trans "lastseen: " %}' + lastseen);
                                    }
                                    else {
                                        $(userstatus).empty();
                                        $(userstatus).append('<i class="fa fa-circle onlinestatus"></i>')
                                        $(userstatus).attr('data-toggle', 'tooltip');
                                        $(userstatus).attr('title', '{% trans "lastseen: unknown" %}');
                                    }
                                }
                            }
                        })
                    });
                }
            },
            complete: function() {
                setTimeout(getOnlineUsers, 15000);
            }
        });
    })();
    $.endlessPaginate({
        //paginateOnScroll: true,
        paginateOnScrollMargin: 20
    });
    $('.btn-filter').click(function(){
        var _this = $(this);
        if (_this.data('selected')) {
            var index = filters_enabled.indexOf(_this.data('filter-name'));

            if (index > -1) {
                filters_enabled.splice(index, 1);
            }
            _this.data('selected', false);
            _this.removeClass('btn-filter-selected');
            isFilterChanged = true;

        }
        else {
            filters_enabled.push(_this.data('filter-name'));
            _this.data('selected', true);
            _this.addClass('btn-filter-selected');
            isFilterChanged = true;
        }
    });
    $('#applyFilters').click(function() {
        var o = $.AdminLTE.options.filterSidebarOptions;
        var sidebar = $(o.selector);
        $.AdminLTE.filterSidebar.close(sidebar, o.slide);
        applyFilters();
    });
    $("#liveSearch").keyup(function(){
        var _this = $(this);
        if (filters_enabled.length) {
            var data = {'filters_enabled': filters_enabled, 'q': _this.val()};
        }
        else {
            var data = {'q': _this.val()};
        }
        $.ajax({
            url: '{% url 'publicusers:index' %}',
            data: data,
            success: function (data) {
                $('#searchresults').html(data);
            }
        });
    });
    var mouse_is_inside = false;
    $(".filterbtn, .filter-sidebar, .filter-sidebar-bg").hover(function(){
        mouse_is_inside=true;
    }, function(){
        mouse_is_inside=false;
    });
    $(document).click(function () {
        var o = $.AdminLTE.options.filterSidebarOptions;
        var sidebar = $(o.selector);
        if (($('body').hasClass('filter-sidebar-open') || sidebar.hasClass('filter-sidebar-open')) && ! mouse_is_inside) {
            $.AdminLTE.filterSidebar.close(sidebar, o.slide);
            applyFilters();
        }
    });
    $(".btn-content-header").click(function(){
        var o = $.AdminLTE.options.filterSidebarOptions;
        var sidebar = $(o.selector);
        if (($('body').hasClass('filter-sidebar-open') || sidebar.hasClass('filter-sidebar-open'))) {
            applyFilters();
        }
    });
    </script>
{% endblock extrascripts %}
