{% extends "base.html" %}
{% load i18n staticfiles %}
{% block title %}
    {% trans "Members" %}
{% endblock title %}
{% block extrastyle %}
<style>
    .content-header {
        padding: 0;
    }
    .content-wrapper {
        background-color: #f9f9f9;
    }
</style>
{% endblock extrastyle %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {% trans "Members" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Dashboard" %}</a></li>
                <li class="active">{% trans "Members" %}</li>
            </ol>
        </div>
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search by username..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
    </section>
{% endblock content_header_new %}
{% block content %}
<div class="row">
    <div class="col-md-12" id="searchresults">
        {% include page_template %}
    </div>
</div>
{% endblock content %}
{% block extrascripts %}
    <script src="{% static "el-pagination/js/el-pagination.js" %}"></script>
    <script type="text/javascript">
    (function getOnlineUsers(){
        $.ajax({
            url: '{% url 'publicusers:getonlineusers' %}',
            success: function(data){
                $('.userstatus').each(function(){
                    var user_id = $(this).data('user-id');
                    var userstatus = $(this);
                    $.each(data, function(k, v){
                        if (k == user_id) {
                            if (data[k] === 'online') {
                                $(userstatus).empty();
                                $(userstatus).removeAttr('data-toggle');
                                $(userstatus).removeAttr('title');
                                $(userstatus).append('<i class="fa fa-circle text-success onlinestatus"></i>');
                            }
                            else {
                                if (data[k]) {
                                    var lastseen = moment(data[k]).format('MMMM Do YYYY, hh:mm a')
                                    $(userstatus).empty();
                                    $(userstatus).append('<i class="fa fa-circle onlinestatus"></i>');
                                    $(userstatus).attr('data-toggle', 'tooltip');
                                    $(userstatus).attr('title', '{% trans "lastseen: " %}' + lastseen);
                                }
                                else {
                                    $(userstatus).empty();
                                    $(userstatus).append('<i class="fa fa-circle onlinestatus"></i>')
                                    $(userstatus).attr('data-toggle', 'tooltip');
                                    $(userstatus).attr('title', '{% trans "lastseen: unknown" %}');
                                }
                            }
                        }
                    })
                });
            },
            complete: function() {
                setTimeout(getOnlineUsers, 15000);
            }
        });
    })();
    $.endlessPaginate({
        paginateOnScroll: true,
        paginateOnScrollMargin: 20
    });
    $("#liveSearch").keyup(function(){
        var query = $(this).val();
        $("#searchresults").load(
            "{% url 'publicusers:index' %}?q=" + encodeURIComponent(query)
        );
    });
    </script>
{% endblock extrascripts %}
