{% load staticfiles el_pagination_tags i18n bip_extras %}
{% paginate 12 users %}
<div class="member-wrapper">
    {% for user in users %}
        <div class="member {% if user.is_staff %}member-staff{% endif %} {% if user.profile.online %}member-online{% endif %}" data-id="{{ user.id }}">
            <a href="{% url 'publicusers:user' user.id %}">
                <div class="member-image">
                    {% if user.profile.avatar_public %}
                        {% if user.profile.avatar %}
                            <img src="{{ user.profile.avatar.thumbnail.128x128 }}" alt="User Image">
                        {% else %}
                            <div class="default-avatar default-avatar-memberl" style="background: {{ user.profile.default_avatar_color }};">
                                <div class="default-avatar-text-wrapper">
                                    <div class="default-avatar-text">
                                        {% user_initial user %}
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                    <div class="default-avatar default-avatar-memberl" style="background: {{ user.profile.default_avatar_color }};">
                        <div class="default-avatar-text-wrapper">
                            <div class="default-avatar-text">
                                {% user_initial user %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div class="member-info">
                    <p class="init-chat" data-url='{% url 'messaging:create' user.id %}'><i class="fa fa-comments-o"></i></p>
                    <p class="member-username">{{ user.username }}</p>
                    <p class="member-status">{% if user.is_staff %}{% trans "Staff" %}{% else %}{% trans "Member" %}{% endif %}</p>
                </div>
            </a>
        </div>
    {% endfor %}
</div>
{% show_more '<i class="fa fa-refresh"></i>' '<i class="fa fa-spin fa-refresh"></i>' %}
