{% load i18n %}
<div class="col-md-12">
    <ul class="timeline">
        {% regroup timelines by timestamp|date:"d b. Y" as timelines_by_day %}
        {% for timeline in timelines_by_day %}
        <li class="time-label">
            <span class="bg-red">
                {{ timeline.grouper }}
            </span>
        </li>
        {% for item in timeline.list %}
        {% ifequal item.timeline_type 1 %}
        <li id="{{ item.id }}">
            <i class="fa fa-exchange bg-blue"></i>
            <div class="timeline-item">
                <span class="time"><i class="fa fa-clock-o"></i> {{ item.timestamp|date:"H:i" }}</span>
                {% if item.instruction %}
                <h3 class="timeline-header">
                    {% ifequal request.user.username item.sender %}
                        {% trans "you sent" %} {{ item.amount }} {% trans "units to" %} <a href="{% url 'publicusers:user' item.reciever_id %}">{{ item.reciever }}</a>
                    {% else %}
                        <a href="{% url 'publicusers:user' item.sender_id %}">{{ item.sender }}</a> {% trans "sent you" %} {{ item.amount }} {% trans "units" %}
                    {% endifequal %}
                </h3>
                <div class="timeline-body">
                    <p>{{ item.instruction }}</p>
                </div>
                {% else %}
                <h3 class="timeline-header no-border">
                    {% ifequal request.user.username item.sender %}
                        {% trans "you sent" %} {{ item.amount }} {% trans "units to" %} <a href="{% url 'publicusers:user' item.reciever_id %}">{{ item.reciever }}</a>
                    {% else %}
                        <a href="{% url 'publicusers:user' item.sender_id %}">{{ item.sender }}</a> {% trans "sent you" %} {{ item.amount }} {% trans "units" %}
                    {% endifequal %}
                {% endif %}
            </div>
        </li>
        {% endifequal %}
        {% ifequal item.timeline_type 2 %}
            <li id="{{ item.id }}">
                <i class="fa fa-exchange bg-blue"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{ item.timestamp|date:"H:i" }}</span>
                    {% if item.instruction %}
                    <h3 class="timeline-header">
                        {% ifequal request.user.username item.sender %}
                            {% trans "you requested" %} {{ item.amount }} {% trans "units from" %} <a href="{% url 'publicusers:user' item.reciever_id %}">{{ item.reciever }}</a>
                        {% else %}
                            <a href="{% url 'publicusers:user' item.sender_id %}">{{ item.sender }}</a> {% trans "requested you" %} {{ item.amount }} {% trans "units" %}
                            <div class="togglemodal">
                                {% if item.not_completed %}
                                    <a data-toggle="modal" data-target="#sendUnitModal" data-amount="{{ item.amount }}" data-touser="{{ item.sender_id }}" data-tousername="{{ item.sender }}" data-timelineid="{{ item.id }}" id="togglemodal" class="btn btn-primary btn-xs">{% trans "send" %}</a>
                                {% else %}
                                    <button class="btn btn-success btn-xs">{% trans "sent" %}</button>
                                {% endif %}
                            </div>
                        {% endifequal %}
                    </h3>
                    <div class="timeline-body">
                        <p>{{ item.instruction }}</p>
                    </div>
                {% else %}
                <h3 class="timeline-header no-border">
                    {% ifequal request.user.username item.sender %}
                        {% trans "you requested" %} {{ item.amount }} {% trans "units from" %} <a href="{% url 'publicusers:user' item.reciever_id %}">{{ item.reciever }}</a>
                    {% else %}
                        <a href="{% url 'publicusers:user' item.sender_id %}">{{ item.sender }}</a> {% trans "requested you" %} {{ item.amount }} {% trans "units" %}
                        <div class="togglemodal">
                            {% if item.not_completed %}
                                <a data-toggle="modal" data-target="#sendUnitModal" data-amount="{{ item.amount }}" data-touser="{{ item.sender_id }}"  data-tousername="{{ item.sender }}" data-timelineid="{{ item.id }}" class="btn btn-primary btn-xs">{% trans "send" %}</a>
                            {% else %}
                                <button class="btn btn-success btn-xs">{% trans "sent" %}</button>
                            {% endif %}
                        </div>
                    {% endifequal %}
                {% endif %}
                </div>
            </li>
            {% endifequal %}
            {% ifequal item.timeline_type 3 %}
            {% if item.sysupdate %}
            <li id="{{ item.id }}">
                {% ifequal item.sysupdate_type '1' %}
                    <i class="fa fa-warning bg-yellow"></i>
                {% endifequal %}
                {% ifequal item.sysupdate_type '2' %}
                    <i class="fa fa-info-circle bg-blue"></i>
                {% endifequal %}
                {% ifequal item.sysupdate_type '3' %}
                    <i class="fa fa-ban bg-red"></i>
                {% endifequal %}
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{ item.timestamp|date:"H:i" }}</span>
                    <h3 class="timeline-header no-border">{{ item.sysupdate_timestamp|date:"d/m/Y h:i a" }}
                 - {{ item.sysupdate_message }}</h3>
                </div>
            </li>
            {% else %}
            <li id="{{ item.id }}">
                <i class="fa fa-arrow-down bg-orange"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{ item.timestamp|date:"H:i" }}</span>
                    <h3 class="timeline-header no-border">{{ item.amount }}{% trans " units basic income released" %}</h3>
                </div>
            </li>
            {% endif %}
            {% endifequal %}
            {% ifequal item.timeline_type 4 %}
            <li id="{{ item.id }}">
                <i class="fa fa-thumbs-o-up bg-green"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{ item.timestamp|date:"H:i" }}</span>
                    <h3 class="timeline-header no-border">
                        {% ifequal request.user.username item.sender %}
                            {% trans "you verified" %} <a href="{% url 'publicusers:user' item.reciever_id %}">{{ item.reciever }}</a> {% trans "as real user" %}
                        {% else %}
                            <a href="{% url 'publicusers:user' item.sender_id %}">{{ item.sender }}</a> {% trans "verified you as real user" %}
                                        {% endifequal %}
                    </h3>
                </div>
            </li>
            {% endifequal %}
            {% ifequal item.timeline_type 5 %}
            <li id="{{ item.id }}">
                <i class="fa fa-thumbs-o-down bg-red"></i>
                <div class="timeline-item">
                    <span class="time"><i class="fa fa-clock-o"></i> {{ item.timestamp|date:"H:i" }}</span>
                    <h3 class="timeline-header no-border">
                    {% ifequal request.user.username item.sender %}
                        {% trans "you unverified" %} <a href="{% url 'publicusers:user' item.reciever_id %}">{{ item.reciever }}</a> {% trans "as real user" %}
                    {% else %}
                        <a href="{% url 'publicusers:user' item.sender_id %}">{{ item.sender }}</a> {% trans "unverified you as real user" %}
                    {% endifequal %}
                    </h3>
                </div>
            </li>
            {% endifequal %}
            {% ifequal item.timeline_type 6 %}
                 <li id="{{ item.id }}">
                     <i class="fa fa-user-plus bg-green"></i>
                     <div class="timeline-item">
                        <span class="time"><i class="fa fa-clock-o"></i> {{ item.timestamp|date:"H:i" }}</span>
                        <h3 class="timeline-header">
                            {% ifequal request.user.username item.sender %}
                                {% trans "Requested connection to " %} <a href="{% url 'publicusers:user' item.reciever_id %}">{{ item.reciever }}</a>
                                {% if item.accepted %}
                                    <button class="btn btn-warning btn-xs" onclick="cancelRejectConnection('disconnect', {{ item.conn_id }})">{% trans "Disconnect" %}</button>
                                {% else %}
                                    <button class="btn btn-danger btn-xs" onclick="cancelRejectConnection('cancel', {{ item.conn_id }})">{% trans "Cancel" %}</button>
                                {% endif %}
                            {% else %}
                                <a href="{% url 'publicusers:user' item.sender_id %}">{{ item.sender }}</a> {% trans "sent connection request" %}
                                {% if item.accepted %}
                                    <button class="btn btn-warning btn-xs" onclick="cancelRejectConnection('disconnect', {{ item.conn_id }})">{% trans "Disconnect" %}</button>
                                {% else %}
                                    <button class="btn btn-danger btn-xs" onclick="cancelRejectConnection('reject', {{ item.conn_id }})">{% trans "Reject" %}</button>
                                    <button class="btn btn-primary btn-xs" onclick="acceptConnection({{ item.conn_id }})">{% trans "Accept" %}</button>
                                {% endif %}
                            {% endifequal %}
                        </h3>
                        <div class="timeline-body">
                            <p>{% trans "Connection type: " %} {{ item.conn_main }} ({{ item.conn_sub }})</p>
                            {% comment %}
                            {% ifequal item.conn_main 'Family' %}
                                <p>{% trans "Family type: " %} {{ item.conn_sub }}</p>
                            {% endifequal %}
                            {% ifequal item.conn_main 'Friend' %}
                                <p>{% trans "Friend type: " %} {{ item.conn_sub }}</p>
                            {% endifequal %}
                            {% ifequal item.conn_main 'Contact' %}
                                <p>{% trans "Contact type: " %} {{ item.conn_sub }}</p>
                            {% endifequal %}
                            {% endcomment %}
                        </div>
                     </div>
                 </li>
             {% endifequal %}
             {% ifequal item.timeline_type 7 %}
             <li id="{{ item.id }}">
                 <i class="fa fa-arrow-down bg-orange"></i>
                 <div class="timeline-item">
                     <span class="time"><i class="fa fa-clock-o"></i> {{ item.timestamp|date:"H:i" }}</span>
                     <h3 class="timeline-header no-border">{{ item.amount|floatformat:8 }}{% trans " GRT distributed to your account" %}</h3>
                 </div>
             </li>
             {% endifequal %}
            {% endfor %}
        {% endfor %}
        <li>
            <i class="fa fa-clock-o bg-gray"></i>
        </li>
    </ul>
</div>
