:local(.container)
	width 24px
	height 24px
	border-radius 50%
	overflow hidden

	background-color theme_primary
	color #fff
	font-size 1em
	text-align center
	flex-shrink 0

	display inline-flex
	align-items center
	justify-content center
