// Keep these same as bootstrap cutoffs
rupture.mobile-cutoff = 767px
rupture.desktop-cutoff = 768px


// Spacing and gutters
gutter_x = 20px


// Theme

theme_primary   = color_lightBlue500
theme_secondary = color_lightBlue600

theme_body_bg     = #F9F9F9
theme_text        = #4A4A4A		// Armadillo
theme_header_bg   = theme_primary
theme_header_text = #eee

theme_sidebar_bg        = theme_primary
theme_sidebar_header_bg = theme_secondary


// OuterFrame
// Header
header_height = 50px

// Sub Header
subheader_height = 60px

// LeftNav
sidebar_width  = 240px
leftnav_width  = sidebar_width
rightnav_width = sidebar_width

primary_sidebar_menu_width = 40px


// Font Sizes
font_light   = 200
font_regular = 400
font_bold    = 600


$material_easing = unquote('cubic-bezier(0.25, 0.8, 0.25, 1)')

$shadow_1()
	box-shadow 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
$shadow_2()
	box-shadow 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
$shadow_3()
	box-shadow 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
$shadow_4()
	box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
$shadow_5()
	box-shadow 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
$shadow_hover()
	box-shadow 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)

