{% load i18n bootstrap_tags %}
<div class="col-md-6">
    <div class="box box-solid" style="min-height: 300px">
        <div class="box-header with-border">
            <h3 class="box-title">Grantcoin</h3>
        </div>
        <div class="box-body">
            {% if message %}
            <div class="widget-box text-center">
                <p>{{ message }}</p>
            </div>
            {% else %}
            <div id="ekataUnitsInfo">
                <div class="widget-box">
                    <h4 class="widget-box-title">{% trans "Balance" %}</h4>
                    <hr class="widget-box-separator" style="width: 10%">
                    <div class="widget-box-text">
                        <p>{{ balance }}</p>
                    </div>
                </div>
                <div class="widget-box">
                    <h4 class="widget-box-title">{% trans "Address" %}</h4>
                    <hr class="widget-box-separator" style="width: 10%">
                    <div class="widget-box-text">
                        <p>{{ signup.wallet_address }}</p>
                    </div>
                </div>
                <div class="widget-box">
                    <h4 class="widget-box-title">{% trans "Signup Date" %}</h4>
                    <hr class="widget-box-separator" style="width: 10%">
                    <div class="widget-box-text">
                        <p>{{ signup.signup_date }}</p>
                    </div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="box box-solid" style="min-height: 300px">
        <div class="box-header with-border">
            <h3 class="box-title">Grantcoin</h3>
        </div>
        <div class="box-body">
            {% if message %}
            <div class="widget-box text-center">
                <p>{{ message }}</p>
            </div>
            {% else %}
            <div class="widget-box">
                <h4 class="widget-box-title">{% trans "Verified Date" %}</h4>
                <hr class="widget-box-separator" style="width: 10%">
                <div class="widget-box-text">
                    <p>{{ signup.verified_date }}</p>
                </div>
            </div>
            <div class="widget-box">
                <h4 class="widget-box-title">{% trans "Referral Code" %}</h4>
                <hr class="widget-box-separator" style="width: 10%">
                <div class="widget-box-text">
                    <p>{{ request.user.referral_code.code }}</p>
                </div>
            </div>
            <div class="widget-box">
                <h4 class="widget-box-title">{% trans "On Distribution" %}</h4>
                <hr class="widget-box-separator" style="width: 10%">
                <div class="widget-box-text">
                    <p>{{ signup.is_on_distribution }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% comment %}
{% if not message %}
<div class="col-md-6">
    <div class="box box-solid" style="min-height: 300px">
        <div class="box-header with-border">
            <h3 class="box-title">{% trans "Transfer" %}</h3>
        </div>
        <div class="box-body">
            <div class="widget-box" id="transferformcontainer">
                {% include "useraccount/transferform.html" %}
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endcomment %}
