{% extends "base.html" %}
{% load i18n staticfiles compress %}
{% block extrastyle %}
<link rel="stylesheet" href="{% static "dist/css/dashboard.css" %}?v=1">
<style media="screen">
    .next-release-wrapper {
        margin-left: 20px;
    }
    .autocomplete-img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        margin-right: 10px;
    }
</style>
{% endblock extrastyle %}
{% block title %}
    {% trans "Grantcoin Distribution" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new no-search-bar">
        <div class="col-md-4">
            <h1>
                {% trans "Grantcoin Distribution" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Grantcoin Distribution" %}</a></li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom: 10px">
        <div class="col-md-12">
            <div class="pull-right">
                <button class="btn btn-rounded" id="removeCode">{% trans "Remove Expired Referral Codes" %}</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid" style="min-height: 300px">
                <div class="box-body">
                    <div class="widget-box text-center">
                        <h4 class="widget-box-title">{% trans "Distribution Info" %}</h4>
                    </div>
                    {% if message %}
                    <div class="widget-box text-center">
                        <p>{{ message }}</p>
                    </div>
                    {% else %}
                    <div class="widget-box">
                        <h4 class="widget-box-title">{% trans "Address" %}</h4>
                        <hr class="widget-box-separator" style="width: 10%">
                        <div class="widget-box-text">
                            {% for address in addresses %}
                                <p>{{ address }}</p>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="widget-box">
                        <h4 class="widget-box-title">{% trans "Balance" %}</h4>
                        <hr class="widget-box-separator" style="width: 10%">
                        <div class="widget-box-text">
                            <p>{{ balance|floatformat:6 }}</p>
                        </div>
                    </div>
                    <div class="widget-box">
                        <h4 class="widget-box-title">{% trans "Total Accounts in Distribution" %}</h4>
                        <hr class="widget-box-separator" style="width: 10%">
                        <div class="widget-box-text">
                            <p>{{ total_account }}</p>
                        </div>
                    </div>
                    {% if referrers %}
                    <div class="widget-box">
                        <h4 class="widget-box-title">{% trans "Total Referrers Recipients" %}</h4>
                        <hr class="widget-box-separator" style="width: 10%">
                        <div class="widget-box-text">
                            <p>{{ referrers }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% if referrals %}
                    <div class="widget-box">
                        <h4 class="widget-box-title">{% trans "Total Referrals Recipients" %}</h4>
                        <hr class="widget-box-separator" style="width: 10%">
                        <div class="widget-box-text">
                            <p>{{ referrals }}</p>
                        </div>
                    </div>
                    {% endif %}
                    {% endif %}
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <div class="widget-box text-center">
                        <h4 class="widget-box-title">{% trans "Set Distribution Confirm SMS Phone" %}</h4>
                    </div>
                    <div class="widget-box">
                        <div class="widget-box-text" id="distributephoneformcontainer">
                            {% include "useraccount/distributephoneform.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-body">
                    <div class="widget-box text-center">
                        <h4 class="widget-box-title">{% trans "Distribute" %}</h4>
                    </div>
                    <div class="widget-box">
                        <div class="widget-box-text" id="distributeformcontainer">
                            {% include "useraccount/distributeform.html" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="box box-solid">
                <div class="box-body">
                    <div class="widget-box text-center">
                        <h4 class="widget-box-title">{% trans "Calculate Distribution" %}</h4>
                    </div>
                    <div class="widget-box">
                        <div class="widget-box-text">
                            <input class="form-control" type="text" name="amount" value="" placeholder="Enter distribution amount" id="distamount" style="margin-bottom: 10px">
                            <button type="button" class="btn btn-success btn-block" id="calculatebtn">
                              {% trans "Calculate" %}
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            {% comment %}
            <div class="box box-solid">
                <div class="box-body">
                    <div class="widget-box text-center">
                        <h4 class="widget-box-title">{% trans "Single Distribution" %}</h4>
                    </div>
                    <div class="widget-box">
                        <div class="widget-box-text" id="sdistributeformcontainer">
                            {% include "useraccount/singledistributionform.html" %}
                        </div>
                    </div>
                </div>
            </div>
            {% endcomment %}
            <div class="box box-solid">
                <div class="box-body">
                    <div class="widget-box text-center">
                        <h4 class="widget-box-title">{% trans "GRT Dashboard Widget" %}</h4>
                        {% if next_release %}
                        <div class="next-release-wrapper">
                            <div id="releasecountdown">
                                <div class="countdownbox">
                                    <h1 id="day"></h1>
                                </div>
                                <div class="countdownbox">
                                    <h1 id="hour"></h1>
                                </div>
                                <div class="countdownbox">
                                    <h1 id="minute"></h1>
                                </div>
                            </div>
                            <div>
                                <div class="countdowntext">
                                    <h4>
                                        {% trans "Day" %}
                                    </h4>
                                </div>
                                <div class="countdowntext">
                                    <h4>
                                        {% trans "Hour" %}
                                    </h4>
                                </div>
                                <div class="countdowntext">
                                    <h4>
                                        {% trans "Minute" %}
                                    </h4>
                                </div>
                            </div>
                        </div>
                        {% else %}
                        <p>{% trans "No next release date" %}</p>
                        {% endif %}
                    </div>
                    <div class="widget-box">
                        <div class="widget-box-text" id="nextreleaseformcontainer">
                            {% include "useraccount/nextreleaseform.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if lastdistributions %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Last Distributions" %}</h3>
                </div>
                <div class="box-body">
                    <table class="table" id="lastdisttable">
                        <thead>
                            <tr>
                                <th data-visible="false">{% trans "Id" %}</th>
                                <th data-sortable="true">{% trans "Start Time" %}</th>
                                <th data-sortable="true">{% trans "End Time" %}</th>
                                <th data-sortable="true">{% trans "Total Amount Distributed" %}</th>
                                <th data-sortable="true">{% trans "Amount per Account" %}</th>
                                <th data-sortable="true">{% trans "No of Account" %}</th>
                                <th>{% trans "Download Log" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for lastdistribution in lastdistributions %}
                               <tr>
                                    <td>{{ lastdistribution.id }}</td>
                                    <td>{{ lastdistribution.start_time|date:'Y/m/d h:i' }}</td>
                                    <td>{{ lastdistribution.end_time|date:'Y/m/d h:i' }}</td>
                                    <td>{{ lastdistribution.total_amount|floatformat:6 }}</td>
                                    <td>{{ lastdistribution.amount_per_user|floatformat:6 }}</td>
                                    <td>{{ lastdistribution.no_of_accout }}</td>
                                    <td>
                                        {% if lastdistribution.log_file_path %}
                                        <a href="/media/gc_dist/{{ lastdistribution.log_file_path }}"><i class="fa fa-cloud-download"></i></a>
                                        {% endif %}
                                    </td>
                               </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
<div class="modal fade" id="codeVerificationModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content" id="verificationformwrapper">

    </div>
  </div>
</div>
{% endblock %}
{% block extrascripts %}
    <script type="text/javascript" src="{% static "dist/js/jquery.countdown.min.js" %}"></script>
    {% compress js %}
        <script type="text/javascript">
        $("#id_datetime").datetimepicker({
            format: 'YYYY-MM-DD HH:MM',
            showClear: true,
        });
        {% comment %}
        $("#id_reciever").autocomplete({
            source: '{% url 'myaccount:get_ekata_units_users' %}',
            minLength: 2
        });
        $("#id_reciever").data("ui-autocomplete")._renderItem = function( ul, item ) {
            var li = $('<li>'), img = $('<img class="autocomplete-img">');
            img.attr({
                src: item.image,
                alt: item.value
            });
            li.attr('data-value', item.value);
            li.append('<p>');
            li.find('p').append(img).append(item.value);
            return li.appendTo(ul);
        };
        {% endcomment %}
        $("#lastdisttable").bootstrapTable({
            'pagination': true,
            'pageNumber': 1,
            'pageSize': 10,
            'pageList': [5, 10, 15, 20, 25],
            'search': true,
            'showExport': true,
            'exportDataType': 'all',
            'exportTypes': ['json', 'csv', 'txt', 'excel'],
        });
        $(document).on('click', '#distributebtn', function () {
            var form = $("#distributeform");
            $.ajax({
                url: '{% url 'myaccount:distribute_ekata_units' %}',
                type: 'POST',
                data: form.serialize(),
                success: function (data) {
                    $("#verificationformwrapper").html(data);
                    $("#codeVerificationModal").modal('show');
                },
                error: function (data) {
                    $("#distributeformcontainer").html(data.responseText);
                }
            });
        });
        $(document).on('click', '#verifycode', function () {
            var form = $("#verificationform");
            $.ajax({
                url: '{% url 'myaccount:verify_dist_code' %}',
                type: 'POST',
                data: form.serialize(),
                success: function () {
                    $('.top-right').notify({
                        message: { text: 'Distribution started, you will get sms when it ends' },
                        type: 'success'
                    }).show();
                    $("#codeVerificationModal").modal('hide');
                },
                error: function (data) {
                    $("#verificationformwrapper").html(data.responseText);
                }
            });
        });
        {% comment %}
        $(document).on('click', '#sdistributebtn', function () {
            var form = $("#sdistributeform");
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (data) {
                    $("#verificationformwrapper").html(data);
                    $("#codeVerificationModal").modal('show');
                },
                error: function (data) {
                    $("#sdistributeformcontainer").html(data.responseText);
                    $("#id_reciever").autocomplete({
                        source: '{% url 'myaccount:get_ekata_units_users' %}',
                        minLength: 2
                    });
                    $("#id_reciever").data("ui-autocomplete")._renderItem = function( ul, item ) {
                        var li = $('<li>'), img = $('<img class="autocomplete-img">');
                        img.attr({
                            src: item.image,
                            alt: item.value
                        });
                        li.attr('data-value', item.value);
                        li.append('<p>');
                        li.find('p').append(img).append(item.value);
                        return li.appendTo(ul);
                    };
                }
            });
        });
        {% endcomment %}
        $(document).on('click', '#sverifycode', function () {
            var form = $("#sverificationform");
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function () {
                    $('.top-right').notify({
                        message: { text: 'Success' },
                        type: 'success'
                    }).show();
                    $("#codeVerificationModal").modal('hide');
                },
                error: function (data) {
                    $("#sverificationformwrapper").html(data.responseText);
                }
            });
        });
        $(document).on('click', '#nextreleasebtn', function () {
            var form = $("#nextreleaseform");
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (data) {
                    $('.top-right').notify({
                        message: { text: 'Success' },
                        type: 'success'
                    }).show();
                    location.reload();
                },
                error: function (data) {
                    $("#nextreleaseformcontainer").html(data.responseText);
                    $("#id_datetime").datetimepicker({
                        format: 'YYYY-MM-DD HH:MM',
                        showClear: true,
                    });
                }
            });
        });
        $(document).on('click', '#distributephonebtn', function () {
            var form = $("#distributephoneform");
            $.ajax({
                url: form.attr('action'),
                type: 'POST',
                data: form.serialize(),
                success: function (data) {
                    $('.top-right').notify({
                        message: { text: 'Success' },
                        type: 'success'
                    }).show();
                },
                error: function (data) {
                    $("#distributephoneformcontainer").html(data.responseText);
                }
            });
        });
        {% if next_release %}
        var countdown_time = moment('{{ next_release.datetime|date:"Y/m/d H:i" }}').format("YYYY/MM/DD HH:mm");
        $("#releasecountdown").countdown(countdown_time, function(event) {
            $("#day").text(event.strftime('%D'));
            $("#hour").text(event.strftime('%H'));
            $("#minute").text(event.strftime('%M'));
        });
        {% endif %}
        $("#removeCode").click(function () {
            var url = '{% url 'myaccount:remove_codes' %}';
            $.ajax({
                url: url,
                type: 'POST',
                success: function (data) {
                    $('.top-right').notify({
                        message: { text: 'Removed ' + data + ' code' },
                        type: 'success'
                    }).show();
                },
                error: function (data) {
                    $('.top-right').notify({
                        message: { text: 'Something went wrong!! Please try later' },
                        type: 'danger'
                    }).show();
                }
            });
        });
        $("#calculatebtn").on('click', function () {
            var url = '{% url 'myaccount:get_total_amount' %}';
            $.ajax({
                url: url,
                type: 'POST',
                data: {'amount': $("#distamount").val()},
                success: function(data){
                    var blob=new Blob([data], {type: "text/plain;charset=utf-8"});
                    saveAs(blob, "amounts_" + moment().format('MM-DD-YYYY_h_mm_ss_a') + ".txt");
                }
            });
        });
        $(".sidebar-menu-tab>li[data-name='group']").click();
        </script>
    {% endcompress %}
{% endblock %}
