{% extends "base.html" %}
{% load i18n staticfiles compress %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static "dist/css/dashboard.css" %}?v=1">
{% endblock extrastyle %}
{% block title %}
    {% trans "Account" %}
{% endblock title %}
{% block content_header %}
    <h1>
        {% trans "Account" %}<br>
        <small><i class="fa fa-user"></i>
            {% if user and not user.is_anonymous %}
                <a>Hello, {{ user.username }}!</a>
                <br>
            {% endif %}
        </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Account</li>
    </ol>
{% endblock content_header %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Accounts" %}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community" style="background: url('{% static "dist/img/DummyDB.png" %}'); background-size: 100px 100px; background-repeat:no-repeat; background-position:center 40px;">
                                <div class="community-name">
                                    <h4>{% trans "DummyDB" %}</h4>
                                </div>
                                <div class="community-actions">
                                    <a href="{% url 'myaccount:index' %}" class="btn btn-block btn-flat btn-default">{% trans "Subscribed" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community" style="background: url('{% static "dist/img/grantcoin.png" %}'); background-size: 100px 100px; background-repeat:no-repeat; background-position:center 40px;">
                                <div class="community-name">
                                    <h4>{% trans "Grantcoin" %}</h4>
                                </div>
                                <div class="community-actions">
                                    {% if communitysignup %}
                                        {% if communitysignup.data_collect_done %}
                                            {% if communitysignup.status == 'approved' %}
                                                <a href="#" class="btn btn-block btn-flat btn-default">{% trans "Subscribed" %}</a>
                                            {% else %}
                                                <a href="#" data-toggle="modal" data-target='#pendingmodal' class="btn btn-block btn-flat btn-success">{% trans "Pending" %}</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Incomplete" %}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Signup" %}</a>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community" style="background: url('{% static "dist/img/pulse-heart-red.png" %}'); background-size: 100px 100px; background-repeat:no-repeat; background-position:center 40px;">
                                <div class="community-name">
                                    <h4>{% trans "Pulse Points" %}</h4>
                                </div>
                                <div class="community-actions">
                                    <a href="#" class="btn btn-block btn-flat btn-warning">{% trans "Coming soon" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community community-add">
                                <a href="#"  data-toggle="modal" data-target='#accountaddmodal'>
                                    <i class="fa fa-plus community-add-fa" style=""></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Quick Review" %}</h3>
                </div><!-- /.box-header -->
                <div class="box-body text-center">
                    <h3>Account Balance</h3>
                    <h1 class="color-blue">{{ request.user.useraccount.balance }}</h1>
                    <p>Units</p>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div>
            </div><!-- /.box -->
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Next Release" %}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-12 text-center" id="releasecountdown">
                        <div class="countdownbox">
                            <h1 id="day"></h1>
                        </div>
                        <div class="countdownbox">
                            <h1 id="hour"></h1>
                        </div>
                        <div class="countdownbox">
                            <h1 id="minute"></h1>
                        </div>
                    </div>
                    <div class="col-md-12 text-center">
                        <div class="countdowntext">
                            <h4>
                                Day
                            </h4>
                        </div>
                        <div class="countdowntext">
                            <h4>
                                Hour
                            </h4>
                        </div>
                        <div class="countdowntext">
                            <h4>
                                Minute
                            </h4>
                        </div>
                    </div>
                </div><!-- /.box-body -->
                <div class="box-footer">

                </div>
            </div><!-- /.box -->
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Transactions" %}</h3>
                </div>
                <div class="box-body">
                    <table class="table" id="transactiontable">
                        <thead>
                            <tr>
                                <th data-visible="false">Id</th>
                                <th>From</th>
                                <th>To</th>
                                <th data-sortable="true">Date</th>
                                <th data-sortable="true">Amount</th>
                            </tr>
                        </thead>
                        <tbody>
                           {% for transaction in transactions %}
                               <tr>
                                    <td>{{ transaction.id }}</td>
                                    <td>{{ transaction.from_user.username }}</td>
                                    <td>{{ transaction.to_user.username }}</td>
                                    <td>{{ transaction.date|date:"Y/m/d" }}</td>
                                    <td>{{ transaction.units }}</td>
                               </tr>
                           {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Details" %}</h3>
                </div>
                <div class="box-body">
                    <div class="table-responsive" id="transdetails">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td>To</td>
                                    <td id="transto">{{ first.to_user.username }}</td>
                                </tr>
                                <tr>
                                    <td>From</td>
                                    <td id="transfrom">{{ first.from_user.username }}</td>
                                </tr>
                                <tr>
                                    <td>Date</td>
                                    <td id="transdate">{{ first.date|date:"Y/m/d" }}</td>
                                </tr>
                                <tr>
                                    <td>Amount</td>
                                    <td id="transamount">{{ first.units }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="box-footer">
                    <div class="pull-right">
                        <button class="btn btn-primary" type="button" onclick="PrintTrans()"><i class="fa fa-print"></i> Print</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Basic Income Release" %}</h3>
                </div>
                <div class="box-body">
                    {% if releases %}
                        <table class="table" id="releasetable">
                            <thead>
                                <tr>
                                    <th>Date</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for release in releases %}
                                    <tr>
                                        <td>{{ release.date|date:"Y/m/d" }}</td>
                                        <td>{{ release.amount }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        <p>No release yet</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Signup to Grantcoin" %}</h4>
          </div>
          <div class="modal-body" id="signupbody">

          </div>
          <div class="modal-footer" id="signupfooter">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary" id="signupsubmit">{% trans "Submit" %}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="pendingmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Signup to Grantcoin" %}</h4>
          </div>
          <div class="modal-body">
              <h4>{% trans "Please contact a Grantcoin staff on your Account Status" %}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="accountaddmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Contact to add your organization account" %}</h4>
          </div>
          <div class="modal-body">
              {% include "autosignup/accountaddform.html" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary" id="accountaddsubmit">{% trans "Submit" %}</button>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}
{% block extrascripts %}
<script type="text/javascript" src="{% static "dist/js/jquery.countdown.min.js" %}"></script>
{% compress js %}
<script type="text/javascript">
    //var next_release = moment.tz("{{ next_release|date:"Y-m-d H:i" }}", 'UTC');
    //var next_release = moment.utc('{{ next_release|date:"Y-m-d H:i" }}').toDate();
    var countdown_time = moment('{{ next_release|date:"Y/m/d H:i" }}').format("YYYY/MM/DD HH:mm");
    $("#releasecountdown").countdown(countdown_time, function(event) {
        $("#day").text(event.strftime('%D'));
        $("#hour").text(event.strftime('%H'));
        $("#minute").text(event.strftime('%M'));
    });
    $("#transactiontable").bootstrapTable({
        'pagination': true,
        'pageNumber': 1,
        'pageSize': 10,
        'pageList': [5, 10, 15, 20, 25],
        'search': true,
        'showExport': true,
        'exportDataType': 'all',
        'exportTypes': ['json', 'csv', 'txt', 'excel'],
        onClickRow: function (row) {
            $("#transfrom").text(row[1]);
            $("#transto").text(row[2]);
            $("#transdate").text(row[3]);
            $("#transamount").text(row[4]);
        }
    });
    $("#releasetable").bootstrapTable({
        'pagination': true,
        'pageNumber': 1,
        'pageSize': 10,
        'pageList': [5, 10, 15, 20, 25],
        'search': true,
        'showExport': true,
        'exportDataType': 'all',
        'exportTypes': ['json', 'csv', 'txt', 'excel'],
    });
    function PrintTrans(){
        var option="toolbar=yes,location=no,directories=yes,menubar=yes,scrollbars=yes,width=900,height=300,left=450,top=50";
        var prtContent = document.getElementById("transdetails");
        var WinPrint = window.open("", "", option);
        WinPrint.document.write('<html><head><style type="text/css">');
        WinPrint.document.write('body,td,th{font-family:Arial, Helvetica, sans-serif;font-size:15px;}');
        WinPrint.document.write('</style></head><body>');
        WinPrint.document.write('<table>');
        WinPrint.document.write(prtContent.innerHTML);
        WinPrint.document.write('</table>');
        WinPrint.document.write('</body></html>');
        WinPrint.document.close();
        WinPrint.print();
        WinPrint.close();
    }
    $("#signupmodal").on('show.bs.modal', function(e){
        var link = '{% url 'autosignup:getform' %}?community_name=' + $(e.relatedTarget).attr('data-community-name');
        var self = $(this);
        $.ajax({
            url: link,
            success: function(data){
                $("#signupbody").load(data, function(){
                    $("#gears").hide();
                    $("#id_userimage").fileinput({'showUpload':false,});
                });
            }
        })
    });
    $("#signupsubmit").click(function(){
        var frm = $("#signupform");
        frm.hide();
        $("#gears").show();
        $("#signupfooter").hide();
        var data = new FormData(frm[0]);
        $.ajax({
            url: frm.attr('action'),
            type: frm.attr('method'),
            data: data,
            contentType: false,
            processData: false,
            success: function(data){
                if (data.action === 'next') {
                    $("#signupbody").load(data.url, function(){
                        $("#gears").hide();
                        $("#signupfooter").show();
                        $("#id_userimage").fileinput({'showUpload':false,});
                    });
                }
                else if (data.action === 'thankyou') {
                    $("#signupbody").load(data.url, function(){
                        $("#gears").hide();
                    });
                }
            },
            error: function(data) {
                $("#signupbody").html(data.responseText);
                $("#gears").hide();
                $("#signupfooter").show();
                $("#id_userimage").fileinput({'showUpload':false,});
            }
        });
    });
    $(document).on('click', '.signuplink', function(){
        var link = $(this).attr('href');
        var frm = $("#signupform");
        frm.hide();
        $("#gears").show();
        $("#signupfooter").hide();
        var data = new FormData(frm[0]);
        if (frm.attr('data-submit')) {
            if (frm.length) {
                $.ajax({
                    url: frm.attr('action'),
                    type: frm.attr('method'),
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function(data){
                        if (data.action === 'next') {
                            $("#signupbody").load(data.url, function(){
                                $("#gears").hide();
                                $("#signupfooter").show();
                                $("#id_userimage").fileinput({'showUpload':false,});
                            });
                        }
                        else if (data.action === 'thankyou') {
                            $("#signupbody").load(data.url, function(){
                                $("#gears").hide();
                            });
                        }
                    },
                    error: function(data) {
                        $("#signupbody").html(data.responseText);
                        $("#gears").hide();
                        $("#signupfooter").show();
                        $("#id_userimage").fileinput({'showUpload':false,});
                    }
                });
            }
        }
        else {
            $("#signupbody").load(link, function () {
                $("#gears").hide();
                $("#signupfooter").show();
                $("#id_userimage").fileinput({'showUpload':false,});
            });
        }
        return false;
    })
    $("#accountaddsubmit").click(function(){
        var frm = $("#addaccountform");
        $.ajax({
            url: frm.attr('action'),
            type: 'POST',
            data: frm.serialize(),
            success: function(data) {
                $("#accountaddmodal").modal('hide');
                $('.top-right').notify({
                    message: { text: 'Thank you! We will contact you soon' },
                    type: 'success'
                }).show();
            },
            error: function (data) {
                $("#addaccountform").html(data.responseText);
            }
        })
    });
</script>
{% endcompress %}
{% endblock %}
