{% extends "base.html" %}
{% load i18n staticfiles compress %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static "dist/css/dashboard.css" %}?v=1">
    <style media="screen">
        .addresses {
            position: relative;
        }
        .getqrcode {
            position: absolute;
            right: 10px;
            line-height: 20px;
            color: green;
            cursor: pointer;
        }
        .autocomplete-img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block title %}
    {% trans "Accounts" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new no-search-bar">
        <div class="col-md-4">
            <h1>
                {% trans "Accounts" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Accounts" %}</a></li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Accounts" %}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community" style="background: url('{% static "dist/img/grantcoin.png" %}'); background-size: 100px 100px; background-repeat:no-repeat; background-position:center 40px;">
                                <div class="community-name">
                                    <h4>{% trans "Grantcoin" %}</h4>
                                </div>
                                <div class="community-actions">
                                    {% if communitysignup %}
                                        {% if communitysignup.data_collect_done %}
                                            {% if communitysignup.status == 'approved' %}
                                                <a href="javascript:getEkataUnitsInfo();" class="btn btn-block btn-flat btn-default">{% trans "View Info" %}</a>
                                            {% else %}
                                                <a href="#" data-toggle="modal" data-target='#pendingmodal' class="btn btn-block btn-flat btn-success">{% trans "Pending" %}</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Incomplete" %}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Signup" %}</a>
                                    {% endif %}
                                    {% comment %}
                                    {% if request.user.useraccount %}
                                        <a href="javascript:getEkataUnitsInfo();" class="btn btn-block btn-flat btn-success">{% trans "View Info" %}</a>
                                    {% else %}
                                        <a href="javascript:void(0);" class="btn btn-block btn-flat btn-info" id="ekataUnitsSubscribe">{% trans "Subscribe" %}</a>
                                    {% endif %}
                                    {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community" style="background: url('{% static "dist/img/DummyDB.png" %}'); background-size: 100px 100px; background-repeat:no-repeat; background-position:center 40px;">
                                <div class="community-name">
                                    <h4>{% trans "Ekata Units" %}</h4>
                                </div>
                                <div class="community-actions">
                                    <a href="#" class="btn btn-block btn-flat btn-default">{% trans "Subscribed" %}</a>
                                    {% comment %}
                                    {% if communitysignup %}
                                        {% if communitysignup.data_collect_done %}
                                            {% if communitysignup.status == 'approved' %}
                                                <a href="#" class="btn btn-block btn-flat btn-default">{% trans "Subscribed" %}</a>
                                            {% else %}
                                                <a href="#" data-toggle="modal" data-target='#pendingmodal' class="btn btn-block btn-flat btn-success">{% trans "Pending" %}</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Incomplete" %}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Signup" %}</a>
                                    {% endif %}
                                    {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %}
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community" style="background: url('{% static "dist/img/pulse-heart-red.png" %}'); background-size: 100px 100px; background-repeat:no-repeat; background-position:center 40px;">
                                <div class="community-name">
                                    <h4>{% trans "Pulse Points" %}</h4>
                                </div>
                                <div class="community-actions">
                                    <a href="#" class="btn btn-block btn-flat btn-warning">{% trans "Coming soon" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community community-add">
                                <a href="#"  data-toggle="modal" data-target='#accountaddmodal'>
                                    <i class="fa fa-plus community-add-fa" style=""></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="accountInfo">

    </div>
    <div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Signup to Grantcoin" %}</h4>
          </div>
          <div class="modal-body" id="signupbody">

          </div>
          <div class="modal-footer" id="signupfooter">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary" id="signupsubmit">{% trans "Submit" %}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="pendingmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Signup to Grantcoin" %}</h4>
          </div>
          <div class="modal-body">
              <h4>{% trans "Please contact a Grantcoin staff on your Account Status" %}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="accountaddmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Contact to add your organization account" %}</h4>
          </div>
          <div class="modal-body">
              {% include "autosignup/accountaddform.html" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary" id="accountaddsubmit">{% trans "Submit" %}</button>
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
            <div class="text-center" id="qrcodecontent">
                <p id="qrAddress"></p>
            </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="transferConfirmModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Confirm Transfer" %}</h4>
        </div>
        <div class="modal-body">
          <p id="confirmText"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
          <button type="button" class="btn btn-primary" id="transfersubmit">{% trans "Yes" %}</button>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extrascripts %}
<script type="text/javascript" src="{% static "dist/js/jquery.countdown.min.js" %}"></script>
<script type="text/javascript" src="{% static "plugins/jquery-qrcode/jquery-qrcode.min.js" %}"></script>
{% compress js %}
<script type="text/javascript">
    function getEkataUnitsInfo() {
        var url = '{% url 'myaccount:ekata_units_info' %}';
        $("#accountInfo").load(url, function () {
            $('html, body').animate({
                scrollTop: $("#accountInfo").offset().top
            }, 1000);
            $("#id_reciever").autocomplete({
                source: '{% url 'myaccount:get_ekata_units_users' %}',
                minLength: 2
            });
            $("#id_reciever").data("ui-autocomplete")._renderItem = function( ul, item ) {
                var li = $('<li>'), img = $('<img class="autocomplete-img">');
                img.attr({
                    src: item.image,
                    alt: item.value
                });
                li.attr('data-value', item.value);
                li.append('<p>');
                li.find('p').append(img).append(item.value);
                return li.appendTo(ul);
            };
            $("#ekataUnitsInfo").slimscroll({
                height: '200px',
                size: '3px'
            })
        });
    }
    {% comment %}
    function getEkataUnitsInfo() {
        var url = '{% url 'myaccount:ekata_units_info' %}';
        $("#accountInfo").load(url);
    }
    $("#ekataUnitsSubscribe").on('click', function(){
        $(this).text("Subscribing...");
        var url = '{% url 'myaccount:subscribe_ekata_units' %}';
        $.ajax({
            url: url,
            type: 'POST',
            success: function(data){
                $('.top-right').notify({
                    message: { text: data.message },
                    type: 'info'
                }).show();
                if (data.message === 'Subscribed') {
                    $("#ekataUnitsSubscribe").text("Subscribed");
                    getEkataUnitsInfo();
                }
            }
        });
    });
    {% endcomment %}
    $("#signupmodal").on('show.bs.modal', function(e){
        var link = '{% url 'autosignup:getform' %}?community_name=' + $(e.relatedTarget).attr('data-community-name');
        var self = $(this);
        $.ajax({
            url: link,
            success: function(data){
                $("#signupbody").load(data, function(){
                    $("#gears").hide();
                    $("#id_userimage").fileinput({'showUpload':false,});
                });
            }
        })
    });
    $("#signupsubmit").click(function(){
        var frm = $("#signupform");
        frm.hide();
        $("#gears").show();
        $("#signupfooter").hide();
        var data = new FormData(frm[0]);
        $.ajax({
            url: frm.attr('action'),
            type: frm.attr('method'),
            data: data,
            contentType: false,
            processData: false,
            success: function(data){
                if (data.action === 'next') {
                    $("#signupbody").load(data.url, function(){
                        $("#gears").hide();
                        $("#signupfooter").show();
                        $("#id_userimage").fileinput({'showUpload':false,});
                    });
                }
                else if (data.action === 'thankyou') {
                    $("#signupbody").load(data.url, function(){
                        $("#gears").hide();
                    });
                }
            },
            error: function(data) {
                $("#signupbody").html(data.responseText);
                $("#gears").hide();
                $("#signupfooter").show();
                $("#id_userimage").fileinput({'showUpload':false,});
            }
        });
    });
    $(document).on('click', '.signuplink', function(){
        var link = $(this).attr('href');
        var frm = $("#signupform");
        frm.hide();
        $("#gears").show();
        $("#signupfooter").hide();
        var data = new FormData(frm[0]);
        if (frm.attr('data-submit')) {
            if (frm.length) {
                $.ajax({
                    url: frm.attr('action'),
                    type: frm.attr('method'),
                    data: data,
                    contentType: false,
                    processData: false,
                    success: function(data){
                        if (data.action === 'next') {
                            $("#signupbody").load(data.url, function(){
                                $("#gears").hide();
                                $("#signupfooter").show();
                                $("#id_userimage").fileinput({'showUpload':false,});
                            });
                        }
                        else if (data.action === 'thankyou') {
                            $("#signupbody").load(data.url, function(){
                                $("#gears").hide();
                            });
                        }
                    },
                    error: function(data) {
                        $("#signupbody").html(data.responseText);
                        $("#gears").hide();
                        $("#signupfooter").show();
                        $("#id_userimage").fileinput({'showUpload':false,});
                    }
                });
            }
        }
        else {
            $("#signupbody").load(link, function () {
                $("#gears").hide();
                $("#signupfooter").show();
                $("#id_userimage").fileinput({'showUpload':false,});
            });
        }
        return false;
    });
    $("#accountaddsubmit").click(function(){
        var frm = $("#addaccountform");
        $.ajax({
            url: frm.attr('action'),
            type: 'POST',
            data: frm.serialize(),
            success: function(data) {
                $("#accountaddmodal").modal('hide');
                $('.top-right').notify({
                    message: { text: 'Thank you! We will contact you soon' },
                    type: 'success'
                }).show();
            },
            error: function (data) {
                $("#addaccountform").html(data.responseText);
            }
        });
    });
    $(document).on('click', '#transferconfirm', function(){
        var amount = $("#id_units").val();
        var to_user = $("#id_reciever").val();
        $("#confirmText").text('Transfer ' + amount + ' GRT to ' + to_user + '?');
        $("#transferConfirmModal").modal('show');
    });
    $(document).on('click', '#transfersubmit', function () {
        $("#transferConfirmModal").modal('hide');
        var frm = $("#transferform");
        $.ajax({
            url: frm.attr('action'),
            type: frm.attr('method'),
            data: frm.serialize(),
            success: function (data) {
                $('.top-right').notify({
                    message: { text: data },
                    type: 'success'
                }).show();
                getEkataUnitsInfo();
            },
            error: function (data) {
                $("#transferformcontainer").html(data.responseText);
                $("#id_reciever").autocomplete({
                    source: '{% url 'myaccount:get_ekata_units_users' %}',
                    minLength: 2
                });
            }
        });
    });
    {% comment %}
    $(document).on('click', '#getNewAddress', function () {
        var url = '{% url 'myaccount:get_new_address' %}';
        $.ajax({
            url: url,
            type: 'POST',
            success: function () {
                getEkataUnitsInfo();
            },
            error: function () {
                $('.top-right').notify({
                    message: { text: 'Error getting address!! try later' },
                    type: 'danger'
                }).show();
            }
        });
    });
    $(document).on('click', '.getqrcode', function () {
        var address = $(this).data('address');
        $("#qrcodecontent>img").remove();
        $("#qrAddress").text(address);
        $("#qrcodecontent").qrcode({
            render: 'image',
            text: address
        });
        $("#qrCodeModal").modal('show');
    });
    {% endcomment %}
    {% if communitysignup %}
        {% if communitysignup.data_collect_done %}
            {% if communitysignup.status == 'approved' %}
            $(document).ready(function () {
                getEkataUnitsInfo();
            });
            {% endif %}
        {% endif %}
    {% endif %}
</script>
{% endcompress %}
{% endblock %}
