{% extends "base.html" %}
{% load i18n staticfiles compress %}
{% block extrastyle %}
    <link rel="stylesheet" href="{% static "dist/css/dashboard.css" %}?v=1">
    <style media="screen">
        .addresses {
            position: relative;
        }
        .getqrcode {
            position: absolute;
            right: 10px;
            line-height: 20px;
            color: green;
            cursor: pointer;
        }
        .autocomplete-img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            margin-right: 10px;
        }
    </style>
{% endblock extrastyle %}
{% block title %}
    {% trans "Accounts" %}
{% endblock title %}
{% block content_header_new %}
    <section class="content-header-new no-search-bar">
        <div class="col-md-4">
            <h1>
                {% trans "Accounts" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Accounts" %}</a></li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">{% trans "Accounts" %}</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community" style="background: url('{% static "dist/img/grantcoin.png" %}'); background-size: 100px 100px; background-repeat:no-repeat; background-position:center 40px;">
                                <div class="community-name">
                                    <h4>{% trans "Grantcoin" %}</h4>
                                </div>
                                <div class="community-actions">
                                    <a href="#" data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-default">{% trans "Notice" %}</a>
                                    {% comment %}
                                    {% if communitysignup %}
                                        {% if communitysignup.data_collect_done %}
                                            {% if communitysignup.status == 'approved' %}
                                                <a href="#" class="btn btn-block btn-flat btn-default">{% trans "Subscribed" %}</a>
                                            {% else %}
                                                <a href="#" data-toggle="modal" data-target='#pendingmodal' class="btn btn-block btn-flat btn-success">{% trans "Pending" %}</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Incomplete" %}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Signup" %}</a>
                                    {% endif %}
                                    {% endcomment %}
                                    {% comment %}
                                    {% if request.user.useraccount %}
                                        <a href="javascript:getEkataUnitsInfo();" class="btn btn-block btn-flat btn-success">{% trans "View Info" %}</a>
                                    {% else %}
                                        <a href="javascript:void(0);" class="btn btn-block btn-flat btn-info" id="ekataUnitsSubscribe">{% trans "Subscribe" %}</a>
                                    {% endif %}
                                    {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community" style="background: url('{% static "dist/img/DummyDB.png" %}'); background-size: 100px 100px; background-repeat:no-repeat; background-position:center 40px;">
                                <div class="community-name">
                                    <h4>{% trans "Ekata Units" %}</h4>
                                </div>
                                <div class="community-actions">
                                    <a href="#" data-toggle="modal" data-target="#ekataUnits" class="btn btn-block btn-flat btn-default">{% trans "Subscribed" %}</a>
                                    {% comment %}
                                    {% if communitysignup %}
                                        {% if communitysignup.data_collect_done %}
                                            {% if communitysignup.status == 'approved' %}
                                                <a href="#" class="btn btn-block btn-flat btn-default">{% trans "Subscribed" %}</a>
                                            {% else %}
                                                <a href="#" data-toggle="modal" data-target='#pendingmodal' class="btn btn-block btn-flat btn-success">{% trans "Pending" %}</a>
                                            {% endif %}
                                        {% else %}
                                            <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Incomplete" %}</a>
                                        {% endif %}
                                    {% else %}
                                        <a href="#" data-community-name='grantcoin' data-toggle="modal" data-target='#signupmodal' class="btn btn-block btn-flat btn-primary">{% trans "Signup" %}</a>
                                    {% endif %}
                                    {% endcomment %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% comment %}
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community" style="background: url('{% static "dist/img/pulse-heart-red.png" %}'); background-size: 100px 100px; background-repeat:no-repeat; background-position:center 40px;">
                                <div class="community-name">
                                    <h4>{% trans "Pulse Points" %}</h4>
                                </div>
                                <div class="community-actions">
                                    <a href="#" class="btn btn-block btn-flat btn-warning">{% trans "Coming soon" %}</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endcomment %}
                    <div class="col-md-3">
                        <div class="community-wrapper">
                            <div class="community community-add">
                                <a href="#"  data-toggle="modal" data-target='#accountaddmodal'>
                                    <i class="fa fa-plus community-add-fa" style=""></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="accountInfo">

    </div>
    {% comment %}
    <div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Signup to Grantcoin" %}</h4>
          </div>
          <div class="modal-body" id="signupbody">

          </div>
          <div class="modal-footer" id="signupfooter">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary" id="signupsubmit">{% trans "Submit" %}</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="pendingmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Signup to Grantcoin" %}</h4>
          </div>
          <div class="modal-body">
              <h4>{% trans "Please contact a Grantcoin staff on your Account Status" %}</h4>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="qrCodeModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
              <div class="text-center" id="qrcodecontent">
                  <p id="qrAddress"></p>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="transferConfirmModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{% trans "Confirm Transfer" %}</h4>
          </div>
          <div class="modal-body">
            <p id="confirmText"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "No" %}</button>
            <button type="button" class="btn btn-primary" id="transfersubmit">{% trans "Yes" %}</button>
          </div>
        </div>
      </div>
    </div>
    {% endcomment %}
    <div class="modal fade" id="signupmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Grantcoin Account" %}</h4>
          </div>
          <div class="modal-body" id="signupbody">
            <p>
              Starting Sept 1st, your Grantcoin wallet will no longer be accessible from the Ekata Social site. <br />
              Your wallet is being migrated to a new site by the Grantcoin Foundation per agreement.
              <a href="http://grantcoin.org/2017/08/30/manna-relaunch-progress-report">grantcoin.org/2017/08/30/manna-relaunch-progress-report</a> <br />
              Please contact jon@grantcoin.org for all related questions.
            </p>
          </div>
          {% comment %}
          <div class="modal-footer" id="signupfooter">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary" id="signupsubmit">{% trans "Submit" %}</button>
          </div>
          {% endcomment %}
        </div>
      </div>
    </div>
    <div class="modal fade" id="accountaddmodal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="">{% trans "Contact to add your organization account" %}</h4>
          </div>
          <div class="modal-body">
              {% include "autosignup/accountaddform.html" %}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">{% trans "Close" %}</button>
            <button type="button" class="btn btn-primary" id="accountaddsubmit">{% trans "Submit" %}</button>
          </div>
        </div>
      </div>
  </div>
  <div class="modal fade" id="ekataUnits" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">{% trans "Ekata Units" %}</h4>
        </div>
        <div class="modal-body">
          <h4>{% trans "Ekata Units coming soon, account under maintenance" %}</h4>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
{% block extrascripts %}
<script type="text/javascript" src="{% static "dist/js/jquery.countdown.min.js" %}"></script>
<script type="text/javascript" src="{% static "plugins/jquery-qrcode/jquery-qrcode.min.js" %}"></script>
{% compress js %}
<script type="text/javascript">
    $("#accountaddsubmit").click(function(){
        var frm = $("#addaccountform");
        $.ajax({
            url: frm.attr('action'),
            type: 'POST',
            data: frm.serialize(),
            success: function(data) {
                $("#accountaddmodal").modal('hide');
                $('.top-right').notify({
                    message: { text: 'Thank you! We will contact you soon' },
                    type: 'success'
                }).show();
            },
            error: function (data) {
                $("#addaccountform").html(data.responseText);
            }
        });
    });
</script>
{% endcompress %}
{% endblock %}
