{% load i18n bootstrap_tags %}
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  <h4 class="modal-title">Enter verification code sent to {{ phone_no }}</h4>
</div>
<div class="modal-body">
    <form action="{% url 'myaccount:verify_sdist_code' %}" method="post" id="sverificationform">
        {{ form|as_bootstrap }}
    </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-primary" id="sverifycode">{% trans "Verify" %}</button>
</div>
