{% load staticfiles bootstrap_tags i18n %}
<div class="box box-primary">
    <div class="box-header with-border">
        <h3 class="box-title">{% trans "Send Amount To" %}</h3>
    </div>
    <div class="box-body box-profile">
        {% if user.profile.avatar_public %}
            {% if user.profile.avatar %}
                <img src="{{ user.profile.avatar.thumbnail.128x128 }}" class="profile-user-img img-responsive img-circle" alt="User Image">
            {% else %}
                <img src="{% static "dist/img/placeholder-user.png" %}" class="profile-user-img img-responsive img-circle" width="128" height="128">
            {% endif %}
        {% else %}
            <img src="{% static "dist/img/placeholder-user.png" %}" class="profile-user-img img-responsive img-circle" width="128" height="128">
        {% endif %}
        <div class="text-center">
            <h4>{{ user.username }}</h4>
            <p>{{ user.address.street }}, {{ user.address.city }}</p>
        </div>
        {% include "useraccount/transferform.html" %}
        <div class="text-center">
            <button type="submit" id="sendbutton" class="btn btn-primary btn-flat">{% trans "Send" %}</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $("#sendbutton").click(function(){
        var frm = $("#transactionform");
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {
                $('.top-right').notify({
                    message: { text: data },
                    type: 'info',
                }).show();
                location.reload();
            },
            error: function(data) {
                frm.html(data.responseText);
            }
        });
    });
</script>