{% load staticfiles i18n raven compress %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<!--
    	Boxer Template
    	http://www.templatemo.com/tm-446-boxer
    	-->
		<meta charset="utf-8">
		<title>
			{% block title %}

			{% endblock %} | Ekata Social
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% block extrameta %}
		{% endblock %}
		<!-- google font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
		<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">

		<link rel="shortcut icon" type="image/png" href="{% static "dist/img/favicon.ico" %}">
		{% compress css %}
		<!-- animate css -->
        <link rel="stylesheet" href="{% static "dist/css/animate.min.css" %}">
		<!-- bootstrap css -->
		<link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css" %}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{% static "dist/css/font-awesome.min.css" %}">
		<!-- bootstrap social icon -->
		<link rel="stylesheet" href="{% static "dist/css/bootstrap-social.css" %}">

		<!-- Bootstrap Notify -->
    	<link rel="stylesheet" href="{% static "dist/css/bootstrap-notify.css" %}">

		<!-- custom css -->
		<link rel="stylesheet" href="{% static "dist/css/templatemo-style.css" %}?v=2.1.2">

		{% endcompress %}
		{% block extrastyles %}
		{% endblock %}

	</head>
	<body>
		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->
		<!-- start navigation -->
		<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container-fluid">
				{% ifequal SITE_TYPE 'beta' %}
	            <div class="ribbon-wrapper">
	                <div class="ribbon"><span>BETA</span></div>
	            </div>
	            {% endifequal %}
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target="#mainnav">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">
						<img alt="Brand" src="{% static "dist/img/ekata-logo-bk-200.png" %}?v=1" height="30" width="30">
					</a>
				</div>
				<div class="collapse navbar-collapse" id="mainnav">
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}">{% trans "Home" %}</a></li>
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}#feature">{% trans "Features" %}</a></li>
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}#contact">{% trans "Contact" %}</a></li>
						<li><a class="external" href="{% url 'landing:hashtag' %}">{% trans "Hashtag" %}</a></li>
						<li><a class="external" href="{% url 'landing:newses' %}">{% trans "News" %}</a></li>
						<li><a class="external" href="{% url 'crowdfunding:index' %}">{% trans "Fund" %}</a></li>
						{% if not request.user.is_authenticated %}
						<li><a class="external" href="/accounts/login/">Login</a></li>
						{% endif %}
					</ul>
				</div>
			</div>
		</nav>
		{% if request.user.is_authenticated %}
		<nav class="navbar navbar-default navbar-fixed-top ekata-nav" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target="#ekatanav">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="{% url 'dashboard:index' %}" class="navbar-brand text-uppercase">
						{% trans "Ekata Social" %}
					</a>
				</div>
				<div class="collapse navbar-collapse" id="ekatanav">
					<ul class="nav navbar-nav navbar-right text-uppercase">
						<li><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
						<li><a href="{% url 'myaccount:index' %}">{% trans "My Account" %}</a></li>
						<li><a href="{% url 'profilesystem:index' %}">{% trans "Profile" %}</a></li>
						{% if request.user.profile.users_link_visible %}
						<li><a href="{% url 'publicusers:index' %}">{% trans "Users" %}</a></li>
						{% endif %}
						{% if request.user.profile.groups_link_visible %}
						<li><a href="{% url 'g:allgroups' %}">{% trans "Groups" %}</a></li>
						{% endif %}
						{% if request.user.profile.timeline_link_visible %}
						<li><a href="{% url 'usertimeline:index' %}">{% trans "Timeline" %}</a></li>
						{% endif %}
						{% if request.user.profile.messaging_link_visible %}
						<li>
							<a href="{% url 'messaging:index' %}">{% trans "Messages" %}</a>
						</li>
						{% endif %}
						{% if request.user.profile.information_link_visible %}
						<li><a href="{% url 'information:index' %}">{% trans "information" %}</a></li>
						{% endif %}
						{% if request.user.profile.hashtagcampaign_link_visible %}
						<li><a href="{% url 'hashtag:index' %}">{% trans "Hashtag" %}</a></li>
						{% endif %}
						<li><a href="{% url 'profilesystem:index' %}#customizelink">{% trans "Customize link" %}</a></li>
						<li><a href="{% url 'logout' %}">{% trans "Logout" %}</a></li>
					</ul>
				</div>
			</div>
		</nav>
		{% endif %}
		<!-- end navigation -->
		<div class="notifications top-right"></div>
		{% block content %}

		{% endblock %}
		<!-- start contact -->
		<section id="contact">
			<div class="overlay">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
							<div class="col-md-12">
								<div class="link-wrapper">
									<h2>{% trans "Links" %}</h2>
									<ul class="list-inline">
										<li><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
										<li><a href="{% url 'myaccount:index' %}">{% trans "My Account" %}</a></li>
										<li><a href="{% url 'profilesystem:index' %}">{% trans "Profile" %}</a></li>
										<li><a href="{% url 'publicusers:index' %}">{% trans "Users" %}</a></li>
										<li><a href="{% url 'g:allgroups' %}">{% trans "Groups" %}</a></li>
										<li><a href="{% url 'usertimeline:index' %}">{% trans "Timeline" %}</a></li>
										<li><a href="{% url 'messaging:index' %}">{% trans "Messages" %}</a></li>
										<li><a href="{% url 'information:index' %}">{% trans "information" %}</a></li>
										<li><a href="{% url 'hashtag:index' %}">{% trans "Create Hashtag" %}</a></li>
										<li><a href="{% url 'disclaimer' %}">{% trans "Disclaimer" %}</a></li>
										<li><a href="{% url 'landing:newses' %}">{% trans "News" %}</a></li>
									</ul>
								</div>
								<div class="link-wrapper">
									<h2>{% trans "Social" %}</h2>
									<ul class="soc">
										<li><a class="soc-twitter" href="https://twitter.com/ekatasocial"></a></li>
										<li><a class="soc-facebook" href="https://www.facebook.com/ekatasocial"></a></li>
										<li><a class="soc-google" href="https://business.google.com/b/110706127430395330685"></a></li>
										<li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/groups/12011491"></a></li>
									</ul>
								</div>
								<div class="link-wrapper">
									<h4>{% trans "Signup for the Newsletter" %}</h4>
									<div class="col-sm-8">
										<input type="email" name='email_id' placeholder="Enter your email" class="emailsignup form-control">
									</div>
									<div class="col-sm-2">
										<button class='emailsignup' style="width: 45px" id="emailsignupbtn"><i class="fa fa-share"></i></button>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
							<div class="col-md-12">
								<h2>{% trans "Contact" %}</h2>
								<h4>Ekata Social LLC</h4>
								<p>{% trans "Please feel free to inquire more about the EKATA platform." %}</p>
								<img width="400" src="https://maps.googleapis.com/maps/api/staticmap?center=Orange,+VA&zoom=13&scale=false&size=400x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7COrange,+VA&key=AIzaSyCJJXODPR1lcqDIO-7fcpb8r7kjamnZOvY" alt="Google Map of Orange, VA">
								<address>
									<i class="fa fa-map-marker"></i>
									138 West Washington Street Unit A,
									<p class="address-text">Orange, VA 22960</p>
									<p class="address-text">United States</p>
								</address>
							</div>
						</div>
						<div class="col-md-4 col-sm-10 col-sm-offset-1 col-md-offset-0 wow fadeInUp contactform" data-wow-delay="0.6s">
							<div class="contact-form">
								<form action="{% url 'landing:sendcontactrequest' %}" method="post" id="contactrequestform">
									{% csrf_token %}
									<div class="col-md-6">
										<input type="text" name="name" class="form-control" placeholder="Name">
									</div>
									<div class="col-md-6">
										<input type="email" name="email" class="form-control" placeholder="Email">
									</div>
									<div class="col-md-12">
										<input type="text" name="subject" class="form-control" placeholder="Subject">
									</div>
									<div class="col-md-12">
										<textarea class="form-control" placeholder="Message" name="message" rows="4"></textarea>
									</div>
									<div class="col-md-12">
										<input type="submit" class="form-control text-uppercase" value="Contact us">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end contact -->
		<!-- start footer -->
		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="pull-left">
							<p style="color:#fff;">Copyright © 2014-2016 Ekata Social LLC. All rights reserved.</p>
						</div>
					</div>
					<div class="col-md-6 sm-no-pull">
						<div class="pull-right">
							<small class="label bg-blue">
								{% trans "Powered by " %}Ekata
							</small>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

		<script src="https://cdn.ravenjs.com/3.7.0/raven.min.js"></script>
		<script src="{% static "dist/js/jquery.js" %}"></script>
		<script>Raven.config('{% sentry_public_dsn %}').install()</script>
		<script src="{% static "dist/js/bootstrap.min.js" %}"></script>
		<script src="{% static "dist/js/wow.min.js" %}"></script>
		<script src="{% static "dist/js/jquery.singlePageNav.min.js" %}"></script>
    	<script src="{% static "dist/js/bootstrap-notify.js" %}"></script>
		<script src="{% static "dist/js/custom.js" %}"></script>
	    <script src="{% static "plugins/clipboard/clipboard.min.js" %}"></script>
		{% compress js %}
		<script type="text/javascript">
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			jQuery.ajaxSettings.traditional = true
			$('#contactrequestform').on('submit', function(event){
				event.preventDefault();
				var self = $(this);
				$.ajax({
					url: self.attr('action'),
					type: self.attr('method'),
					data: self.serialize(),
					success: function(data) {
						$('.top-right').notify({
                            message: { text: 'Thank you for submitting info we will reach you soon' },
                            type: 'success'
                        }).show();
					}
				});
			});
			$("#emailsignupbtn").click(function(){
				var email_id = $("input[name='email_id']").val();
				$.ajax({
					url: '{% url 'landing:newsletter_signup' %}',
					type: 'POST',
					data: {'email_id': email_id},
					success: function(data) {
						$('.top-right').notify({
                            message: { text: 'Thank you for signing into newsletter' },
                            type: 'success'
                        }).show();
					}
				});
			});
		</script>
		<script type="text/javascript">
			(function() {
				var s = document.createElement("script");
				s.type = "text/javascript";
				s.async = true;
				s.src = '//api.usersnap.com/load/'+
        			'41f43a68-14ce-4085-b6ef-58aa08f57ee0.js';
				var x = document.getElementsByTagName('script')[0];
				x.parentNode.insertBefore(s, x);
			})();
		</script>
		{% endcompress %}
		{% block extrascripts %}

		{% endblock %}
	</body>
</html>
