{% load staticfiles i18n raven %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<!--
    	Boxer Template
    	http://www.templatemo.com/tm-446-boxer
    	-->
		<meta charset="utf-8">
		<title>
			{% block title %}

			{% endblock %} | Ekata Social
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">

		{% block extrameta %}
		{% endblock %}

        <link rel="shortcut icon" type="image/png" href="{% static "dist/img/favicon.ico" %}">

		<!-- animate css -->
        <link rel="stylesheet" href="{% static "dist/css/animate.min.css" %}">
		<!-- bootstrap css -->
		<link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css" %}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{% static "dist/css/font-awesome.min.css" %}">
		<!-- bootstrap social icon -->
		<link rel="stylesheet" href="{% static "dist/css/bootstrap-social.css" %}">
		<!-- google font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
		<!-- Bootstrap Notify -->
    	<link rel="stylesheet" href="{% static "dist/css/bootstrap-notify.css" %}">

		<!-- custom css -->
		<link rel="stylesheet" href="{% static "dist/css/templatemo-style.css" %}">

		{% block extrastyles %}
		{% endblock %}

	</head>
	<body>
		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->
		<!-- start navigation -->
		<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">
						<img alt="Brand" src="{% static "dist/img/logo.png" %}" height="40" width="40">
					</a>
					<h3 class="navbar-text">EKATA</h3>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav text-uppercase">
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}">Home</a></li>
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}#feature">Features</a></li>
						<!--<li><a href="#support">Support</a></li>-->
						<!--<li><a href="#download">Download</a></li>-->
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}#contact">Contact</a></li>
						<li><a class="external" href="{% url 'landing:hashtag' %}">Hashtag</a></li>
						<li><a class="external" href="{% url 'landing:newses' %}">News</a></li>
						{% if request.user.is_authenticated %}
						{% else %}
							<li><a class="external" href="{% url 'invitationsystem:index' %}">Get Invitation</a></li>
						{% endif %}
					</ul>
					{% if request.user.is_authenticated %}
						<ul class="nav navbar-nav navbar-right text-uppercase">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
									{% if request.user.profile.avatar %}
			                            <img src="{{ request.user.profile.avatar.thumbnail.40x40 }}" class="img-circle" alt="User Image">
			                        {% else %}
			                            <img src="{% static "dist/img/placeholder-user.png" %}" class="img-circle" width="40" height="40">
			                        {% endif %} {{ request.user.username }} <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a class="external" style="height: 50px;" href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> {% trans "Dashboard" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									<li><a class="external" style="height: 50px;" href="{% url 'myaccount:index' %}"><i class="fa fa-bank"></i> {% trans "My Account" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									<li><a class="external" style="height: 50px;" href="{% url 'profilesystem:index' %}"><i class="fa fa-cog"></i> {% trans "Profile" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% if request.user.profile.users_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'publicusers:index' %}"><i class="fa fa-users"></i> {% trans "Users" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.groups_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'g:allgroups' %}"><i class="fa fa-cubes"></i> {% trans "Groups" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.timeline_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'usertimeline:index' %}"><i class="fa fa-clock-o"></i> {% trans "Timeline" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.messaging_link_visible %}
									<li>
										<a class="external" style="height: 50px;" href="{% url 'messaging:index' %}">
											<i class="fa fa-comment"></i> {% trans "Messages" %}
											{% if UNREAD_MESSAGE %}
												<span class="badge badge-message" style="margin-left: 10%">{{ UNREAD_MESSAGE }}</span>
											{% endif %}
										</a>
									</li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.information_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'information:index' %}"><i class="fa fa-info-circle"></i> {% trans "information" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.hashtagcampaign_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'hashtag:index' %}"><i class="fa fa-slack"></i> {% trans "Hashtag" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									<li><a class="external" style="height: 50px;" href="{% url 'profilesystem:index' %}#customizelink"><i class="fa fa-plus-square-o"></i> {% trans "Customize link" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									<li><a class="external" style="height: 50px;" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> {% trans "Sign-out" %}</a></li>
								</ul>
							</li>
						</ul>
					{% else %}
						<ul class="nav navbar-nav navbar-right text-uppercase">
							<li><a class="external" href="/accounts/login/"><i class="fa fa-sign-in"></i> Login</a></li>
						</ul>
					{% endif %}
				</div>
			</div>
		</nav>
		<!-- end navigation -->
		<div class="notifications top-right"></div>
		{% block content %}

		{% endblock %}
		<!-- start footer -->
		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						{% if request.path == '/' %}
						{% else %}
						<ul class="soc">
    						<li><a class="soc-twitter" href="https://twitter.com/ekatasocial"></a></li>
    						<li><a class="soc-facebook" href="https://www.facebook.com/ekatasocial"></a></li>
    						<li><a class="soc-google" href="https://business.google.com/b/110706127430395330685"></a></li>
    						<li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/groups/12011491"></a></li>
						</ul>
						{% endif %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="pull-left footer-link">
							<p><a href="{% url 'disclaimer' %}">Disclaimer</a> | <a href="{% url 'landing:newses' %}">News</a></p>
						</div>
					</div>
					<div class="col-md-6">
						<div class="pull-right footer-link">
							<p class="footer-text">Copyright © 2014-2016 Ekata Social LLC. All rights reserved.</p>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

		<script src="{% static "dist/js/jquery.js" %}"></script>
		<script src="https://cdn.ravenjs.com/3.7.0/raven.min.js"></script>
		<script>Raven.config('{% sentry_public_dsn %}').install()</script>
		<script src="{% static "dist/js/bootstrap.min.js" %}"></script>
		<script src="{% static "dist/js/wow.min.js" %}"></script>
		<script src="{% static "dist/js/jquery.singlePageNav.min.js" %}"></script>
    	<script src="{% static "dist/js/bootstrap-notify.js" %}"></script>
		<script src="{% static "dist/js/custom.js" %}"></script>
		<script type="text/javascript">
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			jQuery.ajaxSettings.traditional = true
		</script>
		{% block extrascripts %}

		{% endblock %}
	</body>
</html>
