{% load staticfiles i18n raven %}
<!DOCTYPE html>
<html lang="en">
	<head>
    	<!--
    	Boxer Template
    	http://www.templatemo.com/tm-446-boxer
    	-->
		<meta charset="utf-8">
		<title>
			{% block title %}

			{% endblock %} | Ekata Social
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="keywords" content="">
		<meta name="description" content="">

		{% block extrameta %}
		{% endblock %}

        <link rel="shortcut icon" type="image/png" href="{% static "dist/img/favicon.ico" %}">

		<!-- animate css -->
        <link rel="stylesheet" href="{% static "dist/css/animate.min.css" %}">
		<!-- bootstrap css -->
		<link rel="stylesheet" href="{% static "dist/css/bootstrap.min.css" %}">
		<!-- font-awesome -->
		<link rel="stylesheet" href="{% static "dist/css/font-awesome.min.css" %}">
		<!-- bootstrap social icon -->
		<link rel="stylesheet" href="{% static "dist/css/bootstrap-social.css" %}">
		<!-- google font -->
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,700,800' rel='stylesheet' type='text/css'>
		<!-- Bootstrap Notify -->
    	<link rel="stylesheet" href="{% static "dist/css/bootstrap-notify.css" %}">

		<!-- custom css -->
		<link rel="stylesheet" href="{% static "dist/css/templatemo-style.css" %}?v=1">

		{% block extrastyles %}
		{% endblock %}

	</head>
	<body>
		<!-- start preloader -->
		<div class="preloader">
			<div class="sk-spinner sk-spinner-rotating-plane"></div>
    	 </div>
		<!-- end preloader -->
		<!-- start navigation -->
		<nav class="navbar navbar-default navbar-fixed-top templatemo-nav" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="/" class="navbar-brand">
						<img alt="Brand" src="{% static "dist/img/logo.png" %}" height="40" width="40">
					</a>
					<h3 class="navbar-text">EKATA</h3>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav text-uppercase">
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}">Home</a></li>
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}#feature">Features</a></li>
						<!--<li><a href="#support">Support</a></li>-->
						<!--<li><a href="#download">Download</a></li>-->
						<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}#contact">Contact</a></li>
						<li><a class="external" href="{% url 'landing:hashtag' %}">Hashtag</a></li>
						<li><a class="external" href="{% url 'landing:newses' %}">News</a></li>
						{% if request.user.is_authenticated %}
						{% else %}
							<li><a {% if request.path != '/' %}class="external"{% endif %} href="{% url 'landing:index' %}#betainvite">Beta</a></li>
						{% endif %}
					</ul>
					{% if request.user.is_authenticated %}
						<ul class="nav navbar-nav navbar-right text-uppercase">
							<li class="dropdown">
								<a href="#" class="dropdown-toggle profile-image" data-toggle="dropdown">
									{% if request.user.profile.avatar %}
			                            <img src="{{ request.user.profile.avatar.thumbnail.160x160 }}" class="user-image" alt="User Image">
			                        {% else %}
			                            <img src="{% static "dist/img/placeholder-user.png" %}" class="user-image" width="160" height="160">
			                        {% endif %} {{ request.user.username }} <b class="caret"></b>
								</a>
								<ul class="dropdown-menu">
									<li><a class="external" style="height: 50px;" href="{% url 'dashboard:index' %}"><i class="fa fa-dashboard"></i> {% trans "Dashboard" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									<li><a class="external" style="height: 50px;" href="{% url 'myaccount:index' %}"><i class="fa fa-bank"></i> {% trans "My Account" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									<li><a class="external" style="height: 50px;" href="{% url 'profilesystem:index' %}"><i class="fa fa-cog"></i> {% trans "Profile" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% if request.user.profile.users_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'publicusers:index' %}"><i class="fa fa-users"></i> {% trans "Users" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.groups_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'g:allgroups' %}"><i class="fa fa-cubes"></i> {% trans "Groups" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.timeline_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'usertimeline:index' %}"><i class="fa fa-clock-o"></i> {% trans "Timeline" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.messaging_link_visible %}
									<li>
										<a class="external" style="height: 50px;" href="{% url 'messaging:index' %}">
											<i class="fa fa-comment"></i> {% trans "Messages" %}
											{% if UNREAD_MESSAGE %}
												<span class="badge badge-message" style="margin-left: 10%">{{ UNREAD_MESSAGE }}</span>
											{% endif %}
										</a>
									</li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.information_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'information:index' %}"><i class="fa fa-info-circle"></i> {% trans "information" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									{% if request.user.profile.hashtagcampaign_link_visible %}
									<li><a class="external" style="height: 50px;" href="{% url 'hashtag:index' %}"><i class="fa fa-slack"></i> {% trans "Hashtag" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									{% endif %}
									<li><a class="external" style="height: 50px;" href="{% url 'profilesystem:index' %}#customizelink"><i class="fa fa-plus-square-o"></i> {% trans "Customize link" %}</a></li>
									<li class="divider" style="margin: 0;"></li>
									<li><a class="external" style="height: 50px;" href="{% url 'logout' %}"><i class="fa fa-sign-out"></i> {% trans "Sign-out" %}</a></li>
								</ul>
							</li>
						</ul>
					{% else %}
						<ul class="nav navbar-nav navbar-right text-uppercase">
							<li><a class="external" href="/accounts/login/"><i class="fa fa-sign-in"></i> Login</a></li>
						</ul>
					{% endif %}
				</div>
			</div>
		</nav>
		<!-- end navigation -->
		<div class="notifications top-right"></div>
		{% block content %}

		{% endblock %}
		<!-- start contact -->
		<section id="contact">
			<div class="overlay">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
							<div class="col-md-12">
								<div class="link-wrapper">
									<h2>{% trans "Links" %}</h2>
									<ul class="list-inline">
										<li><a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a></li>
										<li><a href="{% url 'myaccount:index' %}">{% trans "My Account" %}</a></li>
										<li><a href="{% url 'profilesystem:index' %}">{% trans "Profile" %}</a></li>
										<li><a href="{% url 'publicusers:index' %}">{% trans "Users" %}</a></li>
										<li><a href="{% url 'g:allgroups' %}">{% trans "Groups" %}</a></li>
										<li><a href="{% url 'usertimeline:index' %}">{% trans "Timeline" %}</a></li>
										<li><a href="{% url 'messaging:index' %}">{% trans "Messages" %}</a></li>
										<li><a href="{% url 'information:index' %}">{% trans "information" %}</a></li>
										<li><a href="{% url 'hashtag:index' %}">{% trans "Create Hashtag" %}</a></li>
										<li><a href="{% url 'disclaimer' %}">{% trans "Disclaimer" %}</a></li>
										<li><a href="{% url 'landing:newses' %}">{% trans "News" %}</a></li>
									</ul>
								</div>
								<div class="link-wrapper">
									<h2>{% trans "Social" %}</h2>
									<ul class="soc">
										<li><a class="soc-twitter" href="https://twitter.com/ekatasocial"></a></li>
										<li><a class="soc-facebook" href="https://www.facebook.com/ekatasocial"></a></li>
										<li><a class="soc-google" href="https://business.google.com/b/110706127430395330685"></a></li>
										<li><a class="soc-linkedin soc-icon-last" href="https://www.linkedin.com/groups/12011491"></a></li>
									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-6 wow fadeInUp" data-wow-delay="0.6s">
							<div class="col-md-12">
								<h2>{% trans "Contact" %}</h2>
								<h4>Ekata Social LLC</h4>
								<p>{% trans "Please feel free to inquire more about the EKATA platform." %}</p>
								<img width="400" src="https://maps.googleapis.com/maps/api/staticmap?center=Orange,+VA&zoom=13&scale=false&size=400x200&maptype=roadmap&format=png&visual_refresh=true&markers=size:mid%7Ccolor:0xff0000%7Clabel:1%7COrange,+VA&key=AIzaSyCJJXODPR1lcqDIO-7fcpb8r7kjamnZOvY" alt="Google Map of Orange, VA">
								<address>
									<i class="fa fa-map-marker"></i>
									138 West Washington Street Unit A,
									<p class="address-text">Orange, VA 22960</p>
									<p class="address-text">United States</p>
								</address>
							</div>
						</div>
						<div class="col-md-4 col-sm-10 col-sm-offset-1 col-md-offset-0 wow fadeInUp contactform" data-wow-delay="0.6s">
							<div class="contact-form">
								<form action="{% url 'landing:sendcontactrequest' %}" method="post" id="contactrequestform">
									{% csrf_token %}
									<div class="col-md-6">
										<input type="text" name="name" class="form-control" placeholder="Name">
									</div>
									<div class="col-md-6">
										<input type="email" name="email" class="form-control" placeholder="Email">
									</div>
									<div class="col-md-12">
										<input type="text" name="subject" class="form-control" placeholder="Subject">
									</div>
									<div class="col-md-12">
										<textarea class="form-control" placeholder="Message" name="message" rows="4"></textarea>
									</div>
									<div class="col-md-12">
										<input type="submit" class="form-control text-uppercase" value="Contact us">
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- end contact -->
		<!-- start footer -->
		<footer>
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-6">
						<div class="pull-left">
							<p style="color:#fff;">Copyright © 2014-2016 Ekata Social LLC. All rights reserved.</p>
						</div>
					</div>
					<div class="col-md-6 sm-no-pull">
						<div class="pull-right">
							<small class="label bg-blue">
								Powered by Ekata
							</small>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- end footer -->

		<script src="{% static "dist/js/jquery.js" %}"></script>
		<script src="https://cdn.ravenjs.com/3.7.0/raven.min.js"></script>
		<script>Raven.config('{% sentry_public_dsn %}').install()</script>
		<script src="{% static "dist/js/bootstrap.min.js" %}"></script>
		<script src="{% static "dist/js/wow.min.js" %}"></script>
		<script src="{% static "dist/js/jquery.singlePageNav.min.js" %}"></script>
    	<script src="{% static "dist/js/bootstrap-notify.js" %}"></script>
		<script src="{% static "dist/js/custom.js" %}"></script>
		<script type="text/javascript">
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie !== '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) === (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			var csrftoken = getCookie('csrftoken');
			function csrfSafeMethod(method) {
				// these HTTP methods do not require CSRF protection
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}
			$.ajaxSetup({
				beforeSend: function(xhr, settings) {
					if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
						xhr.setRequestHeader("X-CSRFToken", csrftoken);
					}
				}
			});
			jQuery.ajaxSettings.traditional = true
			$('#contactrequestform').on('submit', function(event){
				event.preventDefault();
				var self = $(this);
				$.ajax({
					url: self.attr('action'),
					type: self.attr('method'),
					data: self.serialize(),
					success: function(data) {
						$('.top-right').notify({
                            message: { text: 'Thank you for submitting info we will reach you soon' },
                            type: 'success'
                        }).show();
					}
				});
			});
		</script>
		<script type="text/javascript">
			(function() {
				var s = document.createElement("script");
				s.type = "text/javascript";
				s.async = true;
				s.src = '//api.usersnap.com/load/'+
        			'41f43a68-14ce-4085-b6ef-58aa08f57ee0.js';
				var x = document.getElementsByTagName('script')[0];
				x.parentNode.insertBefore(s, x);
			})();
		</script>
		{% block extrascripts %}

		{% endblock %}
	</body>
</html>
