{% load i18n guardian_tags bip_extras %}
{% get_obj_perms request.user for group as "group_perms" %}
<li class="treeview {% active request 'g:groupdetails' group.id %}">
    <a href="{% url 'g:groupdetails' group.id %}">
        <i class="fa fa-home"></i> <span>{% trans "Homepage" %}</span>
    </a>
</li>
{% if 'can_read_events' in group_perms %}
<li class="treeview {% active request 'g:events' group.id %}">
    <a href="{% url 'g:events' group.id %}">
        <i class="fa fa-calendar"></i> <span>{% trans "Events" %}</span>
    </a>
</li>
{% endif %}
{% if 'can_read_post' in group_perms %}
<li class="treeview {% active request 'g:posts' group.id %}">
    <a href="{% url 'g:posts' group.id %}">
        <i class="fa fa-edit"></i><span>{% trans "Posts" %}</span>
    </a>
</li>
{% endif %}
{% if 'can_access_admin' in group_perms %}
<li class="divider">{% trans "Group Admin Section" %}</li>
{% endif %}
{% if 'can_access_admin' in group_perms %}
<li class="treeview {% active request 'g:groupdashboard' group.id %}">
    <a href="{% url 'g:groupdashboard' group.id %}">
        <i class="fa fa-dashboard"></i> <span>{% trans "Dashboard" %}</span>
    </a>
</li>
{% endif %}
{% if 'can_access_admin' in group_perms %}
{% if 'can_create_news' in group_perms or 'can_update_news' in group_perms %}
<li class="treeview {% active request 'g:adminnews' group.id %}">
    <a href="{% url 'g:adminnews' group.id %}">
        <i class="fa fa-newspaper-o"></i> <span>{% trans "News" %}</span>
    </a>
</li>
{% endif %}
{% endif %}
{% if 'can_access_admin' in group_perms %}
<li class="treeview {% active request 'g:members' group.id %} {% active request 'g:joinrequest' group.id %} {% active request 'g:bannedmembers' group.id %}">
    <a href="#">
        <i class="fa fa-users"></i>
        <span>{% trans "Members" %}</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="{% active request 'g:members' group.id %}"><a href="{% url 'g:members' group.id %}"><i class="fa fa-circle-o"></i>{% trans "Members" %}</a></li>
        {% if 'can_approve_joinrequest' in group_perms or 'can_deny_joinrequest' in group_perms %}
        <li class="{% active request 'g:joinrequest' group.id %}"><a href="{% url 'g:joinrequest' group.id %}"><i class="fa fa-circle-o"></i>{% trans "Requests" %}</a></li>
        {% endif %}
        {% if 'can_lift_member_ban' in group_perms %}
        <li class="{% active request 'g:bannedmembers' group.id %}"><a href="{% url 'g:bannedmembers' group.id %}"><i class="fa fa-circle-o"></i>{% trans "Banned Members" %}</a></li>
        {% endif %}
    </ul>
</li>
{% endif %}
{% if 'can_access_admin' in group_perms %}
{% if 'can_create_events' in group_perms %}
<li class="treeview {% active request 'g:eventsadmin' group.id %}">
    <a href="{% url 'g:eventsadmin' group.id %}">
        <i class="fa fa-calendar"></i> <span>{% trans "Events" %}</span>
    </a>
</li>
{% endif %}
{% endif %}
{% if 'can_access_admin' in group_perms %}
{% if 'can_read_role' in group_perms or 'can_read_custom_role' in group_perms %}
<li class="treeview {% active request 'g:groupdefaultrole' group.id %} {% active request 'g:groupcustomrole' group.id %}">
    <a href="#">
        <i class="fa fa-eye"></i>
        <span>{% trans "Roles" %}</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        {% if 'can_read_role' in group_perms %}
            <li class="{% active request 'g:groupdefaultrole' group.id %}"><a href="{% url 'g:groupdefaultrole' group.id %}"><i class="fa fa-circle-o"></i>{% trans "Defaults" %}</a></li>
        {% endif %}
        {% if 'can_read_custom_role' in group_perms %}
            <li class="{% active request 'g:groupcustomrole' group.id %}"><a href="{% url 'g:groupcustomrole' group.id %}"><i class="fa fa-circle-o"></i>{% trans "Custom" %}</a></li>
        {% endif %}
    </ul>
</li>
{% endif %}
{% endif %}
{% if 'can_access_admin' in group_perms %}
{% if group.account_signups %}
{% if request.user.is_superuser or request.user.profile.grantcoin_staff %}
<li class="treeview {% active request 'autosignup:signups' %} {% active request 'autosignup:signups_settings' %} {% active request 'myaccount:ekata_units_admin' %}">
    <a href="#">
        <i class="fa fa-home"></i>
        <span>{% trans "Grantcoin" %}</span>
        <span class="pull-right-container">
            <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
        <li class="{% active request 'autosignup:signups' %}"><a href="{% url 'autosignup:signups' %}"><i class="fa fa-user-plus"></i>{% trans "Signups" %}</a></li>
        <li class="{% active request 'autosignup:signups_settings' %}"><a href="{% url 'autosignup:signups_settings' %}"><i class="fa fa-cog"></i>{% trans "Admin" %}</a></li>
        <li class="{% active request 'myaccount:ekata_units_admin' %}"><a href="{% url 'myaccount:ekata_units_admin' %}"><i class="fa fa-plus-circle"></i>{% trans "Distribute" %}</a></li>
    </ul>
</li>
{% endif %}
{% endif %}
{% endif %}
{% if 'can_access_admin' in group_perms %}
{% if 'can_edit_group_profile' in group_perms %}
<li class="treeview {% active request 'g:adminsettings' group.id %}">
    <a href="{% url 'g:adminsettings' group.id %}">
        <i class="fa fa-cog"></i> <span>{% trans "Settings" %}</span>
    </a>
</li>
{% endif %}
{% endif %}
