{% extends "base.html" %}
{% load i18n staticfiles compress %}
{% block title %}
    {% trans "Messaging" %}
{% endblock title %}
{% block extrastyle %}
    {% compress css %}
    <style>
        .chatuser {
            padding: 6px;
            margin: 5px 0;
        }
        .activechat {
            background-color: #ddd;
        }
        .chatuser:hover {
            background-color: rgba(23, 136, 229, 0.6);
        }
        .chatuser:hover a {
            color: #fff;
        }
        .bigger-img {
            height: 50px;
            width: 50px;
        }
        .no-msg {
            font-size: 18px;
            margin-top: 20%;
            color: #DDF;
        }
        .blink {
            animation:blink 700ms infinite alternate;
        }
        @keyframes blink {
            from { opacity:1; }
            to { opacity:0; }
        }
        .popovercontent {
            display: none;
        }
        .tableactions {
            padding: 5px;
        }
        .tableactions:hover {
            background-color: #3c8dbc;
            border-radius: 3px;
        }
        .tableactions:hover a {
            color: #fff;
        }
    </style>
    {% endcompress %}
{% endblock extrastyle %}
{% block content_header_new %}
    <section class="content-header-new container-fluid">
        <div class="col-md-4">
            <h1>
                {% trans "Messenger" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "messenger" %}</a></li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}
{% block content %}
    <div class="row">
        <div class="col-md-3">
            <div class="box box-primary">
                <div class="box-body">
                    <input type="text" class="form-control" placeholder="search by username..." id="searchroom">
                    <hr>
                    {% if chats %}
                        <div class="message-users" id="chatrooms">
                            {% include "messagingsystem/rooms.html" %}
                        </div>
                    {% else %}
                        <div class="message-users text-center">
                            <p class="no-msg">{% trans "Sorry you have no chats yet!!!" %}</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="box box-primary" id="chatmessages">
                {% if chats %}
                    {% include "messagingsystem/chats.html" %}
                {% else %}
                    <div class="box-body">
                        <div class="direct-chat-messages text-center">
                            <p class="no-msg">{% trans "Sorry you have no chats yet!!!" %}</p>
                        </div>
                    </div>
                {% endif %}
                <div class="overlay" id="chatoverlay">
                    <i class="fa fa-refresh fa-spin"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="popovercontent" id="actionslist">
        <table>
            <tbody>
                <tr>
                    <td class="tableactions" data-toggle="modal" data-target="#sendUnitModal">
                        <a href="javascript:void(0)">{% trans "Send Units" %}</a>
                    </td>
                </tr>
                <tr>
                    <td class="tableactions" data-toggle="modal" data-target="#requestUnitModal">
                        <a href="javascript:void(0)">{% trans "Request Request" %}</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock content %}
{% block extrascripts %}
    {% compress js %}
    <script>
        function clear_form_field_errors(form) {
            $(".error-msg", $(form)).remove();
            $(".form-group", $(form)).removeClass("has-error");
        }
        $("#chatoverlay").hide();
        setMessageRead();
        $(".activechat").prop('active', true);
        $(".message-users").slimscroll({
            height: '450px',
            size: '3px',
            alwaysVisible: false
        });
        $(".direct-chat-messages").slimscroll({
            height: '450px',
            size: '3px',
            alwaysVisible: false,
            start: 'bottom'
        });
        $("#searchroom").keyup(function(){
            var query = $(this).val();
            $("#chatrooms").load(
                "{% url 'messaging:index' %}?username=" + encodeURIComponent(query)
            );
        });
        $("input[name='content']").emojioneArea({
            pickerPosition: "top",
            tonesStyle: "bullet",
            hidePickerOnBlur: false,
            events: {
                keyup: function(editor, event){
                    if (event.which === 13) {
                        $('.emojionearea-editor').blur();
                        var frm = $("#sendfrm");
                        if ($("input[name='content']").val()) {
                            $.ajax({
                                url: frm.attr('action'),
                                type: 'POST',
                                data: frm.serialize(),
                                success: function(data) {
                                    $('.direct-chat-messages').append(data);
                                    $("input[name='content']").val('');
                                    $(".direct-chat-messages").slimscroll({
                                        scrollTo: $('.direct-chat-messages')[0].scrollHeight,
                                    });
                                    $(".emojionearea-editor").text('');
                                    convertEmojis(true);
                                }
                            });
                        }
                    }
                },
                emojibtn_click: function (button, event) {
                    $('.emojionearea-editor').blur();
                },
            }
        });
        $(".emojionearea-button").click(function(e){
            document.activeElement.blur();
        });
        var mouse_is_inside = false;
        $(".emojionearea-picker, .emojionearea-button").hover(function(){
            mouse_is_inside=true;
        }, function(){
            mouse_is_inside=false;
        });
        $(document).mouseup(function(){
            if ($('.emojionearea-button').hasClass('active') && ! mouse_is_inside) {
                $('.emojionearea-button').click();
            }
        });
        $(".chatuser").click(function () {
            var chat_id = $(this).data('id');
            var chat = $("#room-" + chat_id);
            $("#chatoverlay").show();
            $("#chatmessages").load('/messaging/chat/' + chat_id + '/', function(){
                $("#chatoverlay").hide();
                $(".chatuser").removeClass('activechat');
                $(".chatuser").prop('active', false);
                $(chat).addClass('activechat');
                $(chat).prop('active', true);
                $(chat).removeClass('blink');
                $(".direct-chat-messages").slimscroll({
                    height: '450px',
                    size: '3px',
                    alwaysVisible: false,
                    start: 'bottom'
                });
                convertEmojis();
                setMessageRead();
            });
        });
        $("#sendmsg").click(function(e){
            e.preventDefault();
            var frm = $("#sendfrm");
            if ($("input[name='content']").val()) {
                $.ajax({
                    url: frm.attr('action'),
                    type: 'POST',
                    data: frm.serialize(),
                    success: function(data) {
                        $('.direct-chat-messages').append(data);
                        $("input[name='content']").val('');
                        $(".direct-chat-messages").slimscroll({
                            scrollTo: $('.direct-chat-messages')[0].scrollHeight,
                        });
                        $('.emojionearea-editor').text('');
                        convertEmojis(true);
                    }
                });
            }
        });
        $('.actions').popover({
            html: true,
            content: function() {
                return $("#actionslist").html();
            },
            title: "{% trans "Actions" %}",
            placement: "left",
            container: 'body',
            trigger: 'focus'
        });
        $("#sendbutton").click(function(){
            var frm = $("#transactionform");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    $('.top-right').notify({
                        message: { text: data },
                        type: 'info',
                    }).show();
                    $("#sendUnitModal").modal('hide');
                },
                error: function(data) {
                    frm.html(data.responseText);
                }
            });
        });
        $("#sendUnitModal").on('hidden.bs.modal', function(){
            $("#transactionform")[0].reset();
            clear_form_field_errors("#transactionform");
        });
        $("#requestbutton").click(function(){
            var frm = $("#requestform");
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                    $('.top-right').notify({
                        message: { text: data },
                        type: 'info',
                    }).show();
                    $("#requestUnitModal").modal('hide');
                },
                error: function(data) {
                    frm.html(data.responseText);
                }
            });
        });
        $("#requestUnitModal").on('hidden.bs.modal', function(){
            $("#requestform")[0].reset();
            clear_form_field_errors("#requestform");
        });
    </script>
    {% endcompress %}
{% endblock extrascripts %}
