{% load staticfiles i18n bip_extras %}
{% if chats %}
    <ul class="dropdown-menu">
        <li>
            <ul class="menu">
                {% for chat in chats %}
                    <li data-name={{ chat.name }}>
                        <a href="javascript:void(0)" onclick="openChat({{ chat.id }}, '{{ chat.name }}')">
                            {% for subscriber in chat.subscribers.all %}
                                {% ifequal subscriber ruser %}
                                {% else %}
                                    <div class="pull-left">
                                        {% if subscriber.profile.avatar_public %}
                                            {% if subscriber.profile.avatar %}
                                                <img src="{{ subscriber.profile.avatar.thumbnail.128x128 }}" class="img-circle">
                                            {% else %}
                                                <div class="default-avatar" style="background: {{ subscriber.profile.default_avatar_color }}; width: 50px; height: 50px; margin-right: 5px;">
                                                    <div class="default-avatar-text-wrapper">
                                                        <div class="default-avatar-text">
                                                            {% user_initial subscriber %}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endif %}
                                        {% else %}
                                            <div class="default-avatar" style="background: {{ subscriber.profile.default_avatar_color }}; width: 50px; height: 50px; margin-right: 5px;">
                                                <div class="default-avatar-text-wrapper">
                                                    <div class="default-avatar-text">
                                                        {% user_initial subscriber %}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    </div>
                                    <h4>
                                        {{ subscriber.username }}
                                    </h4>
                                {% endifequal %}
                            {% endfor %}
                            <p>{{ chat.messages.last.content|truncatechars:20 }}</p>
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </li>
    </ul>
{% else %}
    <ul class="dropdown-menu">
        <li>
            <ul class="menu">
                <li>
                    <a href="#">
                        <i class="fa fa-smile-o text-red"></i> {% trans "All caught up" %}
                    </a>
                </li>
            </ul>
        </li>
    </ul>
{% endif %}
