{% load staticfiles bip_extras %}
{% if message %}
     <div class="direct-chat-msg">
        <div class="direct-chat-info clearfix">
            <span class="direct-chat-name pull-left">{{ message.user.username }}</span>
            <span class="direct-chat-timestamp pull-right">{{ message.timestamp|date:"H:i" }}</span>
        </div>
        <!-- /.direct-chat-info -->
        {% if message.user.profile.avatar_public %}
            {% if message.user.profile.avatar %}
                <img src="{{ message.user.profile.avatar.thumbnail.128x128 }}" class="direct-chat-img">
            {% else %}
                <div class="default-avatar" style="background: {{ message.user.profile.default_avatar_color }}; width: 40px; height: 40px; {% ifequal message.user request.user %}float: right {% else %} float:left {% endifequal %}">
                    <div class="default-avatar-text-wrapper">
                        <div class="default-avatar-text">
                            {% user_initial message.user %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% else %}
        <div class="default-avatar" style="background: {{ message.user.profile.default_avatar_color }}; width: 40px; height: 40px {% ifequal message.user request.user %}float: right {% else %} float:left {% endifequal %}">
            <div class="default-avatar-text-wrapper">
                <div class="default-avatar-text">
                    {% user_initial message.user %}
                </div>
            </div>
        </div>
        {% endif %}
        <!-- /.direct-chat-img -->
        <div class="direct-chat-text">
            <p>{{ message.content }}</p>
        </div>
        <!-- /.direct-chat-text -->
    </div>
    <!-- /.direct-chat-msg -->
{% endif %}
