{% load i18n bootstrap_tags %}
<form id='signupeditform' action="{% url 'autosignup:edit_signup' community_signup.id %}" method="post">
    {% csrf_token %}
    {{ rform|as_bootstrap }}
    {{ form|as_bootstrap }}
    <div class="pull-right">
        <button class="btn btn-flat btn-warning" id="fetchtwilio" data-signup-id='{{ community_signup.id }}'>{% trans "Fetch Twilio Data" %}</button>
        <button class="btn btn-flat btn-danger" id='delete' data-signup-id='{{ community_signup.id }}'>{% trans "Delete" %}</button>
        <button class="btn btn-flat btn-primary" id='save'>{% trans "Save" %}</button>
        <button class="btn btn-flat btn-default" id="canceledit" data-signup-id='{{ community_signup.id }}'>{% trans "Cancel" %}</button>
    </div>
</form>
