{% extends "base.html" %}
{% load i18n staticfiles %}
{% block title %}
    {% trans "Signups settings" %}
{% endblock %}
{% block content_header %}
    <h1>
        {% trans "Signups settings" %}<br>
        <small><i class="fa fa-user"></i>
            {% if user and not user.is_anonymous %}
                <a>Hello, {{ user.username }}!</a>
                <br>
            {% endif %}
        </small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i>Dashboard</a></li>
        <li class="active">Here</li>
    </ol>
{% endblock content_header %}
{% block content %}
    <div class="row">
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border"> 
                    <h4 class="box-title">{% trans "Autosignup settings" %}</h4>
                </div>
                <div class="box-body" style="min-height: 500px" id="signupboxbody">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5>Signup is: </h5>
                        </div>
                        <div class="col-sm-6">
                            <input type="checkbox" {% if accountprovider.signup_is_open %}checked{% endif %} data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="Open" data-off="Closed" data-size="mini" id="signup_status">
                        </div>
                    </div>
                    <div class="row">
                        <form action="{% url 'autosignup:signups_settings' %}" method="post">
                            {% csrf_token %}
                            <div class="col-md-6">
                                <h5>Max allowed distance in kilometers: </h5>
                            </div>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <input type="number" name="maxdist" value="{{ accountprovider.allowed_distance }}" class="form-control">
                                    <div class="input-group-addon">
                                        {% trans "KM" %}
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-xs btn-block btn-flat">{% trans "Submit" %}</button>
                            </div>
                        </form>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-12">
                            <h5>{% trans "Approved Email Template" %}</h5>
                            <form id="selectEmailTemplate">
                                <h6>{% trans "Select from one" %}</h6>
                                <input type="radio" name="emailTemplate" value="default" {% if default_template %}checked{% endif %}> {% trans "Default" %}<br>
                                {% for emailtemplate in accountprovider.mailtemplate.all %}
                                    <div id="uploaded-template-{{ emailtemplate.id }}">
                                        <input type="radio" name="emailTemplate" value="{{ emailtemplate.id }}" {% if emailtemplate.selected %}checked{% endif %}> {{ emailtemplate.filename }}
                                        <div class="pull-right">
                                            <a href="{% url 'autosignup:download_template' %}?template_id={{ emailtemplate.id }}"><i class="btn btn-success btn-xs fa fa-download"></i></a>  <i class="delete_template btn btn-danger btn-xs fa fa-trash-o" data-template-id="{{ emailtemplate.id }}"></i>
                                        </div>
                                    </div>
                                {% endfor %}
                            </form>
                        </div>
                        <div class="col-md-12">
                            <h5>{% trans "Or" %}</h5>
                            <form action="{% url 'autosignup:upload_template' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ accountprovider.id }}">
                                <input type="file" name="template" value="" id="templateupload" placeholder="Upload a new" class="file">
                                <p class="form-text text-muted">
                                    {% trans "File must be html document" %}
                                </p>
                            </form>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-12">
                            <h5>{% trans "Invite Code" %}</h5>
                            <hr>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-6">
                            <h5>{% trans "Status:" %}</h5>
                        </div>
                        <div class="col-md-6">
                            <input type="checkbox" {% if accountprovider.invite_code_is_open %}checked{% endif %} data-toggle="toggle" data-onstyle="success" data-offstyle="danger" data-on="Open" data-off="Closed" data-size="mini" id="invite_code_toggle">
                        </div>
                    </div>
                    <div class="row" style="margin-top: 10px">
                        <div class="col-md-6">
                            <h5>{% trans "Code:" %}</h5>
                        </div>
                        <div class="col-md-6">
                            <input type="text" value="{{ accountprovider.invite_code }}" maxlength=14 class="form-control" id="invite_code_value">
                            <button class="btn btn-primary btn-xs btn-block btn-flat" id="invite_code_submit">{% trans "Submit" %}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="box box-solid">
                <div class="box-header with-border">
                    <h4 class="box-title">{% trans "Upload and Download CSV" %}</h4>
                </div>
                <div class="box-body" style="min-height: 500px;">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="{% url 'autosignup:upload_member_csv' %}" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ accountprovider.id }}">
                                <input type="file" name="csv" value="" placeholder="Upload a new csv" class="file">
                                <input type="checkbox" name="fetch_twilio" value=""> {% trans "Fetch Twilio Data" %}
                            </form>
                            <a href="{% static "dist/files/membercsv_example.csv" %}">{% trans "Download example copy" %}</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="text-center">
                                <h3>{% trans "Uploaded CSVs" %}</h3>
                                <hr>
                            </div>
                            <table class="table" id="csvtable">
                                <thead>
                                    <tr>
                                        <th data-visible="false">Id</th>
                                        <th data-sortable="true">File</th>
                                        <th data-sortable="true">Status</th>
                                        <th>Failed rows</th>
                                    </tr>
                                </thead>
                                <tbody>
                                   {% for membercsv in accountprovider.membercsvs.all %}
                                       <tr>
                                            <td>{{ membercsv.id }}</td>
                                            <td>{{ membercsv.filename }}</td>
                                            <td>
                                                {% if membercsv.status == 'all' %}
                                                    Processed
                                                {% else %}
                                                    {% if membercsv.status == 'partially processed' %}
                                                        {{ membercsv.status }} to row {{ membercsv.processed_to }}
                                                    {% else %}
                                                        {{ membercsv.status }}
                                                    {% endif %}
                                                {% endif %}
                                            </td>
                                            <td>
                                                {% if membercsv.failed_csv %}
                                                    <a href="{{ MEDIA_URL }}{{ membercsv.failed_csv.url }}">failed.csv</a>
                                                {% endif %}
                                            </td>
                                       </tr>
                                   {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label style="margin-right: 30px;">{% trans "Select range" %}</label>
                            <input type="text" id='memberslider'>
                            <button class="btn btn-success btn-block" id="downcsv">{% trans "Download Member Data CSV" %}</button>
                            <hr>
                            <a href="{% static "dist/files/audit.log" %}" class="btn btn-info btn-block">Download Audit Log</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    <script type="text/javascript">
    var memberSlider = $("#memberslider").bootstrapSlider({
        max: {{ signups_count }},
        min: 1,
        range: true,
        value: 1
    });
    $('#signup_status').change(function(){
        var checked = $(this).is(':checked');
        $.ajax({
            url: '{% url 'autosignup:set_signup_status' %}',
            type: 'POST',
            data: {'status': checked?'on':'off'},
            success: function (data) {
                console.log('success');
            }
        });
    });
    $('#selectEmailTemplate input').on('change', function() {
        var template_id = $('input[name=emailTemplate]:checked', '#selectEmailTemplate').val();
        var id = '{{ accountprovider.id }}';
        $.ajax({
            url: '{% url 'autosignup:change_template' %}',
            type: 'POST',
            data: {'template_id': template_id, 'id': id}
        });
    });
    $(".delete_template").click(function(){
        var self = $(this)
        $.ajax({
            url: '{% url 'autosignup:delete_template' %}',
            type: 'POST',
            data: {'template_id': self.attr('data-template-id')},
            success: function(data) {
                $("#uploaded-template-" + self.attr('data-template-id')).remove();
            }
        });
    });
    $("#csvtable").bootstrapTable({
        'pagination': true,
        'pageNumber': 1,
        'pageSize': 10,
        'pageList': [5, 10, 15, 20, 25],
    });
    $('#downcsv').click(function(){
        $(this).text("Generating File...")
        var self = $(this);
        $.ajax({
            url: '{% url 'autosignup:download_member_csv' %}',
            type: 'GET',
            data: {'id': {{ accountprovider.id }}, 'ranges': $("#memberslider").val() },
            success: function(data){
                var blob=new Blob([data], {type: "text/plain;charset=utf-8"});
                saveAs(blob, "membercsv_" + moment().format('DD_MM_YYYY_h_mm_ss_a') + ".csv");
                self.text("{% trans "Download Member Data CSV" %}");
            }
        });
    });
    $('#invite_code_toggle').change(function(){
        var checked = $(this).is(':checked');
        $.ajax({
            url: '{% url 'autosignup:invite_code_settings' %}',
            type: 'POST',
            data: {'id': {{ accountprovider.id }}, 'toggle_invite': checked?'on':'off'},
            success: function (data) {
                console.log('success');
            }
        });
    });
    $("#invite_code_submit").click(function(){
        var code = $("#invite_code_value").val();
        $.ajax({
            url: '{% url 'autosignup:invite_code_settings' %}',
            type: 'POST',
            data: {'id': {{ accountprovider.id }}, 'invite_code': code},
            success: function (data) {
                $('.top-right').notify({
                    message: { text: 'Code changed successfully' },
                    type: 'success'
                }).show();
            }
        });
    });
    </script>
{% endblock %}
