{% load i18n %}
{% if signups %}
<div class="col-md-3">
    <div class="signups-member-wrapper customscroll">
        <h4>{% trans "Members" %}</h4>
        <hr>
        {% for signup in signups  %}
        <ul class="signups">
            <li class='signup' data-signup-id='{{ signup.id }}'>{{ signup.user.username }}</li>
        </ul>
        {% endfor %}
    </div>
    <div class="signup-actions">
        <a href="{% url 'autosignup:signups_settings' %}" class="btn btn-block btn-flat btn-danger">{% trans "Settings" %}</a>
    </div>
</div>
<div class="col-md-9">
    {% for signup in signups  %}
        {% if forloop.counter == 1 %}
            {% include "autosignup/signupinfo.html" %}
        {% endif %}
    {% endfor %}
</div>
{% else %}
<div class="col-md-12 text-center">
    <h4>{% trans "No signups yet!! " %}</h4>
</div>
{% endif %}
