{% load i18n %}
<div class="signup-data customscroll">
    <div class="text-center">
        <h4>{{ signup.user.username }}</h4>
    </div>
    <hr>
    <h4>ID: {{ signup.id }}</h4>
    <hr>
    <h4>Fullname: {{ signup.user.first_name }} {{ signup.user.last_name }}</h4>
    <hr>
    <h4>Email: {{ signup.useremail }} <span class="label label-success">{% trans "Validated" %}</span></h4>
    {% if globalemails %}
    <p>
        <span class="fa fa-exclamation-triangle text-red"></span>
        {% trans "This email id was used for these previous signup " %}
        <ul>
            {% for sign in globalemails %}
                <li class="signup" data-signup-id={{ sign.id }}>
                    {% if sign.user.get_full_name %}
                        {{ sign.user.get_full_name }}
                    {% else %}
                        {{ sign.user.username }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    <hr>
    <h4>Phone No: {{ signup.userphone }} <span class="label label-info">{% trans "Mobile" %}</span> {% if signup.not_verifiable_number %}<span class="label label-warning">{% trans "Not a Verifiable No" %}</span>{% else %}<span class="label label-success">{% trans "Validated" %}</span>{% endif %}</h4>
    {% if globalphones %}
    <p>
        <span class="fa fa-exclamation-triangle text-red"></span>
        {% trans "This phone number was used for these previous signup " %}
        <ul>
            {% for sign in globalphones %}
                <li class="signup" data-signup-id={{ sign.id }}>
                    {% if sign.user.get_full_name %}
                        {{ sign.user.get_full_name }}
                    {% else %}
                        {{ sign.user.username }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </p>
    {% endif %}
    <hr>
    <h4>Profile link: <a href="{% url 'publicusers:user' signup.user.id %}">{{ signup.user.username }}</a></h4>
    <hr>
    {% if signup.userimage %}
    <h4>Uploaded image:</h4>
    <img src="{{ signup.userimage.url }}" width="400" height="400" />
    <hr>
    <h4>Image Data: {{ signup.image_gps_metadata }}</h4>
    <hr>
    {% endif %}
    {% for address in signup.useraddresses.all %}
        {% if address.address_type == 'db' %}
        <h4>Info from User Data Base</h4>
        <blockquote>
            <p>
                House Number: {{ address.house_number }}
            </p>
            <p>
                Street: {{ address.street }}
            </p>
            <p>
                City: {{ address.city }}
            </p>
            <p>
                State: {{ address.state }}
            </p>
            <p>
                Country: {{ address.country }}
            </p>
            <p>
                Zip Code: {{ address.zip_code }}
            </p>
        </blockquote>
        <hr>
        {% endif %}
    {% endfor %}
    {% for address in signup.useraddresses.all %}
        {% if address.address_type == 'twilio' %}
        <h4>Info from Twilio Data Base</h4>
        <blockquote>
            <p>
                House Number: {{ address.house_number }}
            </p>
            <p>
                Street: {{ address.street }}
            </p>
            <p>
                City: {{ address.city }}
            </p>
            <p>
                State: {{ address.state }}
            </p>
            <p>
                Country: {{ address.country }}
            </p>
            <p>
                Zip Code: {{ address.zip_code }}
            </p>
        </blockquote>
        <hr>
        {% if signup.distance_db_vs_twilio %}
        <p>
            <span class="fa fa-info-circle text-red"></span>
            {% trans "Distance from database address: " %} {{ signup.distance_db_vs_twilio }} {% trans " KM" %}
        </p>
        {% endif %}
        {% endif %}
    {% endfor %}
    {% for address in signup.useraddresses.all %}
        {% if address.address_type == 'geoip' %}
        <h4>Info from GeoIP Data Base</h4>
        <blockquote>
            <p>
                House Number: {{ address.house_number }}
            </p>
            <p>
                Street: {{ address.street }}
            </p>
            <p>
                City: {{ address.city }}
            </p>
            <p>
                State: {{ address.state }}
            </p>
            <p>
                Country: {{ address.country }}
            </p>
            <p>
                Zip Code: {{ address.zip_code }}
            </p>
        </blockquote>
        <hr>
        {% endif %}
    {% endfor %}
    <h4>Status: {{ signup.status }}</h4>
    <hr>
    {% if signup.auto_signup_fail_reason %}
        <h4>Reason for failed autosignup: {{ signup.auto_signup_fail_reason }}</h4>
        <hr>
    {% endif %}
    <h4>
        Signup Date: {{ signup.signup_date|date:"Y-m-d" }}
    </h4>
    <hr>
    <h4>
        Verified Date: {{ signup.verified_date|date:"Y-m-d" }}
    </h4>
    <hr>
    {% if signup.user.profile.referred_by %}
    <h4>
        Referred By: <a href="{% url 'publicusers:user' signup.user.profile.referred_by.id %}">{{ signup.user.profile.referred_by.username }}</a></h4>
    </h4>
    <hr>
    {% endif %}
    <h4>
        Referral Code: {{ signup.user.referral_code }}
    </h4>
    <hr>
    <h4>
        Wallet Address: {{ signup.wallet_address }}
    </h4>
    <hr>
    <h4>
        On Distribution: {{ signup.is_on_distribution }}
    </h4>
</div>
<div class="signup-actions">
    <div class="pull-right">
        <button class="btn btn-flat btn-danger" id='delete' data-signup-id='{{ signup.id }}'>{% trans "Delete" %}</button>
        <button class="btn btn-flat btn-primary" id='edit' data-signup-id='{{ signup.id }}'>{% trans "Edit" %}</button>
        <button class="btn btn-flat btn-warning" id='history' data-signup-id='{{ signup.id }}'>{% trans "History" %}</button>
        {% ifequal signup.status 'approved'  %}
            <button class="btn btn-flat btn-info" id='rapproval' data-signup-id='{{ signup.id }}'>{% trans "Resend Approval Email" %}</button>
        {% endifequal %}
        {% if signup.invitation %}
            <button class="btn btn-flat btn-info" id='sinvitation' data-invitation-id={{ signup.invitation.id }}>{% trans "Send Invitation Email" %}</button>
        {% endif %}
    </div>
</div>
