{% load i18n %}
{% if histories %}
{% for history in histories %}
<div class="row">
    <div class="col-md-4 col-md-offset-8">
        <p>
            Change Date: {{ history.history_date }}
        </p>
        <p>
            Changed by: {{ history.history_user }}
        </p>
        <button class="btn btn-xs btn-danger" onclick="revertToHistory('{{ history.history_id }}', '{{ history.history_object.id }}', '{{ history.history_date }}')">Revert to this</button>
        <hr>
    </div>
    <div class="col-md-12">
        <div>
            <h4>Fullname: {{ history.user.first_name }} {{ history.user.last_name }}</h4>
            <hr>
            <h4>Email: {{ history.useremail }}</h4>
            <hr>
            <h4>Phone No: {{ history.userphone }}</h4>
            <hr>
            <h4>Info from User Data Base</h4>
            <blockquote>
                {{ history.useraddress_in_db }}
            </blockquote>
            <hr>
            <h4>Status: {{ history.status }}</h4>
            <hr>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
    <p>
        {% trans "This signup is not associated with any history" %}
    </p>
{% endif %}
