{% extends "base.html" %}
{% load i18n staticfiles compress %}
{% block title %}
    {% trans "Signups" %}
{% endblock %}
{% block content_header_new %}
    <section class="content-header-new no-search-bar">
        <div class="col-md-4">
            <h1>
                {% trans "Signups" %}<br>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#">{% trans "Signups" %}</a></li>
            </ol>
        </div>
        {% comment %}
        <div class="col-md-6">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search..." id="liveSearch">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-content-header btn-content-search"><i class="fa fa-search"></i></button>
                </span>
                <span class="input-group-btn filterbtn">
                    <button type="submit" class="btn btn-content-header"><i class="fa fa-filter"></i></button>
                </span>
            </div>
        </div>
        {% endcomment %}
    </section>
{% endblock content_header_new %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="box box-solid">
                <div class="box-header with-border"> 
                    <h3 class="box-title">{% trans "Signups" %}</h3>
                    <div class="box-tools pull-right">
                        <form class="form-inline">
                            Search: <input type="text" placeholder="Type username or email to search" class="form-control" id="qsignup">
                            Filter By:
                            <select class="selectpicker" id="sfilter">
                                <option value="pending">{% trans "Pending" %}</option>
                                <option value="approved">{% trans "Approved" %}</option>
                                <option value="declined">{% trans "Declined" %}</option>
                                <option value="incomplete">{% trans "Incomplete" %}</option>
                            </select>
                        </form>
                    </div><!-- /.box-tools -->
                </div>
                <div class="box-body" style="min-height: 500px" id="signupboxbody">
                    {% if signups %}
                    <div class="col-md-3">
                        <div class="signups-member-wrapper customscroll">
                            <h4>{% trans "Members" %}</h4>
                            <hr>
                            {% for signup in signups  %}
                            <ul class="signups">
                                <li class='signup' data-signup-id='{{ signup.id }}'>{{ signup.user.username }}</li>
                            </ul>
                            {% endfor %}
                        </div>
                        <div class="signup-actions">
                            <a href="{% url 'autosignup:signups_settings' %}" class="btn btn-block btn-flat btn-danger">{% trans "Settings" %}</a>
                        </div>
                    </div>
                    <div class="col-md-9" id="signup-wrapper">
                        {% for signup in signups  %}
                            {% if forloop.counter == 1 %}
                                {% include "autosignup/signupinfo.html" %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="col-md-12 text-center">
                        <h4>{% trans "No signups yet!! " %}</h4>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block extrascripts %}
    {% compress js %}
    <script type="text/javascript">
        function revertToHistory(history_id, history_object_id, history_date) {
            var ans = confirm('This will change signup data to ' + history_date + '\n' + 'Are you sure?');
            if (ans) {
                $.ajax({
                    url: '{% url 'autosignup:revert_to_history' %}',
                    type: 'POST',
                    data: {'history_id': history_id, 'history_object_id': history_object_id},
                    success: function(data) {
                        $('.top-right').notify({
                            message: { text: 'Signup data reverted to ' + history_date },
                            type: 'success'
                        }).show();
                    },
                    error: function (data) {
                        $('.top-right').notify({
                            message: { text: 'Something went wrong!! Try again later' },
                            type: 'warning'
                        }).show();
                    }
                });
            }
        }
        function getSignup(signup_id) {
            $.ajax({
                url: '{% url 'autosignup:signups' %}',
                type: 'GET',
                data: {'signup_id': signup_id},
                success: function(data){
                    $('#signup-wrapper').html(data);
                }
            });
        }
        $(document).ready(function(){
            $(document).on('click', '.signup', function(){
                var signup_id = $(this).attr('data-signup-id');
                getSignup(signup_id);
            });
            $(document).on('click', '#delete', function(){
                var signup_id = $(this).attr('data-signup-id');
                swal({
                    title: "You are about to delete this account record.",
                    text: "Do you want to delete this record?",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    closeOnConfirm: false
                },
                function(){
                    $.ajax({
                        url: '{% url 'autosignup:delete_signup' %}',
                        type: 'POST',
                        data: {'signup_id': signup_id},
                        success: function(data){
                            swal({
                                title: "Deleted!",
                                text: "Record has been deleted.",
                                type: "success"
                            }, function () {
                                location.reload();
                                }
                            );
                        }
                    });
                });
                return false;
            });
            $(document).on('click', '#rapproval', function(){
                var signup_id = $(this).attr('data-signup-id');
                $.ajax({
                    url: '{% url 'autosignup:resend_approval' %}',
                    type: 'POST',
                    data: {'signup_id': signup_id},
                    success: function(data){
                        $('.top-right').notify({
                            message: { text: 'Approval email resend successful' },
                            type: 'success'
                        }).show();
                    }
                });
            });
            $(document).on('click', '#sinvitation', function(){
                var invitation_id = $(this).attr('data-invitation-id');
                $.ajax({
                    url: '{% url 'autosignup:send_member_invitation' %}',
                    type: 'POST',
                    data: {'invitation_id': invitation_id},
                    success: function(data){
                        $('.top-right').notify({
                            message: { text: 'Invitation Resend Done' },
                            type: 'success'
                        }).show();
                    }
                });
            });
            $(document).on('click', '#edit', function(){
                var signup_id = $(this).attr('data-signup-id');
                $.ajax({
                    url: 'edit_signup/' + signup_id + '/',
                    type: 'GET',
                    success: function(data){
                        $('#signup-wrapper').html(data);
                    }
                });
            });
            $(document).on('click', '#history', function(){
                var signup_id = $(this).attr('data-signup-id');
                $.ajax({
                    url: 'get_histories/' + signup_id + '/',
                    type: 'GET',
                    success: function(data){
                        $('#signup-wrapper').html(data);
                    }
                });
            });
            $(document).on('click', '#save', function(){
                var frm = $('#signupeditform');
                $.ajax({
                    url: frm.attr('action'),
                    type: 'POST',
                    data: frm.serialize(),
                    success: function (signup_id) {
                        getSignup(signup_id);
                    },
                    error: function(data) {
                        frm.html(data.responseText);
                    }
                });
                return false;
            });
            $(document).on('click', '#canceledit', function(){
                var signup_id = $(this).attr('data-signup-id');
                getSignup(signup_id);
                return false;
            })
            $(document).on('click', '#fetchtwilio', function(){
                var signup_id = $(this).attr('data-signup-id');
                $(this).text("{% trans "Fetching..." %}");
                $.ajax({
                    url: '{% url 'autosignup:refetch_twilio_data' %}',
                    type: 'POST',
                    data: {'id': signup_id},
                    success: function () {
                        getSignup(signup_id);
                    },
                    error: function () {
                        getSignup(signup_id);
                    }
                });
                return false;
            })
        });
        $('#signup_status').change(function(){
            var checked = $(this).is(':checked');
            $.ajax({
                url: '{% url 'autosignup:set_signup_status' %}',
                type: 'POST',
                data: {'status': checked?'on':'off'},
            });
        });
        $("#sfilter").on('change', function() {
            var value = $(this).val();
            $("#signupboxbody").load('{% url 'autosignup:filter_signup' %}?sfilter=' + value);
        })
        $("#qsignup").on('keyup', function(){
            var query = $(this).val();
            var sfilter = $('#sfilter').val();
            if (query.length > 1) {
                $("#signupboxbody").load('{% url 'autosignup:search_signup' %}?sfilter=' + sfilter + '&query=' + encodeURIComponent(query));
            }
            else {
                $("#signupboxbody").load('{% url 'autosignup:filter_signup' %}?sfilter=' + sfilter);
            }
        });
        $(".sidebar-menu-tab>li[data-name='group']").click();
    </script>
    {% endcompress %}
{% endblock %}
