viewport-size(n = 100)
	width  unit(n, 'vw')
	height unit(n, 'vh')

layer(zIndex= 1, _top= 0 , _right= 0, _bottom= 0, _left= 0)
	position absolute
	top _top
	left _left
	right _right
	bottom _bottom
	z-index zIndex

fixed-layer(zIndex= 1, _top= 0 , _right= 0, _bottom= 0, _left= 0)
	position absolute
	top _top
	left _left
	right _right
	bottom _bottom
	z-index zIndex