:local(.container)
    display flex
    flex-direction column
    justify-content center
    align-items center
    height 100%
    margin-bottom 50px
    .error-code
        color #d3302f
        font-size 150px
        margin 0
        line-height 1
    .error-message
        margin 0
        font-size 20px
        color #979797
