{% load staticfiles i18n %}
{% if show_profile %}
<div class="row">
    <h4>{% trans "Profile Images" %}</h4>
    <hr>
    <div class="col-md-3 text-center" style="margin-top:10px">
        <div class="document-images">
            <img src="{{ request.user.profile.avatar.url }}" alt="">
            <div class="document-image-overlay" data-img-id="p">
                <i class="fa fa-trash-o fa-2x"></i>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="row">
    {% if images %}
        <h4>{% trans "Images" %}</h4>
        <hr />
        {% for image in images %}
        <div class="col-md-3 text-center" style="margin-top:10px">
            <div class="document-images">
                <img src="{{ image.document.url }}" alt="">
                <div class="document-image-overlay" data-img-id={{ image.id }}>
                    <i class="fa fa-trash-o fa-2x"></i>
                </div>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
<div class="row">
    {% if documents %}
        <h4>{% trans "Documents" %}</h4>
        <hr>
        {% for document in documents %}
        <div class="col-md-3 text-center" style="margin-top:10px">
            <div>
                <i class="fa fa-3x fa-file"></i>
            </div>
            <div style="overflow:hidden">
                <a href="{{ document.document.url }}">{{ document.filename }}</a>
            </div>
        </div>
        {% endfor %}
    {% endif %}
</div>
{% if show_legal %}
<div class="row">
    <h4>{% trans "Legal" %}</h4>
    <hr>
    <div class="col-md-3" style="margin-top:10px">
        <div>
            <i class="fa fa-3x fa-file"></i>
        </div>
        <div>
            <a href="#">User Agreement.pdf</a>
        </div>
    </div>
    <div class="col-md-3" style="margin-top:10px">
        <div>
            <i class="fa fa-3x fa-file"></i>
        </div>
        <div>
            <a href="{% static "dist/files/disclaimer.pdf" %}">Disclaimer.pdf</a>
        </div>
    </div>
</div>
{% endif %}
