{% load staticfiles i18n %}
{% if request.user.profile.avatar %}
    <img src="{{ request.user.profile.avatar.thumbnail.128x128 }}" class="profile-user-img img-responsive img-circle" alt="User Image">
    <a data-target="#imgModal" data-toggle="modal" class="profile-edit"><i class="fa fa-pencil"></i></a>
{% else %}
    <img src="{% static "dist/img/placeholder-user.png" %}" width="128" height="128" class="profile-user-img img-responsive img-circle" alt="User Image">
    <a data-target="#imgModal" data-toggle="modal" class="profile-edit" id="avatar"><i class="fa fa-pencil"></i></a>
{% endif %}
<strong><i class="fa fa-user margin-r-5"></i>{% trans "Username" %}</strong>

<p class="text-muted">
    {{ request.user.username }}
</p>

<hr>

<strong><i class="fa fa-circle-o margin-r-5"></i>{% trans "Name" %}</strong>

<p class="text-muted">{{ request.user.get_full_name }}</p>

<hr>

<strong><i class="fa fa-mars margin-r-5"></i>{% trans "Gender" %}</strong>

<p class="text-muted" id="pgen">
    {% if request.user.profile.gender %}
        {{ request.user.profile.get_gender_display }} 
    {% else %} 
        Not Specified
    {% endif %}
</p>
{% comment %}
<hr>
<strong><i class="fa fa-circle-o margin-r-5"></i>{% trans "Account type" %}</strong>
<p class="text-muted">{{ request.user.profile.account_type }}</p>
{% endcomment %}
<hr>
<strong><i class="fa fa-users margin-r-5"></i>{% trans "Community" %}</strong>

<p class="text-muted"><img src="{% static "dist/img/brand-logo.png" %}" width="15" height="15" alt="Community Logo">&nbsp;&nbsp;None</p>
<hr>
<strong><i class="fa fa-globe margin-r-5"></i>{% trans "Website" %}</strong>

<p class="text-muted">{{ request.user.profile.website }}</p>
