{% load staticfiles i18n bip_extras %}
{% if request.user.profile.avatar %}
    <img src="{{ request.user.profile.avatar.thumbnail.128x128 }}" class="profile-user-img img-responsive img-circle useravatar" alt="User Image" data-target="#imgModal" data-toggle="modal">
{% else %}
    <div class="default-avatar default-avatar-profile-info" data-target="#imgModal" data-toggle="modal" id="avatar" style="background: {{ request.user.profile.default_avatar_color }}">
        <div class="default-avatar-text-wrapper">
            <div class="default-avatar-text">
                {% user_initial request.user %}
            </div>
        </div>
    </div>
{% endif %}
<strong><i class="fa fa-user margin-r-5"></i>{% trans "Username" %}</strong>

<p class="text-muted">
    {{ request.user.username }}
</p>

<hr>

<strong><i class="fa fa-circle-o margin-r-5"></i>{% trans "Name" %}</strong>

<p class="text-muted">{{ request.user.get_full_name }}</p>

<hr>

<strong><i class="fa fa-mars margin-r-5"></i>{% trans "Gender" %}</strong>

<p class="text-muted" id="pgen">
    {% if request.user.profile.gender %}
        {{ request.user.profile.get_gender_display }}
    {% else %}
        Not Specified
    {% endif %}
</p>
{% comment %}
<hr>
<strong><i class="fa fa-circle-o margin-r-5"></i>{% trans "Account type" %}</strong>
<p class="text-muted">{{ request.user.profile.account_type }}</p>
{% endcomment %}
<hr>
<strong><i class="fa fa-users margin-r-5"></i>{% trans "Community" %}</strong>

<p class="text-muted"><img src="{% static "dist/img/brand-logo.png" %}" width="15" height="15" alt="Community Logo">&nbsp;&nbsp;None <i class="fa fa-lock text-red" style="margin-left: 70%;"></i></p>
<hr>
<strong><i class="fa fa-globe margin-r-5"></i>{% trans "Website" %}</strong>

<p class="text-muted">{{ request.user.profile.website }}</p>
<hr>
<strong><i class="fa fa-user"></i> {% trans "About me" %}</strong>
<p class="text-muted">
    {{ request.user.profile.about_me }}
</p>
