{% if facebook_added %}
<div class="col-md-4">
    <button class="btn btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Facebook</button>
</div>
{% endif %}
{% if google_added %}
<div class="col-md-4">
    <button class="btn btn-block btn-social btn-google"><i class="fa fa-google"></i> Google</button>
</div>
{% endif %}
{% if twitter_added %}
<div class="col-md-4">
    <button class="btn btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i> Twitter</button>
</div>
{% endif %}
